<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Gestão de Tags</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/tags">
                            <strong>Tags</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="new-tag panel panel-default color-strong-panel">
    <div class="panel-body">
        <div class="form-group col-md-6">
            <input type="text" ng-model="tagsCtrl.nameNewTag" placeholder="Nome da tag" class="form-control">
        </div>
        <div uib-tooltip="Inserir tag" class="btn btn-success" ng-click="tagsCtrl.createTag()">Inserir</div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered" datatable dt-instance="tagsCtrl.dtInstance" dt-options="tagsCtrl.dtOptions" dt-columns="tagsCtrl.dtColumns">
                <thead>
                    <tr>
                        <th class="col-xs-5">Nome</th>
                        <th class="col-xs-2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" ng-repeat="tag in tagsCtrl.tags" class="odd">
                        <td> {{ tag.name }} </td>
                        <td class="table-fit">
                            <a uib-tooltip="Editar" class="btn btn-warning" ng-click="tagsCtrl.openEditTag(tag)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a uib-tooltip="Excluir" ng-click="tagsCtrl.removeTag(tag.id, tag.name)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>