<div class="modal-header">
    <h3 class="modal-title">Widget</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Título</label>
				<input class="form-control" type="text" ng-model="article.title">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Subtítulo</label>
				<input class="form-control" type="text" ng-model="article.subtitle">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Nome do Autor</label>
				<input class="form-control" type="text" ng-model="article.author_name">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Número da Página</label>
				<input class="form-control" type="text" ng-model="article.page_number">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		   	<div class="form-group">
		   		<label for="">Tags:</label>
		   		<ui-select multiple tagging tagging-tokens="," tagging-label="" 
				ng-model="article.tags" 
				theme="bootstrap" 
				sortable="true" 
				ng-disabled="disabled" 
				title="Digite uma tag">
    				<ui-select-match 
    				placeholder="Selecione as tags">{{$item}}</ui-select-match>
    				<ui-select-choices 
    				repeat="color in availableColors | filter:$select.search">
				      {{color}}
				    </ui-select-choices>
  				</ui-select>
		   </div>
	   </div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Capa</label>
				<div class="pages-module article-cover-thumb">
					<div ng-show="!article.cover" class="add-module">
						+<br> 
						Capa Digitalizada
						<div class="tac">
							<br>
							<button
							class="btn btn-primary"
							ngf-accept="'image/*'" 
							ngf-select 
							ng-model="article_cover" 
							ngf-multiple="false">Carregar Imagem</button>
						</div>
					</div>
					<div ng-show="article.cover">
						<div class="chosen-cover">
							<span class="label label-danger remove-image" ng-click="removeImage('cover')">
								<span class="fa fa-remove"></span> REMOVER IMAGEM
							</span>
						</div>
						<div class="uploaded-image">
							<img ng-src="{{article.cover_url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="">Thumb</label>
				<div class="pages-module article-cover-thumb">
					<div ng-show="!article.thumb" class="add-module">
						+<br> 
						Capa Digitalizada
						<div class="tac">
							<br>
							<button
							class="btn btn-primary"
							ngf-accept="'image/*'" 
							ngf-select 
							ng-model="article_thumb" 
							ngf-multiple="false">Carregar Imagem</button>
						</div>
					</div>
					<div ng-show="article.thumb">
						<div class="chosen-cover">
							<span class="label label-danger remove-image" ng-click="removeImage('thumb')">
								<span class="fa fa-remove"></span> REMOVER IMAGEM
							</span>
						</div>
						<div class="uploaded-image">
							<img ng-src="{{article.thumb_url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="">Conteúdo</label>
				<textarea 
				ng-model="article.content" 
				redactor="redactorConfig" 
				cols="30" 
				rows="10"></textarea>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button 
    class="btn btn-success" 
    ng-click="ok()">Salvar</button>
</div>
