<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-file-text-o"></i> Adicionar Artigo</h4>
</div>

<div class="modal-body" can-get>
  <form class="form" name="formArticle" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group"
                 ng-class="{'has-error': formArticle.title.$error.required && !formArticle.title.$valid}">
                <label>T&iacute;tulo</label>
                <input class="form-control"
                       type="text"
                       ng-model="article.title"
                       name="title"
                       required>

                <div ng-show="!formArticle.title.$valid" class="error-message" role="alert">
                  <div ng-show="formArticle.title.$error.required">Campo obrigatório</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Slug</label>
                <input class="form-control"
                       type="text"
                       ng-model="article.slug.slug"
                       name="slug">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Bigode</label>
                <input class="form-control" type="text" ng-model="article.subtitle">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="form-group">
                <label>Nome do Autor</label>
                <input type="text" class="form-control" ng-model="article.author_name">
            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                <label>N&uacute;mero da P&aacute;gina</label>
                <input type="text" class="form-control" ng-model="article.page_number">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label>Thumb</label>
                <input type="file" class="form-control" ngf-select ng-model="article_thumb" ngf-multiple="false"
                       ng-show="!article.thumb" style="height:auto">

                <div class="clearfix form-control" ng-show="article.thumb">
                    <div class="pull-left">{{ article.thumb_url }}</div>

                    <div class="pull-right">
                        <span class="label label-danger remove-image-news"
                              ng-show="article.thumb"
                              ng-click="removeImage('thumb')">
                            <i class="fa fa-remove"></i> REMOVER
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Capa</label>
                <div class="pages-module add-module edition-bg-thumb">
                    <div class="add-title" ng-show="!article.cover"
                         ng-click="uploadImage('cover')">+ Adicionar Capa
                    </div>

                    <div ng-show=article.cover>
                        <div class="chosen-cover">
                            <span class="label label-danger remove-image" ng-click="removeImage('cover')">
                                <i class="fa fa-remove"></i> REMOVER IMAGEM
                            </span>
                        </div>

                        <div class=uploaded-image>
                            <img class="img-responsive" ng-src="{{ article.cover_url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <tags-input-component resource="'editions'" add-on-comma="false" ng-model-tags="article.tags"></tags-input-component>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Conte&uacute;do</label>
                <div ng-if="viewOnly" id="redactor-only"></div>
                <textarea cols="30" rows="10"
                          ng-model="article.content"
                          ng-if="!viewOnly"
                          redactor
                          imagencrop-options="imagencropOptions"
                          audioUpload-options="audioUploadOptions"
                          uploadfiles-options="uploadfilesOptions"></textarea>
            </div>
        </div>
    </div>
</div>
</form>

<div class="modal-footer" ng-if="viewOnly">
  <button class="btn btn-gray" ng-click="cancel()">Voltar</button>
</div>

<div class="modal-footer" ng-if="!viewOnly">
  <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar</button>
    <button class="btn btn-success"
            ng-click="ok()">
        <i class="fa fa-check"></i> Inserir
    </button>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
