<div class=modal-header>
    <h3 class="modal-title"
        ng-if="type == 'add'">Adicionar novo registro</h3>
    <h3 class="modal-title"
        ng-if="type == 'edit'">Editar registro</h3>
</div>

<div class="modal-body">
    <form class="form">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Local</label>
                            <select class="form-control"
                                    ng-model="newRegister.regional"
                                    ng-options="regional_item.id as regional_item.name for regional_item in regional">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Descri&ccedil;&atilde;o do evento</label>

                            <input type="text" class="form-control"
                                   ng-model="newRegister.description">
                        </div>
                    </div>
                </div>

                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label><span class="fa fa-calendar"></span>Data de In&iacute;cio</label>
                                <input type="text" class="form-control"
                                       ng-model="newRegister.init_date">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="newRegister.highlight"
                                           ng-checked="newRegister.highlight">
                                    <strong>Registro em destaque</strong>
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label><span class="fa fa-calendar"></span>Data de fim</label>
                                <input type="text" class="form-control"
                                       ng-model="newRegister.end_date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class=modal-footer>
    <button class="btn btn-danger"
            ng-click="cancel()">Cancelar</button>

    <button class="btn btn-success"
            ng-disabled="!newRegister.regional && !newRegister.description && !newRegister.init_date"
            ng-click="ok()">
        Salvar
    </button>
</div>
