<div class=modal-header>
    <h3 class="modal-title" ng-if="type == 'add'">Adicionar novo registro</h3>
    <h3 class="modal-title" ng-if="type == 'edit'">Editar registro</h3>
</div>
<div class="modal-body">
    <form class="form" name="formCalendar" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group"
                             ng-class="{'has-error': formCalendar.regional.$error.required && !formCalendar.regional.$valid}">
                            <label>Local</label>
                            <select class="form-control"
                                    ng-model="newRegister.regional"
                                    name="regional"
                                    required>
                                <option value="0">Todos os campus</option>
                                <option ng-repeat="regional_item in regional" value="{{ regional_item.id }}">{{ regional_item.name }}</option>
                            </select>

                            <div ng-show="!formCalendar.regional.$valid" class="error-message" role="alert">
                              <div ng-show="formCalendar.regional.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group"
                             ng-class="{'has-error': formCalendar.description.$error.required && !formCalendar.description.$valid}">
                            <label>Descri&ccedil;&atilde;o do evento</label>
                            <textarea type="text"
                                      rows="10"
                                      class="form-control"
                                      ng-model="newRegister.description"
                                      required
                                      name="description">

                            <div ng-show="!formCalendar.description.$valid" class="error-message" role="alert">
                              <div ng-show="formCalendar.description.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group"
                             ng-class="{'has-error': formCalendar.initDate.$error.required && !formCalendar.initDate.$valid}">
                            <label><i class="fa fa-calendar"></i> Data de In&iacute;cio</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="newRegister.init_date"
                                   ui-mask="99/99/9999"
                                   model-view-value="true"
                                   name="initDate"
                                   required>

                           <div ng-show="!formCalendar.initDate.$valid" class="error-message" role="alert">
                             <div ng-show="formCalendar.initDate.$error.required">Campo obrigatório</div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group"
                             ng-class="{'has-error': formCalendar.endDate.$error.required && !formCalendar.endDate.$valid}">
                            <label><i class="fa fa-calendar"></i> Data de fim</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="newRegister.end_date"
                                   ui-mask="99/99/9999"
                                   model-view-value="true"
                                   name="endDate"
                                   required>

                           <div ng-show="!formCalendar.endDate.$valid" class="error-message" role="alert">
                             <div ng-show="formCalendar.endDate.$error.required">Campo obrigatório</div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <label>
                        <input type="checkbox" ng-model="newRegister.highlight" ng-checked="newRegister.highlight">
                        <strong>Registro em destaque</strong>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class=modal-footer>
    <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar</button>
    <button class="btn btn-success" ng-disabled="!newRegister.regional && !newRegister.description && !newRegister.init_date" ng-click="ok()">
        <i class="fa fa-check"></i> Salvar
    </button>
</div>
