<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Confirmação</h4>
</div>

<div class="modal-body">
    <p ng-bind-html="modal_title"></p>
</div>


<div ng-if="options.isDanger" class="modal-footer">
    <button class="btn btn-default"
            ng-click="ok()"><i class="fa fa-check"></i> Sim
    </button>

    <button class="btn btn-primary"
            ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar
    </button>
</div>

<div ng-if="!options.isDanger" class="modal-footer">
    <button class="btn btn-default"
            ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar
    </button>

    <button class="btn btn-success"
            ng-click="ok()"><i class="fa fa-check"></i> Sim
    </button>
</div>
