html
  body
    .modal-header
      h4.modal-title {{modal_title}}
    .modal-footer
      button.btn.btn-danger(ng-click='cancel()') Cancelar
      |     
      button.btn.btn-success(ng-click='ok()') Sim
