<div class="modal-header">
    <h4 class="modal-title" ng-bind-html="title"></h4>
</div>

<div class="modal-body">
    <div class="form-group">
        <label ng-bind-html="label"></label>
        <input type="text" class="form-control" ng-model="value">
    </div>
</div>


<div class="modal-footer">
    <button class="btn btn-default"
            ng-click="confirm()"><i class="fa fa-check"></i> Confirmar
    </button>

    <button class="btn btn-primary"
            ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar
    </button>
</div>
