<form name="formPasswordChange" ng-submit="save(formPasswordChange.$valid)">
    <div class="modal-header">
        <h3 class=modal-title>Alteração de senha</h3>
    </div>
    <div class="modal-body modal__scroll--default">
        <div class="row">
            <div class="form-group" ng-class="{'has-error':(formPasswordChange.$submitted || formPasswordChange.password.$touched) && (formPasswordChange.password.$error.required)}">
                <label for="password">Senha:</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="password" required>
                <div class="error-message" ng-show="formPasswordChange.$submitted || formPasswordChange.password.$touched">
                    <span ng-show="formPasswordChange.password.$error.required">Campo nome é obrigatório.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':(formPasswordChange.$submitted || formPasswordChange.passwordCheck.$touched) && (formPasswordChange.passwordCheck.$error.required)}">
                <label for="passwordCheck">Confirmação de senha:*</label>
                <input id="passwordCheck" name="passwordCheck" type="password" ng-model="passwordCheck" class="form-control">
                <div class="error-message" ng-show="formPasswordChange.$submitted || formPasswordChange.passwordCheck.$touched">
                    <span ng-show="formPasswordChange.passwordCheck.$error.required">Campo nome é obrigatório.</span>
                    <span ng-show="passwordCheck != password">Essas senhas não coincidem. Tentar novamente.</span>
                </div>
            </div>
        </div>
    </div>
    <div class=modal-footer>
        <button ng-if="!isLogin" class="btn btn-danger" type="button" ng-click="cancel()">
            <i class="fa fa-close"></i>Cancelar
        </button>
        <button class="btn btn-success" type="submit" ng-disabled="passwordCheck != password || passwordCheck === ''">
            <i class="fa fa-check"></i> Salvar
        </button>
    </div>
</form>
