<div class="modal-header">
    <h3 class="modal-title">Widget - {{ widget.type }}</h3>
</div>

<div class="modal-body">
    <form action="">
        <fieldset>
            <div class="form-group">
                <label>Título do Widget:</label>

                <input type="text" class="form-control" title="Título do Widget"
                       ng-model="widget.title">
            </div>

            <div class="form-group"
                 ng-if="!module">
                <label>Módulo:</label>

                <ui-select ng-model="widget.selected">
                    <ui-select-match placeholder="Buscar Widget">
                        {{ $select.selected.label }}
                    </ui-select-match>

                    <ui-select-choices repeat="widget in widgets|filter: $select.search">
                        <div ng-bind-html="widget.label|highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- Insert partial dynamically acording to widget type -->
            <div onload="preparePartial($event)"
                ng-if="widget.type !== ''"
                ng-include="'partials/{0}.html'|format:widget.type"></div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger"
            ng-click="cancel()">Cancelar</button>

    <button type="button" class="btn btn-success"
            ng-disabled="widget.title == '' || widget.type == ''"
            ng-click="ok()">Salvar
    </button>
</div>
