html
  body
    .modal-header
      h3.modal-title
        | Editar Imagens
        small(ng-show='photos.length != 1') ({{currentPhotoIdx+1}}/{{photos.length}})
    .modal-body(ng-repeat='photo in photos', ng-show='currentPhoto.file == photo.file')
      // TEla 4 - iNFO - modal
      .row
        .col-xs-8.tac
          img(ng-src='{{photo.file.url}}', style='max-width: 100%; height: auto;')
        .col-xs-4
          .btn-group(ng-show='photos.length != 1')
            button.btn.btn-primary(ng-disabled='currentPhotoIdx == 0', ng-click='previousPhoto(currentPhotoIdx)') &laquo;
            button.btn.btn-primary(ng-disabled='currentPhotoIdx == photos.length-1', ng-click='nextPhoto(currentPhotoIdx)') &raquo;
          .form-group
            label(for='') Autor
            input.form-control(type='text', ng-model='photo.file.author.name')
          .form-group
            label(for='') Legenda
            input.form-control(type='text', ng-model='photo.file.legend')
          //
            <div class="form-group">
            <label for="">Title</label>
            <input type="text" ng-model="photo.title" class="form-control">
            </div>
            <div class="form-group">
            <label for="">Legenda</label>
            <input type="text" ng-model="photo.legend" class="form-control">
            </div>
            <div class="form-group">
            <label for="">Descrição</label>
            <input type="text" ng-model="photo.description" class="form-control">
            </div>
            <div class="form-group">
            <label for="">Texto Alternativo</label>
            <input type="text" ng-model="photo.alt_text" class="form-control">
            </div>
    .modal-footer
      button.btn.btn-danger(ng-click='cancel()')
        | Cancelar
      button.btn.btn-success(ng-click='ok()')
        | Salvar Todas
