html
  body
    .modal-header(ng-init='currentPhoto = photos[0]')
      h3.modal-title
        | Informa&ccedil;&otilde;es da imagem 
        small (1/12)2
    .modal-body(ng-repeat='photo in photos', ng-show='currentPhoto == photo')
      // TEla 4 - iNFO - modal
      .row
        .col-xs-8
          span(ng-click='currentPhoto = photos[0]') &laquo;
          |             
          span(ng-click='currentPhoto = photos[1]') &raquo;
          //
            <div class="crop" ng-show="photo.showCrop">
            <div class="crop-container" style="width: 50%; margin: 0 auto 10px;">
            <div class="crop-mask"></div>
            <img ng-src="{{ photos[0].url }}" style="width: 100%; height: auto;">
            </div>
            <div class="crop-container clearfix">
            <div style="width: 49%; margin-right: 2%; float: left;">
            <div class="crop-mask"></div>
            <img ng-src="{{ photos[0].url }}" class="crop-image">
            </div>
            <div class="crop-container" style="width: 49%; float: left;">
            <div class="crop-mask"></div>
            <img ng-src="{{ photos[0].url }}" class="crop-image">
            </div>
            </div>
            </div>
          img(ng-src='{{photo.url}}', style='width: 100%; height: auto;')
        |         
        .col-xs-4
          .form-group
            label(for='') Autor
            |                 
            input.form-control(type='text', ng-model='photo.author')
          |             
          .form-group
            label(for='') Legenda
            |                 
            input.form-control(type='text', ng-model='photo.caption')
          //
            <div class="clearfix">
            <div class="pull-right">
            <button class="btn btn-danger" ng-click="cancel()">
            Cancelar
            </button>
            <button class="btn btn-success" ng-click="ok()">
            Salvar
            </button>
            </div>
            </div>
    .modal-footer
      //
        <div class="pull-left">
        <button class="btn btn-default" ng-click="photo.showCrop = !photo.showCrop">
        Recorte de Imagens
        </button>
        </div>
      button.btn.btn-danger(ng-click='cancel()')
        | Cancelar
      |     
      button.btn.btn-success(ng-click='ok()')
        | Salvar
