<div class="modal-header">
    <h3 class="modal-title">
        Editar Imagens <small  ng-show="photos.length != 1">({{currentPhotoIdx+1}}/{{photos.length}})</small>
    </h3>
</div>
<div class="modal-body" ng-repeat="photo in photos" ng-show="currentPhoto == photo">
    <!-- TEla 4 - iNFO - modal -->
    <div class="row">
        <div class="col-xs-8 tac">
            <img ng-src="{{photo.url}}" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-xs-4">
            <div class="btn-group" ng-show="photos.length != 1">
                <button class="btn btn-primary" ng-disabled="currentPhotoIdx == 0" ng-click="previousPhoto(currentPhotoIdx)">&laquo;</button>
                <button class="btn btn-primary" ng-disabled="currentPhotoIdx == photos.length-1" ng-click="nextPhoto(currentPhotoIdx)">&raquo;</button>
            </div>
            <div class="form-group">
                <label for="">Autor</label>
                <input type="text" ng-model="photo.author" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Legenda</label>
                <input type="text" ng-model="photo.caption" class="form-control">
            </div>
            <!-- <div class="form-group">
                <label for="">Title</label>
                <input type="text" ng-model="photo.title" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Legenda</label>
                <input type="text" ng-model="photo.legend" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Descrição</label>
                <input type="text" ng-model="photo.description" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Texto Alternativo</label>
                <input type="text" ng-model="photo.alt_text" class="form-control">
            </div> -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">
        Cancelar
    </button>
    <button class="btn btn-success" ng-click="ok()">
        Salvar Todas
    </button>
</div>