<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()"><i class="fa fa-times"></i></button>
    <h4 class="modal-title"><i class="fa fa-picture-o"></i> Inserir Imagem</h4>
</div>

<div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-justified">
        <li ng-class="{active: vm.tabs.home}">
            <a href="javascript:void(0)">
                <span class="visible-xs"><i class="fa-home"></i></span>
                <span class="hidden-xs">Biblioteca de Fotos</span>
            </a>
        </li>

        <li ng-class="{active: vm.tabs.midia}" ng-click="vm.openMidia()">
            <a href="javascript:void(0)">
                <span class="visible-xs"><i class="fa-user"></i></span>
                <span class="hidden-xs">Selecione ou faça upload</span>
            </a>
        </li>

        <li ng-class="{active: vm.tabs.crop}">
            <a href="javascript:void(0)">
                <span class="visible-xs"><i class="fa-envelope-o"></i></span>
                <span class="hidden-xs">Edição de imagem</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- Biblioteca de Midia -->
        <div class="tab-pane text-center pictureLib" id="home"
             ng-class="{active: vm.tabs.home}">
            <a class="btn btn-secondary" ng-click="vm.openMidia()">
                <span class="fa fa-desktop fa-3x"></span>
                <h3>Biblioteca de Mídia</h3>
                <span>(fonte de armezanamento de gerenciador de conteúdo)</span>
            </a>
        </div>

        <!-- Lista de Imagens -->
        <div class="tab-pane midia" id="midia"
             ng-class="{active: vm.tabs.midia}">
            <form class="midia__form">
                <div class="form-group">
                    <input type="text" placeholder="Procurar..."
                           ng-model="vm.search">
                    <span class="fa fa-search fa-4x"></span>
                </div>
            </form>

            <div class="row animated zoomIn"
                 ng-if="vm.currentFile.url && !vm.zoomOut">
                <div class="col-md-12">
                    <div class="panel panel-default panel-border">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4>Arquivo Enviado com sucesso!</h4>
                                <img alt="" class="img-responsive"
                                     ng-src="{{ vm.currentFile.url }}">
                            </div>

                            <div class="col-md-6">
                                <form action="" class="form-horizontal">
                                    <h4>Preencha as informaçoes abaixo:</h4>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="field-1">Autor:</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="field-1" placeholder="Autor:"
                                                   value="{{ vm.currentFile.author.name }}"
                                                   ng-model="vm.currentFile.author.name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="field-1">Legenda:</label>

                                        <div class="col-sm-10">
                                            <textarea name="" id="" cols="30" rows="10" class="form-control"
                                                      ng-model="vm.currentFile.legend">{{ vm.currentFile.legend }}</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="panel-footer text-right margin-top-footer">
                            <button type="button" class="btn btn-danger" ng-click="vm.cancelUpdateMidia()"><i class="fa fa-times"></i> Cancelar</button>
                            <button type="button" class="btn btn-secondary"
                                    ng-click="vm.updateMidia()"><i class="fa fa-check"></i> Inserir
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-xs btn-secondary imageGroup" style="position:relative; top:11px"
                       ngf-select
                       ngf-accept="'image/*'"
                       ng-model="vm.add_photos"
                       ngf-multiple="false">
                        <div class="row flex-center" style="height:120px">
                            <div class="col-md-12">
                                <i class="fa fa-plus"></i><br/>Enviar
                            </div>
                        </div>
                    </a>
                    <div class="imageGroup border-dashed text-center"
                         ng-repeat="midia in vm.midia.items|filter: vm.search"
                         ng-click="vm.selectMidia(midia)"
                         ng-class="{'dashed-green': midia.id == vm.currentFile.id}">

                        <img alt="" class=""
                             ng-src="{{ midia.url }}"
                             ng-click="vm.selectMidia(midia.id, midia.author.name, midia.legend, midia.url)">
                    </div>
                </div>
            </div>

            <div class="row"
                 ng-show="vm.midia.total > 30">
                <div class="col-md-12 flex-center">
                    <uib-pagination class="pagination-sm"
                                    boundary-links="true"
                                    total-items="vm.midia.total"
                                    items-per-page="vm.midia.page_size"
                                    ng-model="vm.currentPage"
                                    previous-text="‹"
                                    next-text="›"
                                    first-text="«"
                                    last-text="»"
                                    ng-change="vm.changePage()"></uib-pagination>
                </div>
            </div>
        </div>

        <!-- Crop -->
        <div class="tab-pane" id="crop" ng-class="{active: vm.tabs.crop}">
            <div class="row">
                <div class="col-md-3"
                     ng-repeat="(key, format) in vm.formats">
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                       ng-class="{'btn-secondary': vm.activeFormat == key, 'btn-click': format.name == 'Vertical'}"
                       ng-click="vm.setFormat(key)">{{ format.name }} ({{ format.width }}x{{ format.height }})</a>
                </div>
            </div>

            <div class="row" ng-if="vm.currentFile.url">
                <div class="col-md-12">
                    <div id="mrImageContainer"
                         mr-image
                         mr-src="vm.currentFile.url"
                         mr-max-width="960"
                         mr-selector="vm.selector"
                         mr-aspect-ratio="vm.aspectRatio"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-info"
                ng-show="vm.selector.x2 > 1 && vm.selector.y2 > 1"
                ng-click="vm.save()">Save changes</button>
        </div>
    </div>
</div>
