<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Upload de imagens {{ vm.teste }}</h4>
</div>

<div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-justified">
        <li ng-class="{active: vm.tabs.home}">
            <a href="javascript:void(0)">
                <span class="visible-xs"><i class="fa-home"></i></span>
                <span class="hidden-xs">Biblioteca de Fotos</span>
            </a>
        </li>

        <li ng-class="{active: vm.tabs.midia}">
            <a href="#midia">
                <span class="visible-xs"><i class="fa-user"></i></span>
                <span class="hidden-xs">Selecione ou faça upload</span>
            </a>
        </li>

        <li ng-class="{active: vm.tabs.crop}">
            <a href="#crop">
                <span class="visible-xs"><i class="fa-envelope-o"></i></span>
                <span class="hidden-xs">Edição de imagem</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- Biblioteca de Midia -->
        <div class="tab-pane text-center pictureLib" id="home" ng-class="{active: vm.tabs.home}">
            <a ng-click="vm.openMidia()">
                <span class="fa fa-desktop fa-4x"></span>
                <h3>Bibliotéca de Midia</h3>
                <span>(fonte de armezanamento de gerenciador de conteudo)</span>
            </a>
        </div>

        <!-- Lista de Imagens -->
        <div class="tab-pane midia" id="midia" ng-class="{active: vm.tabs.midia}">
            <form action="" class="midia__form">
                <div class="form-group">
                    <input type="text" placeholder="procure as fotos na biblioteca" ng-model="vm.search">
                    <span class="fa fa-search fa-4x"></span>
                </div>
            </form>

            <div class="row animated zoomIn" ng-if="vm.currentFile.url">
                <div class="col-md-12">
                    <div class="panel panel-default panel-border">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4>Arquivo Enviado com sucesso!</h4>
                                <img ng-src="{{ vm.currentFile.url }}" alt="" class="img-responsive">
                            </div>

                            <div class="col-md-6">
                                <form action="" class="form-horizontal">
                                    <h4>Preencha as informaçoes abaixo:</h4>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="field-1">Autor:</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="field-1" placeholder="Autor:" ng-model="vm.currentFile.author.name" value="{{ vm.currentFile.author.name }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="field-1">Legenda:</label>

                                        <div class="col-sm-10">
                                            <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="vm.currentFile.legend">{{ vm.currentFile.legend }}</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="panel-footer text-right margin-top-footer">
                            <a href="" class="btn">Cancelar</a>
                            <a href="" class="btn btn-secondary" ng-click="vm.updateMidia()">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 imageGroup  text-center">
                    <a href="#" class="btn  btn-xs btn-primary"
                       ngf-accept="'image/*'"
                       ngf-select ng-model="vm.add_photos"
                       ngf-multiple="false">
                        Enviar Arquivo
                    </a>
                </div>

                <div class="col-md-2 imageGroup border-dashed text-center"
                     ng-repeat="midia in vm.midia.items|filter: vm.search"
                     ng-click="vm.selectMidia(midia)"
                     ng-class="{'dashed-red': midia.id == vm.currentFile.id}">

                    <img alt="" class="img-responsive"
                         ng-src="{{ midia.url }}"
                         ng-click="vm.selectMidia(midia.id, midia.author.name, midia.legend, midia.url)">
                </div>
            </div>

            <div ng-show="vm.midia.total > 30" class="row">
                <div class="col-xs-12 text-right">
                    <uib-pagination boundary-links="true"
                                    total-items="vm.midia.total"
                                    items-per-page="vm.midia.page_size"
                                    ng-model="vm.currentPage"
                                    previous-text="‹"
                                    next-text="›"
                                    first-text="«"
                                    last-text="»"
                                    ng-change="vm.changePage()"
                                    class="pagination-sm"></uib-pagination>
                </div>
            </div>
        </div>

        <!-- Crop -->
        <div class="tab-pane" id="crop" ng-class="{active: vm.tabs.crop}">
            aqui vai ser feito o crop da imagem
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-info">Save changes</button>
</div>
