html
  body
    .modal-header.clearfix
      .pull-left
        h3.modal-title
          | Inserir Imagem
      |     
      .pull-right
        span.fa.fa-close.fa-2x(ng-click='closeInsertImage()')
    .modal-body.clearfix
      .row
        .col-xs-12
          ul.nav.nav-tabs.tac
            li(role='presentation', ng-repeat='step in steps', ng-class='{ active: active_step == step }')
              a
                | {{step.step}}
          |             
          br
      |     
      |     
      .row
        .col-xs-12
          div(ng-show="active_step.slug == 'format'")
            .btn-group
              button.btn.btn-default(type='button', ng-click='selectFormat(format)', ng-class='{ active: selectedFormat == format }', ng-repeat='format in formats')
                strong {{format.name}}
                br
                |                         
                small {{format.size}} px
                |                         
                .format
                  div(ng-class="{\
                  'format-vertical': format.type == 'vertical',\
                  'format-medium': format.type == 'medium',\
                  'format-big': format.type == 'big',\
                  'format-wide': format.type == 'wide' }\
                  ")
            |                 
            .modal-footer.spacer-top
          |             
          div(ng-show="active_step.slug == 'selectlibrary'")
            h5 Selecione a biblioteca desejada:
            |                 
            .btn-group.library-btn-group
              button.btn.btn-default.library-btn(type='button', ng-click='selectLibrary(library)', ng-class='{ active: selectedLibrary == library }', ng-repeat='library in libraries', ng-disabled='!library.enabled')
                div
                  span.fa.fa-desktop.fa-4x
                |                         
                strong {{library.name}}
                br
            |                 
            .modal-footer.spacer-top
          |             
          div(ng-show="active_step.slug == 'media'")
            .library-list-container.clearfix
              .image-library-list(ngf-accept="'image/*'", ngf-select='', ng-model='upload_photo', ngf-multiple='false')
                span.fa.fa-camera.fa-2x
                br
                |                         Enviar Foto
              |                     
              .image-library-list(ng-repeat='file in media | reverse', ng-click='selectImage(file)', ng-class='{ active: selected_image == file }')
                img(ng-src='{{file.url}}', alt='{{file.filename}}')
                |                         
                .selected-icon
                  span.fa.fa-check-square-o
            |                 
            .modal-footer.spacer-top
              //
                <button
                class="btn btn-danger"
                ng-click="closeInsertImage()">
                Cancelar
                </button>
              button.btn.btn-success(ng-click='showCropper()', ng-disabled='!selected_image')
                | Escolher imagem selecionada
          |             
          div(ng-show="active_step.slug == 'publish'")
            .row
              .col-xs-8
                .crop-container
                  .img-container
                    img(ng-if='dataUrl', ng-src='{{dataUrl}}', ng-cropper='', ng-cropper-proxy='cropperProxy', ng-cropper-show='showEvent', ng-cropper-hide='hideEvent', ng-cropper-options='options')
              |                     
              .col-xs-4
                .form-group
                  label(for='') Autor
                  |                             
                  input.form-control(type='text', ng-model='image.author')
                |                         
                .form-group
                  label(for='') Legenda
                  |                             
                  textarea.form-control(ng-model='image.legend', rows='5')
            |                 
            .modal-footer.spacer-top
              button.btn.btn-info(ng-click='okInsertImage()')
                | Inserir imagem
              |                     
              button.btn.btn-success(ng-click='okInsertImage()')
                | Cortar e Inserir imagem
