<div class="modal-header">
    <h3 class="modal-title">Editar Imagens
        <small ng-show="photos.length != 1">({{ vm.currentPhotoIdx+1 }}/{{ vm.photos.length }})</small>
    </h3>
</div>

<div class="modal-body"
     ng-repeat="photo in vm.photos"
     ng-show="vm.currentPhoto.file == photo.file">
    <div class="row">
        <div class="col-xs-8 tac">
            <img style="max-width: 100%; height: auto;"
                 ng-src="{{ photo.file.url }}">
        </div>

        <div class="col-xs-4">
            <div class="btn-group"
                 ng-show="vm.photos.length != 1">
                <button class="btn btn-primary"
                        ng-disabled="vm.currentPhotoIdx == 0"
                        ng-click="vm.previousPhoto(vm.currentPhotoIdx)">&laquo;</button>
                <button class="btn btn-primary"
                        ng-disabled="vm.currentPhotoIdx == vm.photos.length-1"
                        ng-click="vm.nextPhoto(vm.currentPhotoIdx)">&raquo;</button>
            </div>

            <div class="form-group">
                <label>Autor</label>
                <input type="text" class="form-control"
                       ng-model="photo.file.author_name">
            </div>

            <div class="form-group">
                <label>Legenda</label>

                <textarea ng-model="photo.file.legend" class="form-control" rows="10">
                    {{ photo.file.legend }}
                </textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger"
            ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-success"
            ng-click="vm.ok()">Salvar Todas</button>
</div>
