.row-days {
    margin-bottom: 5px;
    > .box-day {
        &:nth-child(odd) {
            padding-right: 30px; 
        }
        &:nth-child(even) {
            padding-left: 30px; 
        }
        @media (max-width: 1200px) {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        .day-time {
            min-height: 50px;
            &.-error {
                label {
                    color: #cc3f44;
                }
                .form-control {
                    border-color: #cc3f44;
                }
            }
            .form-control {
                border-color: #2196f3;
            }

        }
        .msg-time-error {
            p {
                width: 80%;
            }
        }
    }
}

.more-hours {
    .icon-remove {
        cursor: pointer;
        color: #cc3f44;
        width: 47px;
        text-align: center;
    }
}

.add-hour {
    margin-top: 5px;
    padding: 5px 2px;
    text-align: center;
    border: 2px dashed #b3b3b3;
    width: 80%;
    float: right;
    background-color: #efefef;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        color: #bbb7b7;
    }
}

.check-day {
    padding-left: 23px;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.news-extra {
    background-color: #fcdea6;
    padding: 10px 0 10px 30px;
    width: 100%;
}

.checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
}

.checkmark-extra {
    top: 10px;
    left: 9px;
    border: 1px solid #969696;
    box-shadow: 1px 1px 1px #eee;
}

.checkmark-day {
    top: 0;
    left: 0;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px #eee;
}

.check-day:hover input ~ .checkmark-day {
    background-color: #fff;
}

.check-day input:checked ~ .checkmark-day {
    background-color: #2196F3;
}

.check-day input:disabled ~ .checkmark-day {
    border: none;
    background-color: #a5a1a1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-day input:checked ~ .checkmark:after {
    display: block;
}

.check-day {
    .checkmark:after {
        width: 5px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .checkmark-extra:after {
        left: 5px;
        border: solid #000;
        border-width: 0 3px 3px 0;
    }

    .checkmark-day:after {
        left: 4px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
    }
}
