.news-extra {
    background-color: #fcdea6;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.row-days {
    min-height: 100px;
    margin-bottom: 20px;
    > .box-day {
        &:nth-child(odd) {
            padding-right: 30px; 
        }
        &:nth-child(even) {
            padding-left: 30px; 
        }
        .day-time {
            min-height: 50px;
        }
    }
}


.more-hours {
    .icon-remove {
        cursor: pointer;
        color: #ef3f4a;
        width: 47px;
        text-align: center;
    }
}

.add-hour {
    padding: 5px 2px;
    text-align: center;
    border: 2px dashed #b3b3b3;
    width: 80%;
    float: right;
    background-color: #efefef;
    cursor: pointer;
}

.check-day {
    padding-left: 1.5em;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
}

.checkmark-extra {
    top: 10px;
    left: 2px;
    border: 1px solid #969696;
    box-shadow: 1px 1px 1px #eee;
}

.checkmark-day {
    top: 0;
    left: 0;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px #eee;
}

.check-day:hover input ~ .checkmark-day {
    background-color: #fff;
}

.check-day input:checked ~ .checkmark-day {
    background-color: #2196F3;
}

.check-day input:disabled ~ .checkmark-day {
    border: none;
    background-color: #a5a1a1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-day input:checked ~ .checkmark:after {
    display: block;
}

.check-day {
    .checkmark:after {
        width: 5px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .checkmark-extra:after {
        left: 5px;
        border: solid #000;
        border-width: 0 3px 3px 0;
    }

    .checkmark-day:after {
        left: 4px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
    }
}