.news-extra {
    background-color: #fcdea6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-day {
    min-height: 85px;
}

.add-hour {
    padding: 5px 2px;
    text-align: center;
    border: 2px dashed #b3b3b3;;
    width: 80%;
    float: right;
    background-color: #efefef;
    cursor: pointer;
}