<div class="page-title">
    <div class="row flex-center flex-center-mobile-column">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title" ng-show="vm.isUserLoaded && !vm.user.id">Novo Usuário</h1>
                <h1 class="title" ng-show="vm.isUserLoaded && vm.user.id">{{ vm.user.name }}</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#/user">
                            Usuários
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/user/new">
                            <strong>Novo Usuário</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li ng-class="{active:vm.isActive(1)}">
        <a href ng-click="vm.setTab(1)">
            <span class="hidden-xs">Informações</span>
        </a>
    </li>
    <li ng-class="{active:vm.isActive(2)}">
        <a href ng-click="vm.setTab(2)">
            <span class="hidden-xs">Permissões</span>
        </a>
    </li>
</ul>
<form class="form" name="formUsers" ng-submit="vm.save(formUsers.$valid)" novalidate>
    <div class="tab-pane tab-content" ng-if="vm.isActive(1)">
        <div class="row">
            <ng-include src="'modules/users/form/information/users.information.html'">
            </ng-include>
        </div>
    </div>
    <div class="tab-pane tab-content" ng-if="vm.isActive(2)">
        <div class="row">
            <ng-include src="'modules/users/form/permission/users.permissions.html'">
            </ng-include>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <div class="col-md-2">
                <a href="#/user" class="btn btn-danger btn-lg">
                    <i class="fa fa-close"></i> Cancelar
                </a>
            </div>
            <div class="col-md-2 col-md-offset-8">
                <button type="submit" ng-disabled="vm.isLoading" class="btn btn-secondary btn-lg">
                    <i class="fa fa-check"></i>
                    {{vm.isLoading ? 'Salvando ...' : 'Salvar Usuário'}}
                </button>
            </div>
        </div>
    </div>
</form>
