<div class="page-title">
    <div class="row flex-center flex-center-mobile-column">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title"> Adicionar Thumbnail </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#/radio_thumb/program-list">Lista dos Thumbnails</a>
                    </li>
                    <li>
                        <a><strong> Adicionar Thumbnail </strong></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 panel panel-default">
        <div class="row">
            <div class="col-xs-12 form-group">
                <label >Nome: </label>
                <input type="text" ng-model="vm.program.title" disabled class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Thumbnail</label>
                <upload-cover-component disabled="!vm.canPut" inner-class="add-thumb" label-box="Adicionar Thumbnail" select-image="vm.setImageThumb(imageSelected)"
                    url-image="vm.program.image.url" type-cover="programThumbnail"></upload-cover-component>
            </div>
        </div>
        <div class="buttons">
            <button type="button" ng-if="vm.canPut" class="btn btn-secondary pull-right" ng-click="vm.saveThumbnail()">Atualizar</button>
            <a href="#/radio_thumb/program-list" class="btn btn-link pull-right">Cancelar</button>
        </div>
    </div>
</div>
