<div class="form-group">
    <label>Tipo de Not&iacute;cia:</label>

    <select title="Tipo de Notícia" class="form-control"
            ng-model="ctrlModal.widget.typeNews"
            ng-options="news_type.id as news_type.name for news_type in ctrlModal.news_types.items">
    </select>
</div>

<div class="form-group">
    <label>N&uacute;mero de not&iacute;cias:</label>

    <select title="Tipo de Notícia" class="form-control"
            ng-model="ctrlModal.widget.limit"
            ng-options="option as option for option in [3, 4, 5, 6]">
    </select>

</div>

<div class="form-group">
    <label>Tag:</label>

    <tags-input ng-model="ctrlModal.widget.tags" on-tag-added="onTagAdded($tag)">
        <auto-complete source="ctrlModal.findTags($query)"
                       minLength="1"></auto-complete>
    </tags-input>
</div>
