<div class="form-group">
    <label>Tipo de Not&iacute;cia:</label>
    <select title="Tipo de Notícia" class="form-control" ng-model="ctrlModal.widget.typeNews" ng-options="news_type.id as news_type.name for news_type in ctrlModal.news_types.items"></select>
</div>
<div class="form-group checkbox">
    <label>
        <input type="checkbox" title="Número de notícias" ng-model="ctrlModal.widget.highlight_ufmg">
        Notícia UFMG
    </label>
</div>
<div class="form-group">
    <label>N&uacute;mero de not&iacute;cias:</label>
    <input type="number" title="Número de notícias" class="form-control" ng-model="ctrlModal.widget.limit">
</div>
<div class="form-group">
    <label>Tags:</label>
    <tags-input ng-model="ctrlModal.widget.tags">
        <auto-complete source="ctrlModal.findTags($query)" max-results-to-show="1000" minLength="1"></auto-complete>
    </tags-input>
</div>
