<ul class="menu-mobile hidden" ng-init="isOpen = {}">
    <li class="item-menu item-main" ng-click="isOpen[menu.$$hashKey] = !isOpen[menu.$$hashKey]" ng-repeat="menu in $ctrl.itemsMenu">
        <a ng-click="$ctrl.clickMenu(menu)">
            <i ng-if="menu.icon" class="fa {{ menu.icon }} menu-icon"></i>
            {{ menu.name }}
            <i ng-show="menu.menuItems" class="fa fa-angle-right" ng-class="{'fa-rotate-90': isOpen[menu.$$hashKey]}"></i>
        </a>
        <ul ng-if="menu.menuItems" ng-class="{'hidden': !isOpen[menu.$$hashKey]}">
            <li class="item-menu item-sub" ng-repeat="subMenu in menu.menuItems">
                <a ng-click="$ctrl.clickMenu(subMenu)">
                    <i ng-if="subMenu.icon" class="{{ subMenu.icon }} menu-icon"></i>
                    {{ subMenu.name }}
                </a>
            </li>
        </ul>
    </li>
    <li class="item-menu item-main">
        <a ng-click="$ctrl.logout()">
            <i class="fa fa-sign-out menu-icon"></i>
            Sair do Sistema
        </a>
    </li>
</ul>
