// Editions

.edition-cover-thumb
  width: 100% !important
  max-width: 250px
  min-height: 250px
  height: auto
  margin: 0 auto
  z-index: 2
  position: relative

.edition-bg-thumb
  min-height: 200px

.edition-cover-container
  margin-top: -150px
