<div class="page-title">

    <div class="title-env">
        <h1 class="title">Calendário Acadêmico</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="#/"><i class="fa-home"></i>Home</a>
            </li>
            <li class="active">
                <a href="#/calendar">
                    <strong>Calendário Acadêmico</strong>
                </a>
            </li>
        </ol>

    </div>
</div>
<div class=row>
    <div class=col-xs-12>
        <div class="panel panel-default">
            <div class="btn-toolbar">
                <div class="btn-group focus-btn-group">
                    <a ng-click="itemStatus = ''" class="btn" ng-class="{ 'btn-gray': itemStatus == '' || itemStatus == undefined}">
                        <span ng-class="{ 'strong': itemStatus == '' || itemStatus == undefined }">Tudo</span>
                        <span class=small>({{ calendar.items.length }})</span>
                    </a>

                    <a ng-click="itemStatus = 'publish'" class="btn" ng-class="{ 'btn-gray': itemStatus == 'publish'}">
                        <span ng-class="{ 'strong': itemStatus == 'publish'}">Publicados</span>
                        <span class=small>({{ (calendar.items | filter: {status: 'publish'}).length }})</span>
                    </a>

                    <a ng-click="itemStatus = 'public'" class="btn" ng-class="{ 'btn-gray': itemStatus == 'draft'}">
                        <span ng-class="{ 'strong': itemStatus == 'public'}">Público</span>
                        <span class=small>({{ (calendar.items | filter: {status: 'public'}).length }})</span>
                    </a>
                </div>


                <div class="pull-right">
                    <a ng-click="diasLetivos('lg')" class="btn btn-secondary btn-lg pull-left spacer-right">DIAS LETIVOS</a>
                    <a ng-click="addEvent('lg')" class="btn btn-secondary btn-lg pull-left">NOVO REGISTRO</a>
                </div>
            </div>

            <div class="row list-header">
                <div class="col-xs-12">
                    <div class="form-inline pull-right">
                        <div class="form-group">
                            <select ng-model="regional.id" class="form-control">
                                <option value="1">Campus: Belo Horizonte</option>
                                <option value="2">Campus: Montes Claros</option>
                                <option>Todos os campus</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select ng-model="active_period_filter" ng-options="convertPeriodStr(period_filter_item) for period_filter_item in period_filter" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table datatable=ng dt-options=dtOptions class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Data</th>
                            <th>Usuário</th>
                            <th>Campus</th>
                            <th>Data da Publicação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd"
                            ng-repeat="item in calendar.items | filter: search | filter: {
                                regional: {
                                    id: regional.id
                                }
                            } | filter: {
                                period: active_period_filter
                            } | filter: {
                                status: itemStatus
                            }">
                            <td>
                                <a ng-click="editEvent('lg', item)">
                                    {{ item.description }}
                                </a>
                            </td>

                            <td>
                                <strong>{{ convertDate(item.init_date) | date: 'dd' }} {{ item.end_date ? 'à '+(convertDate(item.end_date) | date: 'dd') : '' }}</strong>
                                <br>
                                <small>{{ getWeekDay(item.init_date) }} {{ item.end_date ? 'à '+getWeekDay(item.end_date) : '' }}</small>
                            </td>

                            <td>{{ item.author.name }}</td>
                            <td>{{ item.regional.name }}</td>

                            <td>
                                <strong>{{ item.post_date }}</strong>
                                <br>
                                <small>{{ item.status|translate|titleize }}</small>
                            </td>

                            <td class="table-fit">
                                <a ng-click="editEvent('lg', item)" class="btn btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a ng-click="remove(item.id, item.name)" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>










<!--
<div ng-show=viewCalendar>
    <calendar calendar-mode="'month'" event-source="eventSource"></calendar>
</div> -->
