<div class="page-title">
    <div class="title-env">
        <h1 class="title">Nova Página</h1>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="#/">
                    <i class="fa-home"></i>Home
                </a>
            </li>

            <li>
                <a href="#/pages">
                    <strong>Páginas</strong>
                </a>
            </li>

            <li class="active">
                <a href="#/pages">
                    <strong>Nova Página</strong>
                </a>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input id="title" type="text" name="title" class="form-control"
                               ng-model="page.title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Tags</label>

                        <ui-select title="Digite uma tag"
                                   multiple
                                   tagging
                                   tagging-label
                                   tagging-tokens=","
                                   ng-model="page.tags"
                                   theme="bootstrap"
                                   sortable="true"
                                   ng-disabled="disabled">
                            <ui-select-match placeholder="Selecione as tags">
                                {{ $item }}
                            </ui-select-match>

                            <ui-select-choices repeat="color in availableColors | filter:$select.search">
                                {{ color }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Template</label>

                        <select title="Template" class="form-control"
                                ng-model="page.columns"
                                ng-options="column.value as column.label for column in columns"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12"></div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-module pages-module-cover">
                        <div class="chosen-cover">
                            <span class="label label-danger remove-image"
                                  ng-click="removeImage()" ng-show="page.image">
                                <span class="fa fa-remove"></span> REMOVER IMAGEM
                            </span>
                        </div>

                        <div class="add-module"
                             ngf-select
                             ngf-accept="'image/*'"
                             ng-model="page_image"
                             ngf-multiple="false"
                             ng-show=!page.image>+ Adicionar Capa
                        </div>

                        <div ng-show=page.image class=uploaded-image>
                            <img ng-src="{{ page.image.url }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="sort-main"
                     as-sortable="sortableOptions"
                     ng-model="page.widgets.main"
                     ng-class="{ 'col-xs-8': page.columns == 2, 'col-xs-12': page.columns == 1 }">
                    <div class="pages-module"
                         ng-repeat="item in page.widgets.main"
                         as-sortable-item>
                        <div class="clearfix">
                            <div class=pull-right>
                                <span ng-click="handleModule('main', $index)" class="label label-default">
                                    <span class="fa fa-pencil"></span>EDITAR
                                </span>

                                <span ng-click="removeModule('main', $index)" class="label label-danger">
                                    <span class="fa fa-remove"></span>REMOVER
                                </span>

                                <span as-sortable-item-handle class="label label-primary">
                                    <span class="fa fa-arrows-v"></span>MOVER
                                </span>
                            </div>
                        </div>

                        <h4 class="tac">{{ item.title }}</h4>
                        <small>{{ item.type }}</small>
                    </div>

                    <div ng-click="handleModule('main')" class="pages-module add-module">
                        + Adicionar Módulo
                    </div>
                </div>

                <div id="sort-side"
                     as-sortable="sortableOptions"
                     ng-model="page.widgets.side"
                     ng-class="{ 'col-xs-4': page.columns == 2, 'hidden': page.columns == 1 }">
                    <div class="pages-module"
                         ng-repeat="item in page.widgets.side"
                         as-sortable-item>
                        <div class="clearfix">
                            <div class="pull-right">
                                <span ng-click="handleModule('side', $index)" class="label label-default">
                                    <span class="fa fa-pencil"></span>EDITAR
                                </span>

                                <span ng-click="removeModule('side', $index)" class="label label-danger">
                                    <span class="fa fa-remove"></span>REMOVER
                                </span>

                                <span as-sortable-item-handle class="label label-primary">
                                    <span class="fa fa-arrows-v"></span>MOVER
                                </span>
                            </div>
                        </div>

                        <h4 class="tac">{{ item.title }}</h4>
                        <small>{{ item.type }}</small>
                    </div>

                    <div ng-click="handleModule('side')" class="pages-module add-module">
                        + Adicionar Módulo
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <hr>
                    <div class=pull-right>
                        <a ng-click class="btn btn-danger pull-left spacer-right">Cancelar</a>
                        <a ng-click=publish(page) class="btn btn-success pull-left">Salvar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <publishment-options route-model=page></publishment-options>
    </div>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
