<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">{{ title }}</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="#/page">
                            <strong>Páginas</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/page">
                            <strong>{{ title }}</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" can-get>
    <div class="col-xs-8 panel panel-default">
        <form class="form" name="formData" novalidate>
            <div class="row" ng-if="isSuperPut">
                <div class="col-xs-12" ng-if="!isLimitPut">
                    <div class="form-group" ng-class="{'has-error': formData.title.$error.required && !formData.title.$valid}">
                        <label for="title">Título</label>
                        <input id="title" type="text" name="title" class="form-control" ng-model="page.title" required>
                        <div ng-show="!formData.title.$valid" class="error-message" role="alert">
                            <div ng-show="formData.title.$error.required">Campo obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="isSuperPut">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Slug</label>
                        <input id="title" type="text" name="slug" class="form-control" ng-model="page.slug.slug">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group" ng-if="page.id || isNew">
                        <tags-input-component permissions="configPerm" resource="page" add-on-comma="false" ng-model-tags="page.tags"></tags-input-component>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Template</label>
                        <select title="Template" class="form-control" ng-model="page.columns" ng-options="column.value as column.label for column in columns"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-module add-module pages-module-cover" ng-show="!viewOnly && isSuperPut">
                        <div class="chosen-cover">
                            <a href="javascript:void(0);" class="label label-danger remove-image" ng-click="removeImage()" ng-show="page.image">
                                <i class="fa fa-remove"></i> REMOVER IMAGEM
                            </a>
                        </div>
                        <div class="add-title" ng-model="page_cover" ng-click="uploadCover()" ng-show=!page.image>+ Adicionar Capa
                        </div>
                        <div class="uploaded-image" ng-show="page.image">
                            <img class="img-responsive" ng-src="{{ page.image.url }}">
                        </div>
                    </div>
                    <div class="pages-module add-module pages-module-cover" ng-show="viewOnly && page.image.url">
                        <div class="uploaded-image" ng-show="page.image">
                            <img class="img-responsive" ng-src="{{ page.image.url }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <list-widgets-component ng-if="configPerm" id-component="sort-main" permissions="configPerm" list-widgets="page.widgets.main" view-only="viewOnly" set-class="{{ page.columns == 2 ? 'col-xs-8' : 'col-xs-12' }}">
                </list-widgets-component>
                <list-widgets-component ng-if="configPerm" id-component="sort-side" permissions="configPerm" list-widgets="page.widgets.side" view-only="viewOnly" set-class="{{ page.columns == 2 ? 'col-xs-4' : 'hidden' }}">
                </list-widgets-component>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <publishment-options is-super-put="isSuperPut" is-loading="isLoading" publish-method="publish" route-model="page"></publishment-options>
        <div ng-if="isSuperPut">
            <div ng-if="isSuperPut" class="panel panel-default" onload="loadMorePage()" ng-if="!isLimitPut">
                A página atual é filha de:
                <select-pages-component placeholder="Selecione ou procure a página..." title="Selecione ou procure a página..." page-selected="page.parent"></select-pages-component>
                
                <!-- <ui-select ng-model="page.parent" theme="bootstrap" class="ui-select" title="Selecione ou procure a página...">
                    <ui-select-match placeholder="Selecione ou procure a página...">{{ $select.selected.title }}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in pagesParent | filter: $select.search track by $index" scroll-detect="loadMorePage()"
                        refresh="loadMorePage($select.search)" refresh-delay="300">
                        <div ng-bind-html="item.title | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select> -->
            </div>
            <div ng-if="isSuperPut" class="panel panel-default" ng-if="User.is_administrator">
                Tipo da página:
                <ui-select ng-model="page.page_type" theme="bootstrap" class="ui-select" title="Selecione ou procure a página...">
                    <ui-select-match placeholder="Selecione ou procure a página...">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices repeat="type.id as type in typesData.items | filter: $select.search track by $index">
                        <div ng-bind-html="type.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div ng-if="viewOnly">
            <p class="text-primary"> <b> A página atual é filha de: </b> {{ page ? page.parent.title : 'Não tem pai'  }}</p>
            <p class="text-primary"> <b> Tipo da página: </b> {{  page.page_type || 'Sem tipo'  }}</p>
        </div>
    </div>
</div>
<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
