<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">{{ title }}</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="#/page">
                            <strong>Páginas</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/page">
                            <strong>{{ title }}</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" can-get>
    <div class="col-xs-8 panel panel-default">
        <form class="form" name="formData" novalidate>
            <div class="row" ng-if="isSuperPut">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': formData.title.$error.required && !formData.title.$valid}">
                        <label for="title">Título</label>
                        <input id="title" type="text" name="title" class="form-control" ng-model="page.title" required>
                        <div ng-show="!formData.title.$valid" class="error-message" role="alert">
                            <div ng-show="formData.title.$error.required">Campo obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="isSuperPut">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Slug</label>
                        <input id="title" type="text" name="slug" class="form-control" ng-model="page.slug.slug">
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isSuperPut || canPutTag">
                <div class="col-xs-8">
                    <div class="form-group" ng-if="configPerm">
                        <tags-input-component permissions="configPerm" resource="page" add-on-comma="false" ng-model-tags="page.tags"></tags-input-component>
                    </div>
                </div>
                <div class="col-xs-4" ng-show="isSuperPut">
                    <div class="form-group">
                        <label>Template</label>
                        <select title="Template" class="form-control" ng-model="page.columns" ng-options="column.value as column.label for column in columns"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <upload-cover-component inner-class="pages-module-cover" select-image="setImageCover(imageSelected)" 
                        url-image="page.image.url" type-cover="pageCover"></upload-cover-component>
                </div>
            </div>
            <div class="row">
                <list-widgets-component ng-if="configPerm" id-component="sort-main" permissions="configPerm" list-widgets="page.widgets.main" view-only="viewOnly" set-class="{{ page.columns == 2 ? 'col-xs-8' : 'col-xs-12' }}">
                </list-widgets-component>
                <list-widgets-component ng-if="configPerm" id-component="sort-side" permissions="configPerm" list-widgets="page.widgets.side" view-only="viewOnly" set-class="{{ page.columns == 2 ? 'col-xs-4' : 'hidden' }}">
                </list-widgets-component>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <publishment-options is-super-put="isSuperPut" is-loading="isLoading" publish-method="publish" route-model="page"></publishment-options>
        <div ng-if="isSuperPut" class="panel panel-default" onload="loadMorePage()">
            <div class="row">
                <div class="col-md-12 form-group height-select">
                    <label>A página atual é filha de:</label>
                    <select-pages-component placeholder="Selecione ou procure a página..." title="Selecione ou procure a página..." page-selected="page.parent"></select-pages-component>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group height-select">
                    <label>Tipo da página:</label>
                    <ui-select ng-model="page.page_type" theme="bootstrap" class="ui-select" title="Selecione ou procure a página...">
                        <ui-select-match placeholder="Selecione ou procure a página...">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="type.id as type in typesData.items | filter: $select.search track by $index">
                            <div ng-bind-html="type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div ng-if="viewOnly" class="panel panel-default">
            <p class="text-primary"> <b> A página atual é filha de: </b> {{ page ? page.parent.title : 'Não tem pai'  }}</p>
            <p class="text-primary"> <b> Tipo da página: </b> {{  page.page_type || 'Sem tipo'  }}</p>
        </div>
    </div>
</div>
<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
