<label ng-show="(ctrlTags.canPutTags || ctrlTags.canGet) && !ctrlTags.hideLabel">
    {{ ctrlTags.label || 'Tag' }}
    <small ng-show="ctrlTags.maxTags"> Máximo de {{ ctrlTags.maxTags }} tag(s)</small>
</label>
<tags-input ng-if="ctrlTags.canPutTags" ng-click="ctrlTags.getTags()"
    max-tags="{{ ctrlTags.maxTags || '' }}"
    enforce-max-tags="{{ ctrlTags.enforceMax || '' }}"
    add-on-comma="ctrlTags.addOnComma"
    ng-model="ctrlTags.ngModelTags"
    add-from-autocomplete-only="true">
    <auto-complete source="ctrlTags.findTags($query)" minLength="1"></auto-complete>
</tags-input>
<input ng-show="ctrlTags.canGet && !ctrlTags.canPutTags" class="form-control" disabled type="text" ng-model="ctrlTags.tagsOnlyView">