<label ng-show="ctrlTags.canPutTags">
    {{ ctrlTags.label || 'Tag' }}
    <small>(Digite a tag e pressione ENTER para selecionar)</small>
</label>
<tags-input ng-if="ctrlTags.canPutTags" ng-click="ctrlTags.getTags()"
    max-tags="{{ ctrlTags.maxTags || '' }}"
    enforce-max-tags="{{ ctrlTags.enforceMax || '' }}"
    add-on-comma="ctrlTags.addOnComma"
    ng-model="ctrlTags.ngModelTags"
    on-tag-added="ctrlTags.onTagAdded($tag)">
    <auto-complete source="ctrlTags.findTags($query)" minLength="1"></auto-complete>
</tags-input>