$space: 10px;
$fontSize: 14px;
.actions-context {
    >.actions {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
        >.col {
            min-width: 90px;
            >.btn {
                font-size: $fontSize!important;
            }
        }
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loading-spiner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    > .spiner {
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #ef3f4a;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}

publishment-options {
    >form {
        >.panel {
            >.publishment-body,
            .publishment-footer {
                font-size: $fontSize!important;
            }
            >.publishment-message-active {
                height: 100%!important;
                opacity: 1!important;
                margin-bottom: 15px!important;
            }
            >.publishment-message {
                font-size: 12px;
                border-radius: 4px;
                width: 100%;
                overflow: hidden;
                margin-bottom: 0;
                opacity: 0;
                height: 0;
                transition: all 0.4s;
                >.icon {
                    display: table-cell;
                    padding: 15px;
                    vertical-align: middle;
                    text-align: center;
                    >i {
                        color: #fff;
                    }
                }
                >.text {
                    padding: 7px;
                    vertical-align: middle;
                    display: table-cell;
                }
            }
            >.publishment-message-warn {
                border: 1px solid #ffba00;
                >.icon {
                    background-color: #ffba00;
                }
            }
            >.publishment-message-error {
                border: 1px solid #cc3f44;
                >.icon {
                    background-color: #cc3f44;
                }
            }
            >.publishment-body {
                >.status {
                    >.form-group {
                        >select {
                            >option {
                                font-size: 15px!important;
                                padding: 5px!important;
                            }
                        }
                    }
                }
                >.date {
                    >.form-group {
                        position: relative;
                        top: 0;
                        >.form-control {
                            border: none;
                            cursor: pointer;
                            display: table-cell !important;
                        }
                        >.form-control:hover {
                            text-decoration: underline;
                            font-weight: bolder;
                        }
                        >.select-date {
                            justify-content: flex-start;
                            margin-bottom: 0;
                            >.select-date-item {
                                margin-right: 15px!important;
                            }
                            >.select-hour-item {
                                width: 28%!important;
                            }
                        }
                    }
                }
            }
            >.publishment-footer {
                >.actions {
                    display: flex;
                    flex-flow: row wrap;
                    align-content: space-between;
                    justify-content: space-between;
                    >.col {
                        min-width: 90px;
                        >.btn {
                            font-size: $fontSize!important;
                        }
                    }
                }
            }
        }
    }
}
