<loading-spinner ng-show="isLoading"></loading-spinner>
<panel-navigation show-new="!!obj.id && (!$parent.viewOnly && canPost)"></panel-navigation>
<form name="formPub" ng-submit="publish(formPub)" novalidate>
    <div class="panel panel-default publishment-options" ng-show="showLoad">
        <h4 class="publishment-title">Opções de Publicação</h4>
        <div class="publishment-body" ng-if="vm.isSuperPut">
            <div class="status">
                <div class="form-group" ng-class="{'has-error':(formPub.$submitted || formPub.pickStatus.$touched) && formPub.pickStatus.$error.required}">
                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="A alteração do status influencia na disponibilidade da página no portal."></i>
                    <label>Status: </label>
                    <select class="form-control" ng-model="vm.preSaveStatus" placeholder="Selecione o status da publicação">
                        <option ng-repeat="item in ['draft', 'published', 'scheduled'] track by $index" ng-value="item">{{item | translate}}</option>
                    </select>
                    <div ng-show="formPub.$submitted || formPub.pickStatus.$touched" class="error-message" role="alert">
                        <div ng-show="formPub.pickStatus.$error.required">Campo obrigatório</div>
                    </div>
                </div>
            </div>
            <select-date-time-directive class="date" input-label="Data e horário:"
                id-form="formPub" id-date="initDatea" id-time="initTime"
                model="obj" name-prop-date="scheduled_date" name-prop-time="scheduled_time"
                datepicker-opt="datepickerOpt" on-change-time="datePostValidateHour()" on-change-date="datePost()"
                is-disable="isScheduledRetroactive" is-required="true">
            </select-date-time-directive>
        </div>
        <div class="publishment-message" ng-class="{'publishment-message-error': showMessageError, 'publishment-message-warn': showMessageWarn, 'publishment-message-active': showMessageError || showMessageWarn}">
            <div class="icon">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div class="text">
                {{messageText}}
            </div>
        </div>
        <div class="publishment-footer">
            <div class="actions">
                <div class="col">
                    <button ng-if="!$parent.viewOnly" id="publish-button" ng-disabled="showMessageError || isLoading" type="submit" class="btn btn-secondary">
                        <i class="fa fa-check"></i>
                        {{ isLoading ? 'Salvando...' : 'Salvar'}}
                    </button>
                </div>
                <div class="col" ng-if="obj.id">
                    <a class="btn btn-gray" ng-href="{{ obj['edition_url'] || obj[moduleCurrent+'_url'] || obj['event_url'] || obj['news_url']}}" target="__blank">
                        <i class="fa fa-eye"></i>
                        Visualizar
                    </a>
                </div>
                <div class="col">
                    <button ng-if="!$parent.viewOnly && canDelete" ng-show="obj.id" type="button" class="btn btn-danger pull-right" ng-click="remove(obj.id)">
                        <i class="fa fa-close"></i>
                        Excluir
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
