<div class="sidebar-menu-inner" ng-scrollbars ng-scrollbars-config="ngScrollbarsConfig">
    <ul id="main-menu" class="main-menu">
        <li ng-repeat="navItem in navigation | filter: {enabled: true}" ng-class="{'active': itemActive === navItem.location}" ng-click="navItem.submenuState ? (navItem.submenuState = !navItem.submenuState) : (navItem.submenuState = true)">
            <a ng-href="#/{{ navItem.location }}">
                <i class="{{ navItem.icon }}"></i>
                <span class=title>{{ navItem.name }}</span>
            </a>
            <ul ng-if="navItem.submenu" ng-show="navItem.submenuState">
                <li ng-repeat="subnavItem in navItem.submenu">
                    <a ng-href="#/{{ subnavItem.location }}">
                        <span class=title>{{ subnavItem.name }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
