<div class="sidebar-menu-inner" ng-scrollbars ng-scrollbars-config="ngScrollbarsConfig">
    <script type="text/ng-template" id="menu-item-link-tpl">
        <i ng-if="item.icon" class="{{item.icon}}"></i>
        <span class="title">{{item.name}}</span>
        <span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
    </script>

    <script type="text/ng-template" id="menu-items-recursive-tpl">
        <li ng-repeat="item in subItems  | filter: {enabled: true} track by $index" ng-class="{'opened expanded': item.isOpen, 'active': itemActive === item.location, 'has-sub': item.menuItems.length}">
            <a href="#/{{item.location}}" ng-click="!isMobile && sidebarToggle()" ng-include="'menu-item-link-tpl'"></a>
            <ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <script type="text/ng-template" id="menu-items-tpl">
        <li ng-repeat="item in navigation | filter: {enabled: true} track by $index" ng-init="numberEnables = calcNumberEnables(item.menuItems)"
            ng-style="item.isOpen && {'height': ((numberEnables.length+1) * 45) + 'px'}" ng-class="{'opened': item.isOpen, 'active': itemActive === item.location, 'has-sub': item.menuItems.length}">
            <a ng-if="item.menuItems.length" ng-click="item.isOpen = !item.isOpen" ng-include="'menu-item-link-tpl'"></a>
            <a ng-if="!item.menuItems.length" href="#/{{item.location}}" ng-click="!isMobile && sidebarToggle()" ng-include="'menu-item-link-tpl'"></a>
            <ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" class="main-menu" ng-include="'menu-items-recursive-tpl'"></ul>
        </li>
    </script>

    <ul id="main-menu" class="main-menu" ng-include="'menu-items-tpl'"></ul>
</div>
