html
  body
    nav
      ul#main-menu.main-menu
        li(
          ng-class="{opened: navItem.submenuState}",
          ng-repeat='navItem in navigation',
          ng-click='navItem.submenuState ? (navItem.submenuState = !navItem.submenuState) : (navItem.submenuState = true)'
        )
          a(ng-href='#/{{ navItem.location }}')
            i.linecons-cog
            span.title {{ navItem.name }}
          ul(ng-if='navItem.submenu', ng-show='navItem.submenuState')
            li(ng-repeat='subnavItem in navItem.submenu')
              a(ng-href='#/{{ subnavItem.location }}')
                span.title {{ subnavItem.name }}
