<div class="page-title">
    <div class="row flexcenter">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">FAQ</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li class="">
                        <a href="#/faq">
                            <strong>FAQ </strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/faq/new">
                            <strong>Novo FAQ</strong>
                        </a>
                    </li>
                </ol>
            </div>
            <!--breadcrumb-env-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 panel panel-default">
                        <form class="form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="title">Título</label>
                                        <input ng-disabled="!vm.canPermission" id="title" type="text" name="title" class="form-control" ng-model="vm.faq.title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{vm.canPost}}
                                    <label>Selecione o tipo de Faq:</label>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div class="checkbox">
                                                <div class="well well-sm">
                                                    <label>
                                                        <input ng-disabled="!vm.canPermission" type="checkbox" ng-model="vm.ask" name="ask" ng-click="vm.showType('ask')" ng-checked="vm.showAsk"> Perguntas e respostas
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="checkbox">
                                                <div class="well well-sm">
                                                    <label>
                                                        <input ng-disabled="!vm.canPermission" type="checkbox" ng-model="vm.categoryAsk" name="categoryAsk" ng-click="vm.showType('category')" ng-checked="vm.showCategoryAsk"> Categorias + Perguntas e respostas
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div ng-if="vm.showAsk" ng-include="'modules/FAQ/partials/faq-list.template.html'"></div>
                        <div ng-if="vm.canPermission && vm.showAsk" ng-include="'modules/FAQ/partials/faq-ask.template.html'"></div>
                        <div ng-if="vm.showCategoryAsk" ng-include="'modules/FAQ/partials/faq-categoryAsk.template.html'"></div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <br/>
                                <hr/>
                                <a ng-href="#/faq" ng-if="!vm.canPermission" class="btn btn-danger pull-left spacer-right">Fechar</a>
                                <a ng-href="#/faq" ng-if="vm.canPermission" class="btn btn-danger pull-left spacer-right">Cancelar</a>
                                <a href="" ng-if="vm.canPermission" class="btn btn-secondary btn-lg" ng-click="vm.save()">
                                    <i class="fa fa-check"></i> Salvar FAQ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
