<div class="page-container">
    <div class="main-content ms-container">
        <h3>Personalizar acesso aos módulos</h3>
        <div class="container-modules row">
            <div class="col-md-6 form-group select-modules">
                <label >Escolha o módulo</label>
                <ui-select ng-disabled="vm.loadingWidgets" ng-model="vm.widgetSelected" class="ui-select">
                    <ui-select-match placeholder="Procurar...">{{ $select.selected.label }}</ui-select-match>
                    <ui-select-choices repeat="widget in vm.widgets |filter: $select.search" group-by="'group'">
                        <div ng-bind-html="widget.label|highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-md-6">
                <label>Adicione uma página</label>
                <select-pages-component is-disabled="!vm.widgetSelected" on-page-selected="vm.onPageSelected(pageSeleted)" placeholder="Selecione ou procure a página..." title="Selecione ou procure a página..." page-selected="vm.pageSelected"></select-pages-component>
            </div>
        </div>
        <div class="container-pages row">
            <div class="col-md-12">
                <p ng-show="vm.widgetSelected"> <b> {{ vm.widgetSelected.label }} </b> estará disponível para o usuário <b> {{ vm.currentUser }} </b> nas páginas: </p>
                <table-full-data full-datas="vm.dataPermissions" limit="5" config="vm.configTable"></table-full-data>
            </div>
        </div>
        <div class="actions-modal pull-right">
            <button class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
            <button class="btn btn-primary" ng-click="vm.ok()">Alterar</button>
        </div>
    </div>
</div>