.margin-top-footer
  margin-top: 10px

audio
  width: 100%
  max-width: 300px

input
  word-break: initial;

.tag-item
  background: transparent !important

.uploaded-image
  img
    width: 100%;

.over-scroll
  overflow: scroll

.margin-left-aux
  margin-left: 10px

.no-margin-bottom
  margin-bottom: 0 !important;

.list-no-style-type
    list-style-type: none;

.color-strong-panel .panel-body
  color: #474c4c;

.label-checkbox
  margin-right: 5px;

.height-select
  min-height: 65px;

.ln-block
    display: inline-block;

.p-10
  padding: 10px;

.mv-10
  margin: 10px 0;

.mb-15
  margin-bottom: 15px;

.uppercase
  text-transform: uppercase;

.weight-300
  font-weight: 300;

.df
  display: flex;

.jc-space-between
  justify-content: space-between; 

.jc-flex-end
  justify-content: flex-end;

.ai-baseline
  align-items: baseline;

.ai-center
  align-items: center;


.text-black
    color: #000;