<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">
                    <span ng-if="news.id">
                        <span ng-if="news.title">Editar Notícia - {{ news.title }}</span>
                    <span ng-if="!news.title">Editar Notícia</span>
                    </span>
                    <span ng-if="!news.id">
                        <span ng-if="news.title">Nova Notícia - {{ news.title }}</span>
                    <span ng-if="!news.title">Nova Notícia</span>
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="#/news/{{typeNews}}">
                            <strong>Notícias</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/news/{{typeNews}}/new">
                            <strong>Nova Notícia</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" can-get>
    <div class="col-xs-8 panel panel-default">
        <form class="form" name="formData" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': formData.title.$error.required && !formData.title.$valid}">
                        <label>Título</label>
                        <input type="text" class="form-control" ng-model="news.title" ng-maxlength="96" maxlength="97" name="title" required>
                        <div ng-show="!formData.title.$valid" class="error-message" role="alert">
                            <div ng-show="formData.title.$error.required">Campo obrigatório</div>
                        </div>
                        <div ng-show="!formData.title.$valid" class="error-message" role="alert">
                            <div ng-show="formData.title.$error.maxlength">Tamanho máximo de 96 caracteres</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Slug</label>
                        <input id="title" type="text" name="slug" class="form-control" ng-model="news.slug.slug">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Bigode</label>
                        <input type="text" class="form-control" ng-model="news.subtitle">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Autor</label>
                        <input type="text" class="form-control" ng-model="news.author">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="well well-sm">
                                <label>
                                    <input type="checkbox"
                                           ng-model="news.highlight"
                                           ng-checked="news.highlight"> Notícia Destaque
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="typeNews === 'news_agencia_de_agencia'">
                        <div class="checkbox">
                            <div class="well well-sm">
                                <label>
                                    <input type="checkbox"
                                           ng-model="news.highlight_ufmg"
                                           ng-checked="news.highlight_ufmg"> Notícia UFMG
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="typeNews === 'news_tv'">
                        <div class="checkbox">
                            <div class="well well-sm">
                                <label>
                                    <input type="checkbox"
                                           ng-model="news.highlight_home"
                                           ng-checked="news.highlight_home"> Notícia destaque multimídia
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': formData.category.$error.required && !formData.category.$valid}">
                        <label>Categoria</label>
                        <select class="form-control" ng-model="news.category" name="category" ng-options="category.id as category.name for category in categories.items"
                            required></select>
                        <div ng-show="!formData.category.$valid" class="error-message" role="alert">
                            <div ng-show="formData.category.$error.required">Campo obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="news.type == 4">
                <div class="col-md-6 form-group">
                    <div class="checkbox">
                        <div class="well well-sm">
                            <label>
                                <input type="checkbox"
                                       ng-model="news.has_video"
                                       ng-checked=""> Notícia TV com video
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="news.has_video">
                    <div class="form-group">
                        <label>Editoria</label>
                        <select class="form-control" ng-model="news.tv_program" ng-options="program.id as program.name for program in tvPrograms"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <tags-input-component resource="typeNews" add-on-comma="false" ng-model-tags="news.tags"></tags-input-component>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Thumb:</label>
                        <input type="file" class="form-control" ngf-select ng-model="news_thumb" ngf-multiple="false" ng-show="!news.thumb" style="height:auto">
                        <div class="clearfix form-control" ng-show="news.thumb">
                            <div class="pull-left">{{ news.thumb_name }}</div>
                            <div class="pull-right" ng-if="!viewOnly">
                                <span class="label label-danger remove-image-news" ng-show="news.thumb" ng-click="removeImage('pdf')">
                                    <span class="fa fa-remove"></span> REMOVER
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': formData.text.$error.required && !formData.text.$valid}">
                        <label>Conteúdo</label>
                        <div ng-if="viewOnly" id="redactor-only"></div>
                        <textarea ng-if="!viewOnly" id="redactor" cols="30" rows="30" class="form-control" ng-model="news.text" redactor imagencrop-options="imagencropOptions" audioUpload-options="audioUploadOptions"
                            uploadfiles-options="uploadfilesOptions" name="text" required></textarea>
                        <div ng-show="!formData.text.$valid" class="error-message" role="alert">
                            <div ng-show="formData.text.$error.required">Campo obrigatório</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Galeria</label>
                        <select class="form-control" ng-model="news.gallery" ng-options="gallery.id as gallery.title for gallery in galleries"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <publishment-options route-model="news" is-loading="isLoading"></publishment-options>
    </div>
</div>
<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
