<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">
                    <span ng-if="news.id">
                        <span ng-if="news.title">Editar Notícia - {{ news.title }}</span>
                        <span ng-if="!news.title">Editar Notícia</span>
                    </span>
                    <span ng-if="!news.id">
                        <span ng-if="news.title">Nova Notícia - {{ news.title }}</span>
                        <span ng-if="!news.title">Nova Notícia</span>
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>

                    <li>
                        <a href="#/news">
                            <strong>Notícias</strong>
                        </a>
                    </li>

                    <li class="active">
                        <a href="#/news/new">
                            <strong>Nova Notícia</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" class="form-control"
                               ng-model="news.title">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Bigode</label>
                        <input type="text" class="form-control"
                               ng-model="news.subtitle">
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control pull-left"
                                ng-model="news.type"
                                ng-options="type.id as type.name for type in types.items"></select>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Autor</label>
                        <input type="text" class="form-control"
                               ng-model="news.author">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control pull-left"
                                ng-model="news.category"
                                ng-options="category.id as category.name for category in categories.items"></select>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>
                            Tags <small>(Digite a tag e pressione ENTER para inserir)</small>
                        </label>
                        <tags-input add-on-comma="false" ng-model="news.tags"></tags-input>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Thumb:</label>

                        <input type="file" class="form-control"
                               ngf-select
                               ng-model="news_thumb"
                               ngf-multiple="false"
                               ng-show="!news.thumb" style="height:auto">

                        <div class="clearfix form-control"
                             ng-show="news.thumb">
                            <div class="pull-left">{{ news.thumb_name }}</div>

                            <div class="pull-right">
                                <span class="label label-danger remove-image-news"
                                      ng-show="news.thumb"
                                      ng-click="removeImage('pdf')">
                                    <span class="fa fa-remove"></span> REMOVER
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                   <label>Conteúdo</label>
                    <textarea cols="30" rows="30"
                              ng-model="news.text"
                              redactor
                              imagencrop-options="imagencropOptions"
                              audioUpload-options="audioUploadOptions"></textarea>
                </div>
            </div><!--row-->
        </form>
    </div>

    <div class="col-xs-4">
        <publishment-options route-model="news"></publishment-options>
    </div>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
