header.view-header.clearfix
  .pull-left
    h2 Notícias
    ol.breadcrumb
      li.active Notícias
  .pull-right
    a.btn.btn-primary.btn-lg.pull-left(ng-href='#/news/new') NOVA NOTÍCIA
.row.list-header
  .col-xs-7
    ul.list-inline.list-status
      li
        a(ng-click="itemStatus = ''")
          span(ng-class="{ 'strong': itemStatus == '' || itemStatus == undefined }") Tudo
          span.small ({{ news.total }})
      li
        a(ng-click="itemStatus = 'publish'")
          span(ng-class="{ 'strong': itemStatus == 'published'}") Publicados
          span.small ({{ (news.items | filter: {status: 'published'}).length }})
      li
        a(ng-click="itemStatus = 'draft'")
          span(ng-class="{ 'strong': itemStatus == 'draft'}") Rascunho
          span.small ({{ (news.items | filter: {status: 'draft'}).length }})
  .col-xs-5
    .pull-right
      .pull-left
        form.form-inline(action='')
          .form-group
            input.form-control(type='text', ng-model='search', placeholder='Pesquisar')
.row
  .col-xs-12
    table.table.table-bordered(cellspacing='0', width='100%', role='grid')
      thead
        tr(role='row')
          th(style='width: 50%') Título
          th.tac(style='width: 25%') Status
          th.tac(style='width: 25%') Data da Publicação
      tbody
        tr.odd(role='row', ng-repeat='item in news.items | filter: {description: search} | filter: {status: itemStatus}')
          td
            .clearfix
              .listing-actions.pull-left
                a.btn.btn-warning(ng-href='#/news/edit/{{item.id}}')
                  i.fa.fa-pencil
              .pull-left
                | {{ item.title }}
          td {{ item.status }}
          td
            strong {{ convertDate(item.published_at) }}
.row(ng-show='news.total > 30')
  .col-xs-12
    pagination.pagination-sm(boundary-links='true', total-items='news.total', items-per-page='news.page_size', ng-model='currentPage', previous-text='‹', next-text='›', first-text='«', last-text='»', ng-change='changePage()')
