header.view-header.clearfix
  h1.pull-left {{ title }}
  .pull-right
section.clearfix.spacer-bottom
  ol.breadcrumb.pull-left
    li
      a(href='#/') Dashboard
    li.active
      | {{ title }}
  .pull-right
    a.btn.btn-info.btn-sm.pull-left(ng-href='#/clippings/new')
      span.fa.fa-plus
      |    INSERIR NOVA MATÉRIA
.row.list-header
  .col-xs-5
    ul.list-inline.list-status
      li
        a(ng-click="itemStatus = ''")
          span(ng-class="{ 'strong': itemStatus == '' || itemStatus == undefined }")
            | Tudo
          span.small ({{ clippings.total }})
      li
        a(ng-click="itemStatus = 'publish'")
          span(ng-class="{ 'strong': itemStatus == 'published'}")
            | Publicados
          span.small ({{ (clippings.items|filter: {status: 'published'}).length }})
      li
        a(ng-click="itemStatus = 'draft'")
          span(ng-class="{ 'strong': itemStatus == 'draft'}")
            | Rascunho
          span.small ({{ (clippings.items|filter: {status: 'draft'}).length }})
      li
        a(ng-click="itemStatus = 'scheduled'")
          span(ng-class="{ 'strong': itemStatus == 'scheduled'}")
            | Agendado
          span.small ({{ (clippings.items|filter: {status: 'scheduled'}).length }})
  .col-xs-7
    .pull-right
      .pull-left
        form.form-inline(action='')
          .form-group
            input.form-control(type='text', ng-model='search', placeholder='Pesquisar')
.row
  .col-xs-12
    table.table.table-bordered(cellspacing='0', width='100%', role='grid')
      thead
        tr(role='row')
          th(style='width: 50%')
            | Título
          th.tac(style='width: 22%')
            | Autor
          th.tac(style='width: 14%;')
            | Data da criação
          th.tac(style='width: 130px')
            | Ações
      tbody
        tr.odd(role='row', ng-repeat='clipping in clippings.items|filter: {description: search}|filter: {status: itemStatus}')
          td
            | {{ clipping.title }}
          td.tac
            | {{ clipping.author.name }}
          td.tac
            strong
              | {{ DateTimeHelper.convertDate(clipping.created_at)|date:'dd/MM/yyyy' }}
            br
            small ({{ clipping.status }})
          td.tac
            a.btn.btn-primary(ng-click='void(0)')
              i.fa.fa-eye
            a.btn.btn-warning(ng-href='#/clippings/edit/{{ clipping.id }}')
              i.fa.fa-pencil
            a.btn.btn-danger(ng-click='removeClipping(clipping.id, clipping.title)')
              i.fa.fa-trash
.row(ng-show='clippings.total > 30')
  .col-xs-12
    uib-pagination.pagination-sm(boundary-links='true', total-items='clippings.total', items-per-page='clippings.page_size', ng-model='currentPage', previous-text='‹', next-text='›', first-text='«', last-text='»', ng-change='changePage()')
