<loading-spinner ng-show="galleryCtrl.isLoading"></loading-spinner>
<div class="row row-content">
    <div class="page-title">
        <div class="row flex-center flex-center-mobile-column">
            <div class="col-md-6">
                <div class="title-env">
                    <h1 class="title">Nova Galeria</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-env">
                    <ol class="breadcrumb bc-1">
                        <li>
                            <a href="#/"><i class="fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#/gallery">
                                <strong>Galerias</strong>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#/gallery/new">
                                <strong>Nova Galeria</strong>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="form-group">
                    <label>Título</label>
                    <input ng-disabled="!galleryCtrl.canPermission" type="text" ng-model="galleryCtrl.gallery.title" class="form-control" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Categoria</label>
                    <select ng-disabled="!galleryCtrl.canPermission" ng-model="galleryCtrl.gallery.category" class="form-control">
                        <option value="{{ category.id }}" ng-repeat="category in galleryCtrl.categories">{{ category.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="galleryCtrl.canPermission">
        <div class="form-group">
            <label>
                    Adicionar fotos à galeria de imagens:<small ng-show="(galleryCtrl.gallery.photos | filter: {selected: true}).length &gt; 0">( Selecionadas: {{ (galleryCtrl.gallery.photos | filter: {selected: true}).length }}/{{ (galleryCtrl.gallery.photos).length }} )</small>
                </label>
        </div>
    </div>
    <div class="row">
        <div class="dashed gallery-item upload-photos upload-gallery" ng-if="galleryCtrl.canPermission">
            <div ng-click="galleryCtrl.uploadImage()" class="pages-module add-module">
                <span class="fa fa-file-image-o"></span>
                <br> Biblioteca de Mídia
            </div>
        </div>
    </div>
    <div class="row">
        <div id="gallery-list" class="sortable-row gallery-list gallery-list__img-gallery clearfix" as-sortable="galleryCtrl.sortableOptions"
            ng-model="galleryCtrl.gallery.photos">
            <div class="row">
                <div class="col-xs-offset-2">
                    <div ng-if="galleryCtrl.gallery.photos.length &gt; 0" ng-repeat="photo in galleryCtrl.gallery.photos" as-sortable-item ng-class="{ 'selected': photo.selected }"
                        class="dashed gallery-item as-sortable-item as-sortable-dragging col-xs-3">
                        <div class="gallery-photo-control">
                            <div class="pull-right" ng-if="galleryCtrl.canPermission">
                                <span as-sortable-item-handle class="label label-primary">
                                    <span class="fa fa-arrows"></span>
                                </span>
                                <span ng-click="galleryCtrl.editPhotos($index)" class="label label-warning">
                                    <span class="fa fa-pencil"></span>
                                </span>
                                <span ng-click="galleryCtrl.removePhoto(photo.file.id)" class="label label-danger">
                                    <span class="fa fa-remove"></span>
                                </span>
                            </div>
                        </div>
                        <div class="gallery-thumb">
                            <img class="img-responsive" ng-src="{{ photo.file.url }}" alt="{{ photo.file.name }}">
                        </div>
                </div>
            </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr>
        <div class="pull-right">
            <a ng-href="#/gallery" ng-if="!galleryCtrl.canPermission" class="btn btn-danger pull-left spacer-right">Fechar</a>
            <a ng-href="#/gallery" ng-if="galleryCtrl.canPermission" class="btn btn-danger pull-left spacer-right">Cancelar</a>
            <a ng-click="galleryCtrl.publish(page)" ng-if="galleryCtrl.canPermission" class="btn btn-success pull-left">Salvar</a>
        </div>
    </div>
</div>
</div>
