header.view-header.spacer-bottom.clearfix
  .pull-left
    h2
      span(ng-if='event.name') {{event.name}}
      span(ng-if='!event.name') Novo Evento
    ol.breadcrumb
      li
        a(ng-href='#/events') Eventos
      li.active(ng-if='!event.name')
        | Novo Evento
      li.active(ng-if='event.name')
        | {{event.name}}
.row
  .col-xs-8
    .row
      .col-xs-8
        // Categoria
        .form-group
          label(for='category') Categoria / Tipo do Evento
          select#category.form-control(name='category', ng-model='event.type', ng-options='category.id as category.name for category in categories')
        // Nome
        .form-group
          label(for='name') Nome do Evento
          input#name.form-control(type='text', name='name', ng-model='event.name')
        // Tags
        .form-group
          label(for='tags') Tags
          ui-select#tags(name='tags', title='Digite uma tag', multiple='', tagging='', sortable='true', tagging-tokens=',|ENTER|TAB', tagging-label='', ng-model='event.tags', theme='bootstrap', ng-disabled='disabled')
            ui-select-match(placeholder='Selecione as tags')
              | {{ $item }}
            ui-select-choices(repeat='color in availableColors | filter:$select.search')
              | {{ color }}
      // Cartaz
      .col-xs-4
        .pages-module.pages-module-cover(style='margin-top: 20px')
          .chosen-cover
            span.label.label-danger.remove-image(ng-click="imgHandler.removeImage('poster')", ng-show='event.poster')
              span.fa.fa-remove
              |  Remover Cartaz
          .add-module(ngf-select='', ngf-accept="'image/*'", ngf-multiple='false', ng-model='event.poster', ng-show='!event.poster')
            | + Adicionar Capa
          .uploaded-image(ng-show='event.poster')
            img(alt='', ng-src='{{event.poster.url}}')
    // Foto
    .row
      .col-xs-12
        .pages-module.pages-module-cover
          .chosen-cover
            span.label.label-danger.remove-image(ng-click="imgHandler.removeImage('photo')", ng-show='event.photo')
              span.fa.fa-remove
              |  Remover Foto
          .add-module(ngf-select='', ngf-accept="'image/*'", ngf-multiple='false', ng-model='event.photo', ng-show='!event.photo')
            | + Adicionar Foto
          .uploaded-image(ng-show='event.photo')
            img(alt='', ng-src='{{ event.photo.url }}')
    // Cursos de Interesse
    .row
      .col-xs-12
        .form-group
          label Cursos de Interesse
          ul.clearfix.events-courses-list
            li(ng-repeat='course in courses')
              .checkbox
                label(for='course-{{ course.id }}')
                  input(type='checkbox', value='{{ course.id }}', name='courses[]', id='course-{{ course.id }}', ng-checked='event.courses.indexOf(course.id) > -1', ng-click='toggleSelection(course.id)')
                  |  {{ course.name }}
    .row
      // Audio
      .col-xs-6
        .form-group
          label(for='audio') Áudio
          input#audio.form-control(type='text', name='audio', ng-model='event.audio')
      // Video
      .col-xs-6
        .form-group
          label(for='video') Vídeo
          input#video.form-control(type='text', name='video', ng-model='event.video')
    // Descrição
    .row
      .col-xs-12
        .form-group
          label(for='description') Descrição
          textarea#description.form-control(name='description', cols='30', rows='5', ng-model='event.description')
    // Ficha Técnica
    .row
      .col-xs-12
        .form-group
          label(for='datasheet') Ficha Técnica
          textarea#datasheet(name='datasheet', cols='30', rows='5', ng-model='event.datasheet', redactor='redactorConfig')
    .row
      .col-xs-6
        .well.well-sm
          // Início
          .row
            .col-xs-6
              .form-group
                label(for='initDate')
                  span.fa.fa-calendar
                  |  Data de início
                input#initDate.form-control.ng-pristine.ng-untouched.ng-valid(type='text', name='initDate', ng-model='event.initDate', ng-focus='datepickerOpt.initDate.open(this, $event)', datepicker-popup='{{ datepickerOpt.initDate.format }}', datepicker-options='datepickerOpt.initDate.dateOptions', is-open='datepickerOpt.initDate.status.opened', min-date='datepickerOpt.initDate.minDate', max-date='datepickerOpt.initDate.maxDate')
            .col-xs-6
              .form-group
                label
                  i.fa.fa-clock-o
                  |  Horário de início
                timepicker(ng-model='event.initTime', hour-step='1', minute-step='1', show-meridian='timepickerOpt.initTime.isMeridian')
          // Fim
          .row
            .col-xs-6
              .form-group
                label(for='endDate')
                  span.fa.fa-calendar
                  |  Data de fim
                input#endDate.form-control.ng-pristine.ng-untouched.ng-valid(type='text', name='endDate', ng-model='event.endDate', ng-focus="datepickerOpt.endDate.open(this, $event, 'initDate')", datepicker-popup='{{ datepickerOpt.endDate.format }}', datepicker-options='datepickerOpt.endDate.dateOptions', is-open='datepickerOpt.endDate.status.opened', min-date='datepickerOpt.endDate.minDate', max-date='datepickerOpt.endDate.maxDate')
            .col-xs-6
              .form-group
                label
                  i.fa.fa-clock-o
                  |  Horário de fim
                timepicker(ng-model='event.endTime', hour-step='1', minute-step='1', show-meridian='timepickerOpt.endTime.isMeridian')
      // Duração
      .col-xs-3
        .well.well-sm
          .row
            .col-xs-12
              .form-group
                label(for='duration')
                  i.fa.fa-history
                  |  Duração
                input#duration.form-control(type='text', name='duration', ng-model='event.duration', ui-mask='99:99')
      .col-xs-3
    .row
      .col-xs-6
        // Local
        .form-group
          label(for='local') Local
          input#local.form-control(type='text', name='local', ng-model='event.local')
        // Investimento
        .form-group
          label(for='investment') Investimento
          input#investment.form-control(type='text', name='investment', ng-model='event.investment')
      .col-xs-6
        // Endereço
        .form-group
          label(for='address') Endereço
          input#address.form-control(type='text', name='address', ng-model='event.address')
        // Inscrição
        .form-group
          label(for='enrollment') Inscrição
          input#enrollment.form-control(type='text', name='enrollment', ng-model='event.registration')
    // Evento Gratuito
    .row
      .col-xs-12
        .form-group
          .checkbox
            .well.well-sm
              label(for='free')
                input#free(type='checkbox', name='free', ng-model='event.free')
                |  Evento Gratuito
    .row
      // Telefone
      .col-xs-4
        .form-group
          label(for='phone') Telefone
          input#phone.form-control(type='text', name='phone', ng-model='event.phone')
      // E-mail de contato
      .col-xs-4
        .form-group
          label(for='email') E-mail de contato
          input#email.form-control(type='text', name='email', ng-model='event.email')
      // Site
      .col-xs-4
        .form-group
          label(for='site') Site
          input#site.form-control(type='text', name='site', ng-model='event.site')
  .col-xs-4
    publishment-options(route-model='event')
//
  <div class="row">
  <div class="col-xs-12">
  <hr>
  <div class="pull-right">
  <a class="btn btn-danger pull-left spacer-right">Cancelar</a>
  <a class="btn btn-success pull-left"
  ng-click="publish(event)">Salvar</a>
  </div>
  </div>
  </div>
