<div class="page-title">
    <div class="row flex-center flex-center-mobile-column">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Eventos</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li class="active">
                        <a href="#/eventes">
                            <strong>Eventos</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="btn-toolbar row">
                <div class="col-md-6 col-md-push-6 clearfix">
                    <a ng-if="eventsCtrl.canPost" class="btn btn-secondary btn-lg pull-right" ng-href="#/events/new"><i class="fa fa-plus"></i> NOVO EVENTO</a>
                </div>
                <div class="focus-btn-group col-md-6 col-md-pull-6 clearfix">
                    <a ng-click="eventsCtrl.changeStatus('all')" class="btn" ng-class="{ 'btn-gray': eventsCtrl.itemStatus === 'all'}">
                        <span ng-class="{ 'strong': eventsCtrl.itemStatus === 'all' }">Tudo</span>
                    </a>
                    <a ng-click="eventsCtrl.changeStatus('published')" class="btn" ng-class="{ 'btn-gray': eventsCtrl.itemStatus === 'published'}">
                        <span ng-class="{ 'strong': eventsCtrl.itemStatus === 'published'}">Publicados</span>
                    </a>
                    <a ng-click="eventsCtrl.changeStatus('draft')" class="btn" ng-class="{ 'btn-gray': eventsCtrl.itemStatus === 'draft'}">
                        <span ng-class="{ 'strong': eventsCtrl.itemStatus === 'draft'}">Não publicado</span>
                    </a>
                    <a ng-click="eventsCtrl.changeStatus('scheduled')" class="btn" ng-class="{ 'btn-gray': eventsCtrl.itemStatus === 'scheduled'}">
                        <span ng-class="{ 'strong': eventsCtrl.itemStatus === 'scheduled'}">Agendado</span>
                    </a>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered" datatable dt-instance="eventsCtrl.dtInstance" dt-options="eventsCtrl.dtOptions" dt-columns="eventsCtrl.dtColumns">
                    <thead>
                        <tr>
                            <th class="col-xs-5">Título</th>
                            <th class="col-xs-2">Usuário</th>
                            <th class="col-xs-2">Data da Publicação</th>
                            <th class="col-xs-2">Categoria</th>
                            <th class="col-xs-2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" role="row" ng-repeat="item in eventsCtrl.events.items">
                            <td>
                                <a target="_blank" ng-href="{{ item.event_url }}">{{ item.name }}</a>&nbsp;
                                <span class="label label-primary" ng-if="item.highlight">Destaque</span>
                                <p>
                                    {{item.init_date | date:'dd/MM/yyyy'}}
                                    <span ng-if="item.init_hour">
                                        às {{item.init_hour}}
                                    </span>
                                    <span ng-if="item.init_date !== item.end_date">
                                        até {{item.end_date | date:'dd/MM/yyyy'}}
                                    </span>
                                    <span ng-if="(item.init_date === item.end_date && !!item.end_hour) || (!!!item.end_date && !!item.end_hour)">
                                        até {{item.end_hour}}
                                    </span>
                                    <span ng-if="item.init_date !== item.end_date && !!item.end_hour">
                                        às {{item.end_hour}}
                                    </span>
                                </p>
                            </td>
                            <td>{{ item.author.name }}</td>
                            <td>
                                <strong>{{ item.post_date|date:'dd/MM/yyyy' }}</strong>
                                <br>
                                <small>{{ item.status|translate|titleize }}</small>
                            </td>
                            <td>{{ item.type.name }}</td>
                            <td class="table-fit">
                                <a uib-tooltip="Visualizar" target="_blank" ng-href="{{ item.event_url }}" class="btn btn-primary">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a uib-tooltip="Editar" ng-if="canPut('events', item.id)" ng-href="#/events/edit/{{ item.id }}" class="btn btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a uib-tooltip="Editar" ng-if="!canPut('events', item.id)" ng-href="#/events/view/{{ item.id }}" class="btn btn-orange">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a uib-tooltip="Excluir" ng-if="eventsCtrl.canDelete" ng-click="eventsCtrl.remove(item.id, item.name)" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
