.table-full-data {
    > .box-search {
        margin-bottom: 0;
        width: 50%;
    }
    .table {
        margin-top: 5px;
    }

    .ms-container {
        background: transparent url('assets/img/switch.png') no-repeat 50% 50%;
        position: relative;
    }
    
    .ms-hover:hover {
        background-color: #e4e4e4 !important;
        cursor: pointer;
    }
    
    .remove-padding tbody tr td {
        padding: 9px !important;
    }
    
    .fixed-bottom {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
    
    .margin-bottom {
        margin-bottom: 15px;
    }
}