.pages-module
  background: white
  border: 2px dashed #999
  margin-bottom: 30px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center


.add-module
  cursor: pointer
  height: 75px
  font-size: 160%
  font-weight: bold
  text-align: center
  padding: 20px

.pages-module-cover
  height: 200px
