<div class="page-container page-permissions">
    <div class="main-content ms-container">
        <h3>Personalização da edição de paginas</h3>
        <div class="row">
            <div class="form-group col-md-9 col-xs-12">
                <select-pages-component on-page-selected="vm.onPageSelected(pageSeleted)" placeholder="Selecione uma pagina para inserir" title="Selecione ou procure a página..." page-selected="vm.pageSelected"></select-pages-component>
            </div>
            <div class="col-md-3 col-xs-12">
                <button ng-click="vm.addPage()" class="btn btn-primary btn-block">
                    <i class="fa fa-plus"></i>
                    Inserir
                </button>
            </div>
        </div>
        <div class="row search-pages">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="vm.queryPage" placeholder="Buscar rápida de paginas">
                </div>
            </div> 
        </div>
        <section class="row container-list">
            <div ng-repeat="dataPage in vm.dataList | filter: vm.queryPage track by dataPage.idPage" class="col-md-12 list-pages">
                <div class="item-page">
                    <div class="head">
                        <h4 class="title-page">
                            {{ dataPage.title }}
                            <span ng-show="vm.isPageCreator(dataPage.idAuthor)" 
                                uib-tooltip="{{ vm.getMessageCreator() }}" tooltip-placement="bottom">
                                <i class="fas fa-user"></i>
                            </span>
                        </h4>
                        <div class="wrapper-delete" ng-class="{'-trash-transitions': vm.toggleDelete[dataPage.idPage]}">
                            <button ng-click="vm.toggleDialogDelete(dataPage.idPage)" class="btn btn-link btn-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            <div class="dialog-delete">
                                <p class="text-danger text-msg">Remover de permissões?</p>
                                <div class="group-button">
                                    <button ng-click="vm.deletePage(true, dataPage)" class="btn btn-danger btn-xs">Sim</button>
                                    <button ng-click="vm.deletePage(false, dataPage)" class="btn btn-default btn-xs">Não</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="permissions checkbox">
                        <label class="label-checkbox"> <input ng-model="dataPage.permissions.putSuper" type="checkbox" ng-change="vm.changePutSuper(dataPage)"> Super Editar </label>
                        <label class="label-checkbox"> <input ng-model="dataPage.permissions.putTag" type="checkbox" ng-disabled="dataPage.permissions.putSuper"> Editar Tags </label>
                    </div>
                </div>
                <button class="btn btn-link btn-modules" role="button" ng-click="vm.btnModules[dataPage.idPage] = !vm.btnModules[dataPage.idPage]" ng-init="vm.btnModules[dataPage.idPage]"
                    data-toggle="collapse" data-target="#collapseModules{{ dataPage.idPage }}" aria-expanded="false" aria-controls="collapseModules">
                    <i class="fa fa-arrow-down" ng-class="{'-up': vm.btnModules[dataPage.idPage]}"></i>
                    Módulos
                </button>
                <div class="item-modules collapse" id="collapseModules{{ dataPage.idPage }}">
                    <div class="list-modules">
                        <div class="select-module">
                            <div class="select">
                                <select-widget-component label="Escolha o módulo" widget-model="vm.moduleSelected">
                                </select-widget-component>
                            </div>
                            <div class="action">
                                <button ng-click="vm.addModule(dataPage)" class="btn btn-sm btn-default">
                                    <i class="fa fa-plus"></i>
                                    Inserir
                                </button>
                            </div>
                        </div>
                        <div ng-repeat="widget in dataPage.modules track by widget.type" class="module">
                            <h5 class="title">
                                {{ widget.label }}
                            </h5>
                            <div class="permissions-module checkbox" ng-show="!dataPage.permissions.putSuper">
                                <label class="label-checkbox"> <input ng-model="widget.permissions.put" type="checkbox"> Editar </label>
                                <label class="label-checkbox"> <input ng-model="widget.permissions.delete" type="checkbox"> Excluir </label>
                                <label class="label-checkbox"> <input ng-model="widget.permissions.post" type="checkbox"> Criar </label>
                            </div>
                            <div class="actions">
                                <button ng-click="vm.deleteModule($index, dataPage)" class="btn btn-link btn-delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="module" ng-show="!dataPage.modules.length">
                            <p >
                                Nenhum módulo adicionado ainda. 
                                Usuário sem permissão para gerenciar módulos em <b> {{ dataPage.title }}. </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!vm.dataList.length" class="col-md-12 list-pages">
                <p> Nenhuma página adicionada ainda. </p>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <button ng-click="vm.save()" class="btn btn-success pull-right">
                    <i class="fa fa-check"></i>
                    Salvar
                </button>
                <button ng-click="vm.close()" class="btn btn-default pull-right">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>