.page-permissions {
    .container-list {
        max-height: 50vh;
        margin-bottom: 20px;
        padding-right: 15px;
        overflow: auto;
        overflow-x: hidden;
    }

    .list-pages {
        margin: 5px 0;
        border: 1px solid rgba(2, 2, 2, .38);
        box-shadow: 0px 2px 7px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        .btn-modules {
            margin-bottom: 0;
            text-decoration: none;
            .fa {
                transition: 1s;
                &.-up {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .list-pages > .item-modules {
        margin-top: 5px;
        .list-modules {
            padding-left: 30px;
            > .module {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 5px;
                margin: 5px;
                border: .5px dashed;
                .title {
                    flex: 1;
                    font-weight: bold;
                    padding: 0 10px;
                }
            }
            > .select-module {
                display: flex;
                align-items: flex-end;
                .select {
                    flex: 2;
                }
            }
        }
    }

    .list-pages > .item-page {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        > .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
        }
        > .head > .title-page {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .fas {
                padding-left: 5px;
            }
        }

        > .head > .wrapper-delete {
            position: relative;
            left: 26%;
            transition: .8s;
            @media only screen and (max-width: 992px) {
                left: 41%;
            }
            &.-trash-transitions {
                left: 0;
            }
            > .dialog-delete {
                display: inline-block;
                padding-left: 5px;
                position: relative;
                > .text-msg, .group-button {
                    font-size: .7em;
                    display: inline-block;
                }
                > .group-button {
                    margin-left: 5px;
                    .btn {
                        margin: 0;
                    }
                }
            }
        }
    }

}