<div class="page-container page-permissions">
    <div class="main-content ms-container">
        <h3>Personalização da edição de paginas</h3>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                <select-pages-component on-page-selected="vm.onPageSelected(pageSeleted)" placeholder="Selecione uma pagina para inserir" title="Selecione ou procure a página..." page-selected="vm.pageSelected"></select-pages-component>
            </div>
            <div class="col-md-6 col-xs-12">
                <button ng-click="vm.addPage()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Inserir
                </button>
            </div>
        </div>
        <section class="row container-list">
            <div ng-repeat="dataPage in vm.dataList track by $index" class="col-md-12 list-pages">
                <div class="item-page">
                    <div class="head">
                        <h4 class="title-page">{{ dataPage.title }}</h4>
                        <div class="wrapper-delete" ng-class="{'-trash-transitions': vm.toggleDelete['page'+$index]}">
                            <button ng-click="vm.startDialogDelete('page', $index)" class="btn btn-link btn-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            <div class="dialog-delete">
                                <p class="text-danger text-msg">Remover página de permissões?</p>
                                <div class="group-button">
                                    <button ng-click="vm.deletePage(true, 'page', $index)" class="btn btn-danger btn-xs">Sim</button>
                                    <button ng-click="vm.deletePage(false, 'page', $index)" class="btn btn-default btn-xs">Não</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="permissions checkbox">
                        <label class="label-checkbox"> <input ng-model="dataPage.permissons.putSuper" type="checkbox"> Super Editar </label>
                        <label class="label-checkbox"> <input ng-model="dataPage.permissons.putTag" type="checkbox"> Editar Tags </label>
                    </div>
                </div>
                <button class="btn btn-link btn-modules" role="button" ng-click="vm.btnModules[$index] = !vm.btnModules[$index]" ng-init="vm.btnModules[$index] = false"
                    data-toggle="collapse" data-target="#collapseModules{{ $index }}" aria-expanded="false" aria-controls="collapseModules">
                    <i class="fa fa-arrow-down" ng-class="{'-up': vm.btnModules[$index]}"></i>
                    Módulos
                </button>
                <div class="item-modules collapse" id="collapseModules{{ $index }}">
                    <div class="list-modules">
                        <div class="select-module">
                            <label >Escolha o módulo</label>
                            <select class="form-control">
                                <option value="">Módulo 1</option>
                                <option value="">Módulo 2</option>
                                <option value="">Módulo 3</option>
                            </select>
                        </div>
                        <div ng-repeat="widget in dataPage.modules track by widget.type" class="module">
                            <h5 class="title">
                                {{ widget.label }}
                            </h5>
                            <div class="permissions-module checkbox">
                                <label class="label-checkbox"> <input ng-model="widget.permissions.put" type="checkbox"> Editar </label>
                                <label class="label-checkbox"> <input ng-model="widget.permissions.delete" type="checkbox"> Excluir </label>
                                <label class="label-checkbox"> <input ng-model="widget.permissions.post" type="checkbox"> Criar </label>
                            </div>
                            <div class="actions">
                                <button ng-click="vm.deleteModule($index, dataPage)" class="btn btn-link btn-delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="module" ng-show="!dataPage.modules.length">
                            <p class="msg-void"> Sem módulos adicionados ainda. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success pull-right">
                    <i class="fa fa-check"></i>
                    Salvar
                </button>
                <button class="btn btn-default pull-right">
                    <i class="fa fa-times"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>