<div class="row">
    <div class="col-xs-7">
        <table class="table table-striped table-bordered" datatable dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns">
            <thead ng-if="pagesTable">
                <tr>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr dt-rows role="row" class="odd" ng-repeat="item in pagesTable.items track by item.id">
                    <td> {{ item.title }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-5">
        <list-data></list-data>
    </div>
</div>
