<style>
    .or-group {
        position: relative;
    }

    .or-group .form-group:not(:last-child):after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e3e3e3;
        margin: 15px 0;
    }

    .or-group .form-group:not(:last-child):before {
        content: "ou";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f5f5f5;
        color: #333;
        padding: 5px 15px;
    }
</style>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">
            <span ng-if="release.id">
                <span ng-if="release.title">Editar Release - {{ release.title }}</span>
                <span ng-if="!release.title">Editar Release</span>
            </span>
            <span ng-if="!release.id">
                <span ng-if="release.title">Nova Release - {{ release.title }}</span>
                <span ng-if="!release.title">Nova Release</span>
            </span>
        </h1>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="#/">
                    <i class="fa-home"></i>Home
                </a>
            </li>

            <li>
                <a href="#/releases">
                    <strong>Release</strong>
                </a>
            </li>

            <li class="active">
                <a href="#/gallery/new">
                    <strong>Novo release</strong>
                </a>
            </li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" ng-model="release.title" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="subtitle">Bigode</label>
                        <input id="subtitle" name="subtitle" type="text" ng-model="release.subtitle"
                               class="form-control">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="authorName">Autor</label>
                        <input id="authorName" name="authorName" type="text" ng-model="release.authorName"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <!--<div class="pages-module pages-module-cover">-->
                            <!--<div class=chosen-cover>-->
                                <!--<a href="javascript:void(0);" class="label label-danger remove-image"-->
                                   <!--ng-click="imgHandler.removeImage('thumb')" ng-show="release.thumb">-->
                                    <!--<i class="fa fa-remove"></i> Remover Thumb-->
                                <!--</a>-->
                            <!--</div>-->

                            <!--<div class="add-module"-->
                                 <!--ngf-select-->
                                 <!--ngf-accept="'image/*'"-->
                                 <!--ngf-multiple="false"-->
                                 <!--ng-model="release.thumb"-->
                                 <!--ng-show="!release.thumb">+ Adicionar Thumb-->
                            <!--</div>-->

                            <!--<div class="uploaded-image"-->
                                 <!--ng-show="release.thumb">-->
                                <!--<img ng-src="{{ release.thumb.url }}">-->
                            <!--</div>-->
                        <!--</div>-->

                        <input type="file" class="form-control"
                               ngf-select
                               ng-model="news_thumb"
                               ngf-multiple="false"
                               ng-show="!news.thumb">

                        <div class="clearfix form-control"
                             ng-show="news.thumb" style="height:auto">
                            <div class="pull-left">{{ news.thumb_name }}</div>

                            <div class="pull-right">
                                <span class="label label-danger remove-image-news"
                                      ng-show="news.thumb"
                                      ng-click="removeImage('pdf')">
                                    <span class="fa fa-remove"></span> REMOVER
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Adicionar conteúdo</label>
                        <textarea id="content" name="content" cols="30" rows="5" ng-model="release.content"
                                  redactor="redactorOptions"></textarea>
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>Fonte</h3>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input id="name" name="name" type="text" ng-model="release.source.name" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" name="email" ng-model="release.source.email" class="form-control">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input id="phone" type="text" name="phone" ng-model="release.source.phone" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>Serviços</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="whats">O que é</label>
                        <input id="whats" type="text" name="whats" ng-model="release.service.whats"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Quando</label>
                        <div class="row">
                            <div class="col-xs-4">
                                <select title="Dia" ng-model="release.service.when.day" class="form-control">
                                    <option value="{{ day }}" ng-repeat="day in time_days">{{ day }}</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <select title="Mês" ng-model="release.service.when.month" class="form-control">
                                    <option value="{{ month }}" ng-repeat="month in time_months">{{ month }}</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <select title="Ano" ng-model="release.service.when.year" class="form-control">
                                    <option value="{{ year }}" ng-repeat="year in time_years">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="where">Onde</label>
                        <input id="where" type="text" name="where" ng-model="release.service.where"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>
                Arquivos
                <button class="pull-right btn btn-primary btn-sm"
                        ng-click="fileHandler.addItem()">
                    <span class="fa fa-plus"></span>
                </button>
            </h3>

            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="(idx, file) in release.files" class="well well-sm">
                        <div ng-click="release.files[idx].opened = true" class="clearfix">
                            <div class="pull-left">
                                <label>Arquivo {{ idx + 1 }}</label>
                            </div>

                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm"
                                        ng-click="fileHandler.removeItem(idx)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div ng-show="release.files[idx].opened">
                            <div class="or-group">
                                <div class="form-group">
                                    <label>URL</label>
                                    <input type="text" ng-model="release.files[idx].external_url" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Arquivo</label>

                                    <div class="pages-module pages-module-cover">
                                        <div class="chosen-cover">
                                            <a class="label label-danger remove-image"
                                               ng-click=fileHandler.removeFile(idx)
                                               ng-show=release.files[idx].file>
                                                <i class="fa fa-remove"></i> Remover Arquivo
                                            </a>
                                        </div>

                                        <div class="add-module"
                                             ngf-select
                                             ngf-accept="'*'"
                                             ngf-multiple="false"
                                             ng-model="release.files[idx].file"
                                             ng-show="!release.files[idx].file">+ Adicionar Arquivo
                                        </div>

                                        <div ng-show="release.files[idx].file" class="uploaded-image">
                                            {{ release.files[idx].file }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-primary"
                                            ng-click="fileHandler.saveItem(idx)">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <a class="btn btn-danger pull-left spacer-right">Cancelar</a>
                        <a ng-click="publish(release)" class="btn btn-success pull-left">Salvar</a>
                    </div>
                </div>
            </div><!--row-->
        </form>
    </div>

    <div class="col-xs-4">
        <publishment-options route-model="release"></publishment-options>
    </div>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
