<div class="page-title">
    <div class="title-env">
        <h1 class="title">
            <span ng-if="release.id">
                <span ng-if="release.title">Editar Release - {{ release.title }}</span>
                <span ng-if="!release.title">Editar Release</span>
            </span>
            <span ng-if="!release.id">
                <span ng-if="release.title">Novo Release - {{ release.title }}</span>
                <span ng-if="!release.title">Novo Release</span>
            </span>
        </h1>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="#/">
                    <i class="fa-home"></i>Home
                </a>
            </li>

            <li>
                <a href="#/releases">
                    <strong>Release</strong>
                </a>
            </li>

            <li class="active">
                <a href="#/gallery/new">
                    <strong>Novo release</strong>
                </a>
            </li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input id="title" name="title" type="text" ng-model="release.title" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="subtitle">Bigode</label>
                        <input id="subtitle" name="subtitle" type="text" ng-model="release.subtitle"
                               class="form-control">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="authorName">Autor</label>
                        <input id="authorName" name="authorName" type="text" ng-model="release.authorName"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="file" class="form-control"
                               ngf-select
                               ng-model="release.thumb"
                               ngf-multiple="false"
                               ng-show="!release.thumb">

                        <div class="clearfix form-control"
                             ng-show="release.thumb" style="height:auto">
                            <div class="pull-left">{{ release.thumb.url }}</div>

                            <div class="pull-right">
                                <span class="label label-danger remove-image"
                                      ng-show="release.thumb"
                                      ng-click="imgHandler.removeImage('thumb')">
                                    <span class="fa fa-remove"></span> REMOVER
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Adicionar conteúdo</label>
                        <textarea id="content" name="content" cols="30" rows="5" ng-model="release.content"
                                  redactor="redactorOptions"></textarea>
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>Fonte</h3>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input id="name" name="name" type="text" ng-model="release.source.name" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" name="email" ng-model="release.source.email" class="form-control">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input id="phone" type="text" name="phone" ng-model="release.source.phone" class="form-control">
                    </div>
                </div>
            </div><!--row-->


             <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">URL:</label>
                        <input id="name" name="url" type="text" ng-model="release.source.url" class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>Serviços</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="whats">O que é</label>
                        <input id="whats" type="text" name="whats" ng-model="release.service.whats"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="" class="">Dia:</label>
                                <input type="text" ng-model="release.service.when.day" class="form-control">
                            </div>

                            <div class="col-xs-4">
                                <label for="" class="">Mês:</label>
                                 <input type="text" ng-model="release.service.when.month" class="form-control">
                            </div>

                            <div class="col-xs-4">
                                <label for="" class="">Ano:</label>
                                <input type="text" ng-model="release.service.when.year" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="where">Onde</label>
                        <input id="where" type="text" name="where" ng-model="release.service.where"
                               class="form-control">
                    </div>
                </div>
            </div><!--row-->

            <hr>
            <h3>
                Arquivos
            </h3>

            <div class="row">
                <div class="col-xs-12">
                    <div ng-repeat="(idx, file) in release.files" class="well well-sm">
                        <div ng-click="release.files[idx].opened = true" class="clearfix">
                            <div class="pull-left">
                                <label>Arquivo {{ idx + 1 }}</label>
                            </div>

                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm"
                                        ng-click="fileHandler.removeItem(idx)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <div ng-show="release.files[idx].opened">
                            <div class="form-group">
                                    <ul class="nav nav-tabs nav-tabs-justified">
                                        <li  ng-class="{ active: release.files[idx].isFile }"
                                            ng-click="release.files[idx].isFile = true">

                                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                                            <span class="hidden-xs">Arquivos (Upload)</span>
                                        </li>
                                        <li ng-class="{ active: !release.files[idx].isFile }"
                                            ng-click="release.files[idx].isFile = false">

                                                <span class="visible-xs"><i class="fa fa-upload"></i></span>
                                                <span class="hidden-xs">Vídeo (URL)</span>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane text-center"  ng-class="{ active: release.files[idx].isFile }" id="upload">
                                            <input  type="file"
                                                class="form-control"
                                                ngf-select
                                                ngf-accept="'*'"
                                                ngf-multiple="false"
                                                ng-model="release.files[idx].file"
                                                ng-show="!release.files[idx].file">

                                            <div class="clearfix form-control"
                                                 ng-show="release.files[idx].file" style="height:auto">
                                                <div class="pull-left">{{ release.files[idx].file }}</div>

                                                <div class="pull-right">
                                                    <span class="label label-danger remove-image-releases"
                                                          ng-show="release.files[idx].file"
                                                          ng-click="removeReleasesFiles(idx)">
                                                        <span class="fa fa-remove"></span> REMOVER
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane text-center" ng-class="{ active: !release.files[idx].isFile }" id="video">
                                                <input  type="text"
                                                    placeholder="Inserir URL do Vídeo (Youtube ou Vimeo)..."
                                                    ng-model="release.files[idx].external_url"
                                                    class="form-control"
                                                    ng-show="release.files[idx].isFile == false">
                                        </div>
                                    </div>

                      <!--           <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <input  type="text"
                                                    placeholder="Url do vídeo (youtube ou vimeo)"
                                                    ng-model="release.files[idx].external_url"
                                                    class="form-control"
                                                    ng-show="release.files[idx].isFile == false">

                                            <div class="form-group"  ng-show="release.files[idx].isFile">
                                                <input  type="file"
                                                        class="form-control"
                                                        ngf-select
                                                        ngf-accept="'*'"
                                                        ngf-multiple="false"
                                                        ng-model="release.files[idx].file"
                                                        ng-show="!release.files[idx].file">

                                                <div class="clearfix form-control"
                                                     ng-show="release.files[idx].file" style="height:auto">
                                                    <div class="pull-left">{{ release.files[idx].file }}</div>

                                                    <div class="pull-right">
                                                        <span class="label label-danger remove-image"
                                                              ng-show="release.files[idx].file"
                                                              ng-click="removeReleasesFiles(idx)">
                                                            <span class="fa fa-remove"></span> REMOVER
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="pages-module add-module"
                            ng-click="fileHandler.addItem()">
                        <span class="add-title">
                            + Novo Arquivo
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-4">
        <publishment-options route-model="release"></publishment-options>
    </div>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>
