header.view-header.clearfix
  h1.pull-left {{ title }}
  .pull-right
section.clearfix.spacer-bottom
  // Breadcrumb
  ol.breadcrumb.pull-left
    li
      a(href='#/') Dashboard
    li
      a(href='#/releases') Releases
    li.active
      | {{ breadcrumb }}
form.form(action='')
  .row
    .col-xs-8
      .row
        // Title
        .col-xs-12
          .form-group
            label(for='title') Título
            input#title.form-control(name='title', type='text', ng-model='release.title')
      .row
        // Subtitle
        .col-xs-6
          .form-group
            label(for='subtitle') Bigode
            input#subtitle.form-control(name='subtitle', type='text', ng-model='release.subtitle')
        // Author
        .col-xs-6
          .form-group
            label(for='authorName') Autor
            input#authorName.form-control(name='authorName', type='text', ng-model='release.authorName')
      // Thumb
      .row
        .col-xs-12
          .form-group
            .pages-module.pages-module-cover
              .chosen-cover
                span.label.label-danger.remove-image(ng-click="imgHandler.removeImage('thumb')", ng-show='release.thumb')
                  span.fa.fa-remove
                  |  Remover Thumb
              .add-module(ngf-select='', ngf-accept="'image/*'", ngf-multiple='false', ng-model='release.thumb', ng-show='!release.thumb')
                | + Adicionar Thumb
              .uploaded-image(ng-show='release.thumb')
                img(alt='', ng-src='{{ release.thumb.url }}')
      // Content
      .row
        .col-xs-12
          .form-group
            label(for='content') Adicionar conteúdo
            textarea#content(name='content', cols='30', rows='5', ng-model='release.content', redactor='redactorConfig')
      hr
      h3 Fonte
      // Name
      .row
        .col-xs-12
          .form-group
            label(for='name') Nome
            input#name.form-control(name='name', type='text', ng-model='release.source.name')
      .row
        // E-mail
        .col-xs-6
          .form-group
            label(for='email') E-mail
            input#email.form-control(type='text', name='email', ng-model='release.source.email')
        // Phone
        .col-xs-6
          .form-group
            label(for='phone') Telefone
            input#phone.form-control(type='text', name='phone', ng-model='release.source.phone')
      hr
      h3 Serviços
      // What
      .row
        .col-xs-12
          .form-group
            label(for='whats') O que é
            input#whats.form-control(type='text', name='whats', ng-model='release.service.whats')
      .row
        // When
        .col-xs-6
          .form-group
            label Quando
            .row
              .col-xs-4
                select.form-control(title='Dia', ng-model='release.service.when.day')
                  option(value='{{ day }}', ng-repeat='day in time_days')
                    | {{ day }}
              .col-xs-4
                select.form-control(title='Mês', ng-model='release.service.when.month')
                  option(value='{{ month }}', ng-repeat='month in time_months')
                    | {{ month }}
              .col-xs-4
                select.form-control(title='Ano', ng-model='release.service.when.year')
                  option(value='{{ year }}', ng-repeat='year in time_years')
                    | {{ year }}
        // Where
        .col-xs-6
          .form-group
            label(for='where') Onde
            input#where.form-control(type='text', name='where', ng-model='release.service.where')
      hr
      // Files
      style.
        .or-group {
        position: relative;
        }
        .or-group .form-group:not(:last-child):after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e3e3e3;
        margin: 15px 0;
        }
        .or-group .form-group:not(:last-child):before {
        content: "ou";
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f5f5f5;
        color: #333;
        padding: 5px 15px;
        }
      h3
        | Arquivos
        a.pull-right.btn.btn-primary.btn-sm(href='#', ng-click='fileHandler.addItem($event)')
          span.fa.fa-plus
      .row
        .col-xs-12
          .well.well-sm(ng-repeat='(idx, file) in release.files')
            .clearfix(ng-click='release.files[idx].opened = true')
              .pull-left
                label Arquivo {{ idx + 1 }}
              .pull-right
                a.btn.btn-danger.btn-sm(href='#', ng-click='fileHandler.removeItem($event, idx)')
                  i.fa.fa-trash
            div(ng-show='release.files[idx].opened')
              .or-group
                .form-group
                  label URL
                  input.form-control(type='text', ng-model='release.files[idx].external_url')
                .form-group
                  label Arquivo
                  .pages-module.pages-module-cover
                    .chosen-cover
                      span.label.label-danger.remove-image(ng-click='fileHandler.removeFile(idx)', ng-show='release.files[idx].file')
                        span.fa.fa-remove
                        |  Remover Arquivo
                    .add-module(ngf-select='', ngf-accept="'*'", ngf-multiple='false', ng-model='release.files[idx].file', ng-show='!release.files[idx].file')
                      | + Adicionar Arquivo
                    .uploaded-image(ng-show='release.files[idx].file')
                      | {{ release.files[idx].file }}
              .clearfix
                .pull-right
                  a.btn.btn-sm.btn-primary(href='#', ng-click='fileHandler.saveItem($event, idx)')
                    | Salvar
      .row
        .col-xs-12
          hr
          .pull-right
            a.btn.btn-danger.pull-left.spacer-right Cancelar
            a.btn.btn-success.pull-left(ng-click='publish(release)') Salvar
    // Publishing
    .col-xs-4
      publishment-options(route-model='release')
