<ui-select ng-model="ctrlSelectPage.pageSelected"
    theme="bootstrap" class="ui-select"
    title="{{ ctrlSelectPage.titleDefault }}"
    on-select="ctrlSelectPage.onPageSelect($select.selected)">
    <ui-select-match placeholder="{{ ctrlSelectPage.placeHolderDefault }}">{{ $select.selected.title }}</ui-select-match>
    <ui-select-choices repeat="item.id as item in ctrlSelectPage.pages | filter: $select.search track by $index" scroll-detect="ctrlSelectPage.loadMorePage($select.search)"
        refresh="ctrlSelectPage.loadMorePage($select.search)" refresh-delay="300">
        <div ng-bind-html="item.title | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>