<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Termos de Serviço</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/use-term">
                            <strong>Termos de Serviço</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8" ng-class="{'col-xs-offset-2': !vm.isAdmin}">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <textarea ng-if="vm.isAdmin" class="form-control" cols="50" rows="10" ng-model="vm.term.term" redactor="redactorConfig"></textarea>
                    <div ng-if="!vm.isAdmin" data-ng-bind-html="vm.term.term"></div>
                </div>
                <div class="col-xs-12" ng-if="!vm.isAdmin">
                    <button ng-click="vm.signTerm()" class="btn btn-secondary pull-right">Aceitar Termo</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.isAdmin" class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Painel de Atualização</div>
            <div class="panel-body">
                <div class="col-xs-12 form-group">
                    <select class="form-control" ng-model="vm.forceAccept" placeholder="Selecione o modo de Update">
                        <option ng-value="undefined" selected>Selecione o modo de atualização</option>
                        <option ng-value="true">Com Aceite</option>
                        <option ng-value="false">Sem Aceite</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <button ng-click="vm.updateTerm()" class="btn btn-secondary pull-right">Atualizar Termo</button>
                </div>
            </div>
        </div>
    </div>
</div>
    