.box-term {
    font-size: 1.5rem;
    margin: 30px 0 40px 0;
    p {
        color: #000;
    }
}

.instructions {
    padding: 25px;
    font-size: 1.5em;
    background-color: #fbe2ad;
    font-weight: bold;
}
