<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Orientações e regras de uso</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1" ng-show="vm.termAssigned">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/use-term">
                            <strong>Orientações e regras de uso</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="vm.term">
    <div class="col-xs-8" ng-class="{'col-xs-offset-2': !vm.canPut}">
        <div ng-show="!vm.termAssigned" class="panel panel-default instructions">
            Por favor, leia atentamente e aceite as orientações e regras de uso para continuar
        </div>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <textarea ng-if="vm.canPut" class="form-control" cols="50" rows="10" ng-model="vm.term.term" redactor="redactorConfig"></textarea>
                    <div class="box-term" ng-if="!vm.canPut" data-ng-bind-html="vm.term.term"></div>
                </div>
                <div class="col-xs-12 p-10 df jc-flex-center" ng-if="!vm.canPut">
                    <button ng-disabled="vm.signing || vm.termAssigned" ng-click="vm.signTerm()"
                        class="btn btn-lg btn-secondary" ng-class="{'btn-gray': vm.termAssigned}">
                        {{vm.termAssigned ? 'Já aceito' : 'Li e aceito as orientações e regras de uso'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.canPut" class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Painel de Atualização</div>
            <div class="panel-body">
                <div class="col-xs-12 form-group">
                    <input type="checkbox" id="checkbox1" ng-model="vm.forceAccept">
                    <label for="checkbox1">Exigir confirmação do usuário</label>
                </div>
                <div class="col-xs-12">
                    <button ng-click="vm.updateTerm()" class="btn btn-secondary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
