<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title"> 
                    Grade de programação
                    <small class="helper-text"> Visualize os programas na grade semanal </small>
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/radio_programming_grid/view">
                            <strong>Grade</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <section class="col-sm-12 panel panel-default">
        <input type="search" ng-model="nameProgram" placeholder="Busque pelo nome da programação" class="form-control">
        <ul class="collection-programming">
            <li ng-repeat="program in vm.listProgramming | filter:{title: nameProgram}" draggable data-event="{{ program }}">
                <div class="card-programming">
                    <div class="title"> {{ program.title }} </div>
                    <p class="time"> {{ program.time }} </p>
                </div>
            </li>
        </ul>
        <div class="btn-toolbar">
            <div class="pull-right">
                <a class="btn btn-secondary btn-lg" ng-href="#/radio_programming_grid/edit"><i class="fa fa-cog"></i> EDIÇÃO DA GRADE</a>
            </div>
        </div>
        <div id="fullCalendar" ui-calendar="vm.uiConfig.calendar" class="span8 calendar" ng-model="vm.eventSources" calendar="fCalendar"></div>
    </section>
</div>
