$heightHour: 80px;
$chopHours: 2;

.collection-programming {
    list-style: none;
    padding: 0;
    height: 60px;
    li {
        float: left;
    }
}

.card-programming {
    overflow-wrap: break-word;
    padding: 5px;
    margin: 10px;
    width: 10em;
    background-color: #ef3f4a;
    border-radius: 5%;
    color: #fff;
    cursor: move;
    .time {
        color: #fff;
    }
}

.helper-text {
    font-size: 55%;
    display: block;
    padding-top: 5px;
}