// Flex

.flex-self-end
  align-self: flex-end

.flex-center
  display: flex
  align-items: center
  justify-content: center

.flex-center-start
  display: flex
  align-items: center
  justify-content: flex-start

.flex-center-end
  display: flex
  align-items: center
  justify-content: flex-end
