// Labels

.remove-image
  cursor: pointer
  &:hover
    background-color: brown

.label
  cursor: pointer

.label-warning:hover
  background-color: goldenrod

.label-danger:hover
  background-color: brown

.label-primary:hover
  background-color: black

.dataTables_wrapper
  .label
    cursor: default
