.login-wrapper
  display: block
  height: 100%
  width: 100%
  margin-top: 100px
  .login-container
    margin: 0 auto
    min-width: 400px
    float: none
  .login-panel-header
    background-color: #ef3f4a
    padding: 40px 20px 40px 20px
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  button
    margin-top: 50px !important
  .login-form
    margin-top: 20px
  .panel
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px


