$primary-background: rgba(44, 46, 47, .1);
$secondary-background: rgba(44, 46, 47, .3);
$tertiary-background: rgba(44, 46, 47, .6);

$border-item: 1px solid rgba(44, 46, 47, 0.52);

.panel-main
    border: 1px solid rgba(0, 0, 0, .34)
    margin-bottom: 30px;
    .menu-header
        text-align: center;
        background-color: #2c2e2f;
        .title
            color: #f6fdfd;
            padding: 1em;
            margin-top: 0;
            font-size: 1.5em;
    .menu-content
        padding: 5px
        .list
            list-style-type: none;
            &.main
                padding: 0;
        .list .name
            border: $border-item;
            padding: 1em;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        .list > .item
            &.primary > .name
                background-color: $primary-background;
            &.secondary > .name
                background-color: $secondary-background;
            &.tertiary > .name
                background-color: $tertiary-background;

.placeholder-primary
    background-color: $primary-background;
    border: $border-item;
    height: 30px;
    
.placeholder-secondary
    background-color: $secondary-background;
    border: $border-item;
    height: 30px;

.placeholder-tertiary
    background-color: $tertiary-background;
    border: $border-item;
    height: 30px;