[class*='re-button']
  &[aria-label]
    &:before, &:before
      position: absolute
      z-index: 9999
      visibility: hidden
      opacity: 0
      filter: alpha(opacity = 0)
  .retip-content
    position: absolute
    z-index: 9999
    visibility: hidden
    opacity: 0
    filter: alpha(opacity = 0)
  &[aria-label]:before
    color: #eee
    background-color: #3d79f2

[class*='re-button'][aria-label]:before, .retip-content
  font-size: 12px
  padding: 10px
  text-shadow: none

[aria-label][class*='re-button']:before
  content: attr(aria-label)

[class*='re-button']
  &:hover[aria-label]:before
    visibility: visible
    opacity: 1
    filter: alpha(opacity = 100)
    top: -32px
    float: left
    margin-left: -12px

[class*='re-format']
  &:hover[aria-label]:before
    visibility: hidden

[class*='re-link']
  &:hover[aria-label]:before
    visibility: hidden
