<div class="page-title">
   <div class="row flex-center">
       <div class="col-md-6">
           <div class="title-env">
               <h1 class="title">
                   <span ng-if="periodical.id">
                       <span ng-if="periodical.name">Editar Publicação - {{ periodical.name }}</span>
                       <span ng-if="!periodical.name">Editar Publicação</span>
                   </span>
                   <span ng-if="!periodical.id">
                       <span ng-if="periodical.name">Nova Publicação - {{ periodical.name }}</span>
                       <span ng-if="!periodical.name">Nova Publicação</span>
                   </span>
               </h1>
           </div>
       </div>
       <div class="col-md-6">
           <div class="breadcrumb-env">
               <ol class="breadcrumb bc-1">
                   <li>
                       <a href="#/"><i class="fa-home"></i>Home</a>
                   </li>

                   <li>
                       <a href="#/periodicals">
                           <strong>Publicações Jornalísticas</strong>
                       </a>
                   </li>

                   <li class="active" ng-if="!periodical.name">
                       <a href="#/periodicals/new">
                           <strong>Nova Publicação</strong>
                       </a>
                   </li>

                   <li class="active" ng-if="periodical.name">
                       <a href="#periodicals/edit/{{ periodical.id }}">
                           <strong>{{ periodical.name }}</strong>
                       </a>
                   </li>
               </ol>
           </div>
       </div>
   </div>
</div>

<div class=row>
    <div class="col-xs-12 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" ng-model="periodical.name" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>
                            Logo <small>(A logomarca deve ser branca em PNG com fundo transparente com altura máxima de 72px)</small>:
                        </label>

                        <input type="file" class="form-control"
                               ngf-select
                               ng-model="add_photos"
                               ngf-multiple="false"
                               ng-show="!periodical.url" style="height:auto">

                        <div class="clearfix form-control"
                             ng-show="periodical.url">
                            <div class="pull-left">{{ periodical.url }}</div>

                            <div class="pull-right">
                                <span class="label label-danger remove-image-periodical"
                                      ng-show="periodical.url"
                                      ng-click="removeImage()">
                                    <i class="fa fa-remove"></i> REMOVER
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>
                            Identificador <small>(slogan)</small>:
                        </label>
                        <input type="text" ng-model="periodical.identifier" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class=form-group>
                        <label>Data da Criação:</label>
                        <input type="text" class="form-control"
                               ng-model="periodical.date"
                               ui-mask="99/99/9999">
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="form-group">
                        <label>Formato de Data:</label>
                        <select class="form-control"
                                ng-model="periodical.date_format"
                                ng-options="item.format as item.label for item in date_formats track by item.format"></select>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <a ng-click class="btn btn-danger pull-left spacer-right" href="#/periodicals">Cancelar</a>
                        <a ng-click="publish(periodical)" class="btn btn-success pull-left">Salvar</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
