<div class="page-title">
    <div class="row flexcenter">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Novo Usuário</h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>

                    <li>
                        <a href="#/users">
                            Usuários
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/users/new">
                            <strong>Novo Usuário</strong>
                        </a>
                    </li>
                </ol>
            </div><!--breadcrumb-env-->
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li ng-class="{active:vm.isSet(1)}">
        <a href ng-click="vm.setTab(1)">
            <span class="hidden-xs">Informações</span>
        </a>
    </li>
    <li ng-class="{active:vm.isSet(2)}">
        <a href ng-click="vm.setTab(2)">
            <span class="hidden-xs">Permissões</span>
        </a>
    </li>

</ul>

    <div class="tab-pane tab-content" ng-show="vm.isSet(1)">

        <div class="row">
            <form class="form">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="user_name">Nome:</label>
                        <input id="user_name" type="text" name="user_name" class="form-control" ng-model="vm.user.name">
                    </div>

                    <div class="form-group">
                        <label for="user_email">Email:</label>
                        <input id="user_email" type="email" name="user_email" class="form-control" ng-model="vm.user.email">
                    </div>

                    <div class="form-group">
                        <label for="user_commercial_phone">Telefone comercial:</label>
                        <input id="user_commercial_phone" type="text" name="user_commercial_phone" class="form-control" ng-model="vm.user.commercial_phone">
                    </div>

                    <div class="form-group">
                        <label for="user_home_phone">Telefone residencial:</label>
                        <input id="user_home_phone" type="text" name="user_home_phone" class="form-control" ng-model="vm.user.home_phone">
                    </div>

                    <div class="form-group">
                        <label for="user_mobile_phone">Telefone celular:</label>
                        <input id="user_mobile_phone" type="text" name="user_mobile_phone" class="form-control" ng-model="vm.user.mobile_phone">
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="user_unit">Unidade:</label>
                        <input id="user_unit" type="text" name="user_unit" class="form-control" ng-model="vm.user.unit">
                    </div>

                    <div class="form-group">
                        <label for="user_sector">Setor:</label>
                        <input id="user_sector" type="text" name="user_sector" class="form-control" ng-model="vm.user.sector">
                    </div>

                    <div class="form-group">
                        <label for="user_occupation">Cargo:</label>
                        <input id="user_occupation" type="text" name="user_occupation" class="form-control" ng-model="vm.user.occupation">
                    </div>

                    <div class="form-group">
                        <label for="user_function">Função:</label>
                        <input id="user_function" type="text" name="user_function" class="form-control" ng-model="vm.user.function">
                    </div>

                    <div class="form-group">
                        <label for="user_site">Site:</label>
                        <input id="user_site" type="text" name="user_site" class="form-control" ng-model="vm.user.site">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="tab-pane tab-content" ng-show="vm.isSet(2)">

        <v-accordion class="vAccordion--default" multiple>
            <div class="row">
                <div class="col-xs-12">
                    <v-pane ng-repeat="item in vm.resources track by $index">
                        <v-pane-header>
                            {{ item.alias }}
                        </v-pane-header>

                        <v-pane-content>
                            <div class="checkbox">
                                <label ng-repeat="(key, value) in item.privileges track by $index">
                                    <input type="checkbox" data-checklist-model="vm.resourcePerms" data-checklist-value="key">{{ value }}
                                </label>
                            </div>
                        </v-pane-content>
                    </v-pane>
                </div>
            </div>
        </v-accordion>

    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <hr/>
            <a href="" class="btn btn-secondary btn-lg" ng-click="vm.save()">
                <i class="fa fa-check"></i> Salvar Usuário
            </a>
        </div>
    </div>

