<div class="page-title">
    <div class="row flex-center flex-center-mobile-column">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Usuários</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li class="active">
                        <a href="#/user">
                            <strong>Usuários</strong>
                        </a>
                    </li>
                </ol>
            </div>
            <!--breadcrumb-env-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="btn-toolbar">
                <div class="pull-right">
                    <a ng-if="vm.canPost" class="btn btn-secondary btn-lg pull-left" ng-href="#/user/new"><i class="fa fa-plus"></i> NOVO USUÁRIO</a>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered" datatable dt-instance="vm.dtInstance" dt-options="vm.dtOptions" dt-columns="vm.dtColumns">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Nome</th>
                            <th class="col-xs-2">Unidade/Setor</th>
                            <th class="col-xs-3">Cargo/Função</th>
                            <th class="col-xs-3">Email</th>
                            <th class="col-xs-1" ng-show="canPut('user')">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" ng-repeat="user in vm.users">
                            <td> {{ user.name }} </td>
                            <td>{{vm.normalize(user.unit,user.sector)}}</td>
                            <td>{{vm.normalize(user.occupation,user.function)}}</td>
                            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                            <td class="table-fit-single" ng-show="canPut('user')">
                                <a uib-tooltip="Resetar Senha" can-put context="user" context-id="item.id" ng-click="vm.reset(user)" class="btn btn-default">
                                    <i class="fa fa-eraser"></i>
                                </a>
                                <a uib-tooltip="Ativar" ng-if="!user.status" can-put context="user" context-id="item.id" ng-click="vm.activate(user)" class="btn btn-default">
                                    <i class="fa fa-square-o"></i>
                                </a>
                                <a uib-tooltip="Desativar" ng-if="user.status" can-put context="user" context-id="item.id" ng-click="vm.activate(user)" class="btn btn-default">
                                    <i class="fa fa-check-square-o"></i>
                                </a>
                                <a uib-tooltip="Editar" can-put context="user" context-id="item.id" ng-href="#/user/edit/{{ user.id }}" class="btn btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
