<div class="form-group">
    <label>
        Selecionar Notícias
        <small>(selecione 2 notícias)</small>
    </label>

    <ui-select ng-model="widget.content.event" theme="bootstrap">
        <ui-select-match placeholder="Buscar Evento">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices repeat="event in events.items|filter: $select.search">
            <div ng-bind-html="event.name|highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>

    <ui-select ng-model="widget.content.event" theme="bootstrap">
        <ui-select-match placeholder="Buscar Evento">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices repeat="event in events.items|filter: $select.search">
            <div ng-bind-html="event.name|highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>
