<div class=form-group>
    <label>Assunto da editoria (Selecionar Tag):</label>

    <select title="Assunto da editoria (Selecionar Tag)" ng-model=widget.tag
            ng-options="tag.id as tag.name for tag in tags" class=form-control>
    </select>
</div>

<div class=form-group>
    <label>Tipo de editoria:</label>

    <select title="Tipo de editoria" ng-model=widget.editorial_type class=form-control>
        <option value=0>
            Ordem cronol&oacute;gica
        </option>

        <option value=1>
            Mat&eacute;rias Selecionadas
        </option>
    </select>
</div>

<div ng-show="widget.editorial_type == '1'" class=form-group>
    <label>Selecione as not&iacute;cias:</label>

    <ul class=selection-list>
        <li ng-repeat="item in news.items | limitTo: 30" ng-click="item.selected = !item.selected"
            ng-class="{ active: item.selected }">
            {{ item.title }}
        </li>
    </ul>
</div>
