html
  body
    .form-group
      label Assunto da editoria (Selecionar Tag):
      |     
      select.form-control(title='Assunto da editoria (Selecionar Tag)', ng-model='widget.tag', ng-options='tag.id as tag.name for tag in tags.items')
    .form-group
      label Tipo de editoria:
      |     
      select.form-control(title='Tipo de editoria', ng-model='widget.editorial_type')
        option(value='0') Ordem cronol&oacute;gica
        |         
        option(value='1') Mat&eacute;rias Selecionadas
    .form-group(ng-show="widget.editorial_type == '1'")
      label Selecione as not&iacute;cias:
      |     
      ul.selection-list
        li(ng-repeat='item in news.items | limitTo: 30', ng-click='item.selected = !item.selected', ng-class='{ active: item.selected }')
          | {{ item.title }}
