<div class="form-group">
    <label>Assunto da editoria (Selecionar Tag):</label>

    <select class="form-control" title="Assunto da editoria (Selecionar Tag)"
            ng-model="widget.tag"
            ng-options="tag.id as tag.name for tag in tags.items"></select>
</div>

<div class="form-group">
    <label>Tipo de editoria:</label>

    <select class="form-control" title="Tipo de editoria"
            ng-model="widget.editorial_type">
        <option value="0">Ordem cronológica</option>
        <option value="1">Matérias Selecionadas</option>
    </select>
</div>

<div class="form-group"
     ng-show="widget.editorial_type == '1'">
    <label>Selecione as notícias:</label>

    <ul class="selection-list">
        <li
            ng-repeat="item in news.items | limitTo: 30"
            ng-click="item.selected = !item.selected"
            ng-class="{ active: item.selected }">
            {{ item.title }}
        </li>
    </ul>
</div>
