<div class=form-group>
    <label>Tipo de editoria:</label>

    <select title="Tipo de editoria" ng-model=widget.origin class=form-control>
        <option value=0>
            Ordem cronol&oacute;gica
        </option>

        <option value=1>
            Mat&eacute;rias Selecionadas
        </option>
    </select> 
</div>

<div ng-show="widget.origin == '1'" class=form-group>
    <label>Selecione as not&iacute;cias:</label>
    <ul class=dashed-list>
        <li ng-repeat="news in widget.news track by $index" class="as-sortable-item clearfix">
            <div class="gal-list-left pull-left">
                <strong>{{ news.title }}</strong>
            </div>

            <div class=pull-right>
                <button type=button ng-click="removeItem($index, 'news')" class="btn btn-success">Excluir</button>
            </div>
        </li>

        <li ng-hide="widget.news.length &gt;= 4" class="as-sortable-item clearfix">
            <div>+ Inserir Destaque</div>

            <div class=clearfix>
                <div class="pull-left gal-list-select-container">
                    <ui-select ng-model=widget.news_selected>
                        <ui-select-match placeholder="Buscar notícia">
                            {{ $select.selected.title }}
                        </ui-select-match>

                        <ui-select-choices repeat="item in news.items | filter: $select.search">
                            <div ng-bind-html="item.title | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class=pull-right>
                    <button type=button class="btn btn-success"
                            ng-disabled=!widget.news_selected
                            ng-click="addItem(widget.news_selected, 'news')">OK</button>
                </div>
            </div>
        </li>
    </ul>
</div>
