html
  body
    .form-group
      label Evento destaque:
      |     
      select.form-control(title='Evento destaque', ng-model='widget.event_id', ng-options='event.id as event.name for event in events.items')
