<div class="form-group">
    <label>Selecione as notícias:</label>

    <ul class="dashed-list">
        <li class="as-sortable-item clearfix"
            ng-repeat="news in widget.news.items track by $index">
            <div class="gal-list-left pull-left">
                <strong>{{ news.title }}</strong>
            </div>

            <div class="pull-right">
                <button type="button" class="btn btn-success"
                        ng-click="removeNews($index)">Excluir</button>
            </div>
        </li>

        <li class="as-sortable-item clearfix"
            ng-hide="widget.news.length >= 4">
            <div>
                + Inserir Destaque
            </div>
            <div class="clearfix">
                <div class="pull-left gal-list-select-container">
                    <ui-select ng-model="widget.news_selected">
                        <ui-select-match placeholder="Buscar notícia">
                            {{$select.selected.title}}
                        </ui-select-match>

                        <ui-select-choices repeat="item in news.items | filter: { type: {
                            id: 3,
                            name: 'Audio',
                            icon_class: 'fa-volume-up'
                        } } | filter: $select.search">
                            <div ng-bind-html="item.title | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-success"
                            ng-disabled="!widget.news_selected"
                            ng-click="addGallery(widget.news_selected)">OK</button>
                </div>
            </div>
        </li>
    </ul>
</div>
