.form-group
  label Galerias em destaque:

  ul.dashed-list
    li.as-sortable-item.clearfix(ng-repeat='gallery in widget.galleries track by $index')
      .gal-list-left.pull-left
        .gallery-thumb.pull-left
          img(alt='{{ photo.file.altText }}',
            ng-src='{{ gallery.photos[0].file.url }}')
        .gallery-title.pull-left {{ gallery.title }}
      .pull-right
        button.btn.btn-success(type='button',
          ng-click="removeItem($index, 'galleries')") Excluir

    li.as-sortable-item.clearfix(ng-hide='widget.galleries.length >= 4')
      div + Inserir Destaque
      .clearfix
        .pull-left.gal-list-select-container
          ui-select(ng-model='widget.gallery_selected')
            ui-select-match(placeholder='Buscar galeria') {{ $select.selected.title }}
            ui-select-choices(repeat='gallery in galleries.items | filter: $select.search')
              div(ng-bind-html='gallery.title | highlight: $select.search')
        .pull-right
          button.btn.btn-success(type='button',
            ng-disabled='!widget.gallery_selected',
            ng-click="addItem(widget.gallery_selected, 'galleries')") OK

  pre {{ widget.galleries|json }}
