<div class="row">
    <div class="col-xs-7">
        <!-- Description -->
        <div class="form-group">
            <label>Descrição:</label>

            <textarea class="form-control" cols="30" rows="4" title="Descrição"
                      ng-model="widget.content.description"></textarea>
        </div>

        <!-- Release -->
        <div class="form-group">
            <label>Anexar release:</label>

            <select class="form-control" title="Status"
                    ng-model="widget.content.release.id"
                    ng-options="release.id as release.title for release in releases.items">
            </select>
        </div>
    </div>

    <!-- Edition Cover -->
    <div class="col-xs-5">
        <div class="form-group">
            <div class="pages-module edition-cover-thumb">
                <div class="add-module"
                     ng-show="!widget.content.image">
                    +<br>
                    Capa Digitalizada
                    <div class="tac">
                        <br>
                        <button type="button" class="btn btn-primary"
                                ngf-accept="'image/*'"
                                ngf-select
                                ng-model="widget.content.image"
                                ngf-multiple="false">Carregar Imagem
                        </button>
                    </div>
                </div>

                <div ng-show="widget.content.image">
                    <div class="chosen-cover">
                        <span class="label label-danger remove-image"
                              ng-click="removeImage()">
                            <span class="fa fa-remove"></span> REMOVER IMAGEM
                        </span>
                    </div>

                    <div class="uploaded-image edition-cover-image">
                        <img alt=""
                             ng-src="{{ widget.content.image.url }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Specialists -->
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="clearfix">
                <div class="pull-left">
                    <label>Especialistas:</label>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 3px"
                            ng-click="addSpecialist()">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>

            <div class="well well-sm"
                 ng-repeat="specialist in widget.content.specialists">
                <div class="clearfix"
                     ng-click="specialist.opened = true">
                    <div class="pull-left">
                        <strong>Especialista:</strong>
                        {{ specialist.name }}
                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="removeSpecialist($index)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </div>
                </div>

                <div ng-show="specialist.opened">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" class="form-control" title="Nome"
                                       ng-model="specialist.name">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Título/cargo:</label>

                                <input type="text" class="form-control" title="Título/cargo"
                                       ng-model="specialist.title_job">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Email:</label>

                                <input type="text" class="form-control" title="Email"
                                       ng-model="specialist.email">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Telefone:</label>

                                <input type="text" class="form-control" title="Telefone"
                                       ng-model="specialist.phone">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="pull-right btn btn-primary"
                                    ng-click="specialist.opened = false">salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
