<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label>Texto do Botão</label>

            <input type="text" class="form-control" title="Texto do Botão"
                   ng-model="widget.label">
        </div>
    </div>

    <div class="col-xs-4">
        <div class="form-group">
            <label>Url</label>

            <input type="text" class="form-control" title="Url"
                   ng-model="widget.url">
        </div>
    </div>

    <div class="col-xs-4">
        <div class="form-group">
            <label>Ícone</label>

            <select class="form-control" title="Ícone"
                    ng-model="widget.icon"
                    ng-options="icon.id as icon.label for icon in icons.items">
            </select>
        </div>
    </div>
</div>
