manager-file-modal {
    .content-modal {
        background-color: #fff;
        color: rgb(51, 51, 51);
        padding: 15px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: stretch;
        min-height: 300px;
        max-height: auto;
        position: relative;
        bottom: 0;
        >.sidebar-hidden {
            width: 20% !important;
            padding: 10px !important;
        }
        >.sidebar {
            padding: 0;
            width: 0;
            position: relative;
            transition: all ease-in 0.3s;
            >.toggle {
                position: absolute;
                right: -20px;
                top: 0;
                z-index: 99999;
            }
            >.content-hidden {
                display: block !important;
            }
            >.content {
                display: none;
                transition: all ease-in 0.3s, display linear 1s;
                >.resource {
                    >.list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        >.item {
                            display: block;
                            text-align: left;
                            margin: 0 !important;
                        }
                        >.is-active {
                            background-color: #eee;
                            color: #333;
                        }
                    }
                }
                >.upload {
                    position: absolute;
                    padding-right: 10px;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        >.zuni {
            text-align: center;
        }
        >.wrapper-images-expand {
            width: 80% !important;
        }
        >.wrapper-images {
            width: 100%;
            >.content-edit-for-post {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-flow: column nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                >.modal-footer {
                    margin-top: 10px;
                    width: 100%;
                    background-color: #fff;
                }
            }
            >.content-pos-upload {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-flow: column nowrap;
                >.row {
                    >.col-md-12 {
                        >.col-md-3 {
                            >.file-icon {
                                position: relative;
                                top: 50px;
                                margin: 0 auto;
                            }
                            >.actions {
                                position: relative;
                                top: 70px;
                                text-align: center;
                            }
                        }
                    }
                }
                >.modal-footer {
                    margin-top: 10px;
                    width: 100%;
                    background-color: #fff;
                }
            }
            >.upload {
                position: absolute;
                bottom: 0;
                right: 25px;
            }
            >.container {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-flow: column nowrap;
                position: relative;
                margin-bottom: 40px;
                transition: all ease-in 0.3s;
                >.images {
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 100%;
                    height: 500px;
                    >.dropdown-upload {
                        >.list {
                            list-style: none;
                            margin: 0 auto;
                            padding: 0;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: flex-start;
                            align-items: flex-start;
                            >.item {
                                width: calc((100%/4) - (1rem + 10px));
                                height: 180px;
                                border-radius: 2px;
                                display: inline-block;
                                margin: 1rem;
                                overflow: hidden;
                                position: relative;
                                transition: all 0.3s cubic-bezier(.25, .8, .25, 1), transform .35s ease;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                &:hover {
                                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                                    background-color: rgba(255, 255, 255, 0);
                                    &:before {
                                        transform: scale(1.1);
                                    }
                                }
                                &:after {
                                    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .4));
                                    z-index: 1;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    box-sizing: border-box;
                                    content: "";
                                }
                                &:before {
                                    box-sizing: border-box;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    content: "";
                                    background-image: inherit;
                                    background-position: 50%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    transition: transform .35s ease;
                                }
                                >.remove {
                                    display: none;
                                    z-index: 2;
                                    position: absolute;
                                    right: 0;
                                }
                                >.show {
                                    display: block;
                                }
                                >.file-icon {
                                    margin: 0 auto;
                                    position: relative;
                                    top: calc(50% - 32px);
                                }
                                >.actions {
                                    display: none;
                                    position: absolute;
                                    z-index: 2;
                                    margin: 0 auto;
                                    opacity: 0.6;
                                    left: calc(50% - 82.5px);
                                    top: calc(50% - 27px);
                                }
                                >.description {
                                    position: absolute;
                                    display: none;
                                    width: 100%;
                                    bottom: 0px;
                                    padding: 5px;
                                    z-index: 1;
                                    color: #fff;
                                    background-color: rgba(0, 0, 0, 0.50);
                                    >.text {
                                        display: block;
                                        font-size: 16px;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
                                        color: #fff;
                                        margin: 0;
                                    }
                                    >.author {
                                        display: block;
                                    }
                                }
                            }
                            >.not-found {
                                margin: 0 auto;
                                top: 100px;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}
