<div class="form-group" onload="ctrlModal.loadMoreEvents()">
    <label>Evento destaque:</label>
    <ui-select ng-model="ctrlModal.widget.event" theme="bootstrap" class="ui-select">
        <ui-select-match placeholder="Buscar Notícia">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices repeat="event as event in ctrlModal.events | filter: $select.search track by $index" scroll-detect="ctrlModal.loadMoreEvents()"
            refresh="ctrlModal.loadMoreEvents($select.search)" refresh-delay="300">
            <div ng-bind-html="event.name | highlight: $select.search"></div>
            </ui-select-choices>
    </ui-select>
</div>
