header.view-header.clearfix
  h1.pull-left
    span(ng-if='file.title') {{file.title}}
    span(ng-if='!file.title') Nova Mídia
  .pull-right
section.clearfix.spacer-bottom
  ol.breadcrumb
    li
      a(href='#/') Dashboard
    li
      a(href='#/media') Mídia
    li.active(ng-if='!file.title')
      | Nova Mídia
    li.active(ng-if='file.title')
      | {{file.title}}
.row
  .col-xs-8.tac
    img(ng-show='file.url', ng-src='{{file.url}}', style='max-width: 100%; height: auto;')
    ul.gallery-list.clearfix.spacer-right(ng-show='!file.url')
      li.dashed.gallery-item.media-item.upload-photos(ngf-accept="'image/*'", ngf-select='', ng-model='add_photos', ngf-multiple='false')
        span.fa.fa-camera.fa-2x
        br
        |               Incluir Fotos
  .col-xs-4
    .form-group
      label(for='') Título
      input.form-control(type='text', ng-model='file.title')
    .form-group
      label(for='') Legenda
      input.form-control(type='text', ng-model='file.legend')
    .form-group
      label(for='') Descrição
      input.form-control(type='text', ng-model='file.description')
    .form-group
      label(for='') Texto Alternativo
      input.form-control(type='text', ng-model='file.alt_text')
.row
  .col-xs-12
    hr
    .pull-right
      button.btn.btn-success.pull-left(ng-click='publish(file)') Salvar
