<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Nova Mídia</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#/media">
                            <strong>Mídia</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/media">
                            <strong>Nova Mídia</strong>
                        </a>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">

            <form class="form">
                <div class="row">
                    <div class="col-xs-6">


                        <div class="pages-module pages-module-cover">
                            <div class="chosen-cover">
                                <span ng-click="removeMidia()"
                                      class="label label-danger remove-image"
                                      ng-if="file.url">
                                    <i class="fa fa-remove"></i> REMOVER MIDIA
                                </span>
                            </div>

                            <img ng-show="file.url && file.type != 'mp3'" ng-src="{{file.url}}" style="max-width: 100%; height: auto;">

                             <div ng-show="file.url && file.type === 'mp3'" audio audio-url="file.url"></div>

                            <ul ng-show="!file.url" class="gallery-list">
                                <li ngf-accept="'*/*'"
                                    ngf-select ng-model="add_photos"
                                    ngf-multiple="false"
                                    class="dashed gallery-item media-item upload-photos">

                                    <span class="fa fa-camera fa-4x"></span>
                                    <br>Enviar arquivo
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Autor</label>
                            <input type="text" ng-model="file.author_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Legenda</label>
                            <textarea cols="30"
                                      rows="6"
                                      ng-model="file.legend"
                                      class="form-control">
                                {{ file.legend }}
                            </textarea>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                        <div class="pull-right">
                            <button ng-click="publish(file)" class="btn btn-success pull-left">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>

        </div><!--.panel-->
    </div><!--.col-xs-12-->
</div><!--.row-->






