<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Novo Menu</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/menu">
                            <strong>Novo Menu</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- can-get="!canPut('menu')" -->
<div id="new-menu-panel" class="row" >
    <div class="panel-main">
        <div class="menu-header">
            <h2 class="title">
                <i class="fa fa-bars"></i>
                Menu Principal
            </h2>
        </div>
        <div class="menu-content">
            <div class="items-main">
                <div class="info">Altere as ordens arrastando os itens.</div>                
                <ul ui-sortable="newMenu.optionsSortablePrimary" class="container-list list main list-no-style-type" ng-model="newMenu.items">
                    <li class="item primary" ng-repeat="itemPrimary in newMenu.items track by itemPrimary.id" ng-init="newMenu.stateToggle[itemPrimary.id] = false">
                        <div class="name">
                            <span class="text">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                {{ itemPrimary.label }}
                            </span>
                            <span class="actions">
                                <button class="btn btn-link" ng-click="newMenu.editItem(itemPrimary)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-link btn-remove">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button ng-disabled="newMenu.isEmpty(itemPrimary.children)" ng-click="newMenu.toggle(itemPrimary.id)" class="btn btn-link">
                                    <i ng-show="!newMenu.isOpen(itemPrimary.id)" class="fa fa-arrow-down"></i>
                                    <i ng-show="newMenu.isOpen(itemPrimary.id)" class="fa fa-arrow-up"></i>
                                </button>
                            </span>
                        </div>
                        <ul ng-show="newMenu.listCanShow(itemPrimary.id, itemPrimary.children)" ui-sortable="newMenu.optionsSortableSecondary" class="list list-no-style-type" ng-model="itemPrimary.children">
                            <li class="item secondary" ng-repeat="itemSecondary in itemPrimary.children track by itemSecondary.id">
                                <div class="name">
                                    <span class="text">
                                        <i class="fa fa-th" aria-hidden="true"></i>
                                        <span class="text">{{ itemSecondary.label }}</span>
                                    </span>
                                    <span class="actions">
                                        <button class="btn btn-link" ng-click="newMenu.editItem(itemSecondary, itemPrimary)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-link btn-remove">
                                            <i class="fa fa-times"></i>                                    
                                        </button>
                                    </span>
                                </div>
                                <ul ui-sortable="newMenu.optionsSortableTertiary" class="list list-no-style-type" ng-model="itemSecondary.children">
                                    <li class="item tertiary" ng-repeat="itemTertiary in itemSecondary.children track by itemTertiary.id">
                                        <div class="name">
                                            <span class="text">
                                                <i class="fa fa-th" aria-hidden="true"></i>
                                                {{ itemTertiary.label }}
                                            </span>
                                            <span class="actions">
                                                <button class="btn btn-link" ng-click="newMenu.editItem(itemTertiary, itemSecondary)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-link btn-remove">
                                                    <i class="fa fa-times"></i>                                    
                                                </button>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="triangle-left"></div>
            <div class="search-page">
                <div class="info">Arraste a pagina para a esquerda.</div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Procurar..." ng-trim="false">
                </div>
                <ul ui-sortable="newMenu.optionsSortablePrimary" class="container-list list-page-add list-no-style-type" ng-model="newMenu.pages">
                    <li class="page" ng-repeat="page in newMenu.pages track by page.id">
                        {{ page.label }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-footer">
            <button class="btn btn-success btn-lg">
                <i class="fa fa-check"></i> 
                Salvar Alterações
            </button>
        </div>
    </div>
    <div class="panel-main">
        <div class="menu-header">
            <h2 class="title">
                <i class="fa fa-location-arrow"></i>
                Menu de Acesso Rápido
            </h2>
        </div>
        <div class="menu-content">

        </div>
        <div class="menu-footer">
            <button class="btn btn-success btn-lg">
                <i class="fa fa-check"></i> 
                Salvar Alterações
            </button>
        </div>
    </div>
</div>