<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Novo Menu</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/menu">
                            <strong>Novo Menu</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="new-menu-panel" class="row" can-get="!canPut('menu')">
    <div class="panel-main">
        <div class="menu-header">
            <h2 class="title">
                <i class="fa fa-bars"></i>
                Menu Principal
            </h2>
        </div>
        <div class="menu-content">
            <div class="items-main">
                <div class="info">Altere a ordem arrastando os itens.</div>                
                <ul ui-sortable="newMenu.optionsSortableItems" class="container-list connect-mainMenu list main list-no-style-type" ng-model="newMenu.mainMenu">
                    <li class="item primary" ng-repeat="itemPrimary in newMenu.mainMenu track by itemPrimary.id" ng-init="newMenu.stateToggle[itemPrimary.id] = false">
                        <div class="name">
                            <span class="text">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                {{ itemPrimary.label }}
                                <span ng-show="itemPrimary.oldLabel">( {{ itemPrimary.oldLabel }} )</span>
                            </span>
                            <span class="actions">
                                <button ng-if="newMenu.canPut" class="btn btn-link" ng-click="newMenu.editItem(itemPrimary)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button ng-if="newMenu.canPut" class="btn btn-link btn-remove" ng-click="newMenu.removeItem('mainMenu', itemPrimary)">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button ng-disabled="newMenu.isEmpty(itemPrimary.children)" ng-click="newMenu.toggle(itemPrimary.id)" class="btn btn-link">
                                    <i ng-show="!newMenu.isOpen(itemPrimary.id)" class="fa fa-arrow-down"></i>
                                    <i ng-show="newMenu.isOpen(itemPrimary.id)" class="fa fa-arrow-up"></i>
                                </button>
                            </span>
                        </div>
                        <ul ui-sortable="newMenu.optionsSortableItems" class="list connect-mainMenu list-no-style-type" ng-model="itemPrimary.children">
                            <li ng-if="newMenu.listCanShow(itemPrimary.id, itemPrimary.children)" class="item secondary" ng-repeat="itemSecondary in itemPrimary.children track by itemSecondary.id" ng-init="newMenu.stateToggle[itemSecondary.id] = false">
                                <div class="name">
                                    <span class="text">
                                        <i class="fa fa-th" aria-hidden="true"></i>
                                        {{ itemSecondary.label }}
                                        <span ng-show="itemSecondary.oldLabel">( {{ itemSecondary.oldLabel }} )</span>
                                    </span>
                                    <span class="actions">
                                        <button ng-if="newMenu.canPut" class="btn btn-link" ng-click="newMenu.editItem(itemSecondary, itemPrimary)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button ng-if="newMenu.canPut" class="btn btn-link btn-remove" ng-click="newMenu.removeItem('mainMenu', itemSecondary, itemPrimary)">
                                            <i class="fa fa-times"></i>                                    
                                        </button>
                                        <button ng-disabled="newMenu.isEmpty(itemSecondary.children)" ng-click="newMenu.toggle(itemSecondary.id)" class="btn btn-link">
                                            <i ng-show="!newMenu.isOpen(itemSecondary.id)" class="fa fa-arrow-down"></i>
                                            <i ng-show="newMenu.isOpen(itemSecondary.id)" class="fa fa-arrow-up"></i>
                                        </button>
                                    </span>
                                </div>
                                <ul ui-sortable="newMenu.optionsSortableItems" class="list connect-mainMenu list-no-style-type" ng-model="itemSecondary.children">
                                    <li ng-if="newMenu.listCanShow(itemSecondary.id, itemSecondary.children)" class="item tertiary" ng-repeat="itemTertiary in itemSecondary.children track by itemTertiary.id">
                                        <div class="name">
                                            <span class="text">
                                                <i class="fa fa-th" aria-hidden="true"></i>
                                                {{ itemTertiary.label }}
                                                <span ng-show="itemTertiary.oldLabel">( {{ itemTertiary.oldLabel }} )</span>                                                
                                            </span>
                                            <span class="actions">
                                                <button ng-if="newMenu.canPut" class="btn btn-link" ng-click="newMenu.editItem(itemTertiary, itemSecondary)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button ng-if="newMenu.canPut" class="btn btn-link btn-remove" ng-click="newMenu.removeItem('mainMenu', itemTertiary, itemSecondary)">
                                                    <i class="fa fa-times"></i>                                    
                                                </button>
                                                <button disabled class="btn btn-link">
                                                    <i class="fa fa-arrow-down"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="triangle-left"></div>
            <div class="search-page">
                <div class="info">Arraste a pagina para a esquerda.</div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="qPages.label" class="form-control" placeholder="Procurar..." ng-trim="false">
                </div>
                <ul ui-sortable="newMenu.optionsSortableItems" class="container-list list connect-mainMenu list-page-add list-no-style-type" ng-model="newMenu.pages">
                    <li class="page" ng-repeat="page in newMenu.pages | filter:qPages track by page.id">
                        {{ page.label }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-footer">
            <button ng-if="newMenu.canPut" ng-disabled="newMenu.loading.mainMenu" ng-click="newMenu.save(newMenu.types.mainMenu)" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                {{ newMenu.loading.mainMenu ? 'Salvando ...' : 'Salvar Alterações' }}
            </button>
        </div>
    </div>
    <div class="panel-main">
        <div class="menu-header">
            <h2 class="title">
                <i class="fa fa-location-arrow"></i>
                Menu de Acesso Rápido
            </h2>
        </div>
        <div class="menu-content">
            <div class="items-main">
                <div class="info">Altere as ordens arrastando os itens.</div>
                <ul ui-sortable="newMenu.optionsSortableQuick" class="container-list connect-quickAccess list main list-no-style-type" 
                    ng-model="newMenu.quickAccess">
                    <li class="item primary" ng-repeat="itemQuick in newMenu.quickAccess track by itemQuick.id">
                        <div class="name">
                            <span class="text">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                {{ itemQuick.label }}
                                <span ng-show="itemQuick.oldLabel">( {{ itemQuick.oldLabel }} )</span>                                
                            </span>
                            <span class="actions">
                                <button ng-if="newMenu.canPut" class="btn btn-link" ng-click="newMenu.editItem(itemQuick, null, true)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button ng-if="newMenu.canPut" class="btn btn-link btn-remove" ng-click="newMenu.removeItem('quickAccess', itemQuick)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="triangle-left"></div>
            <div class="search-page">
                <div class="info">Arraste a pagina para a esquerda.</div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="qPagesQuick.label" class="form-control" placeholder="Procurar..." ng-trim="false">
                </div>
                <ul ui-sortable="newMenu.optionsSortableQuick" class="container-list connect-quickAccess list list-page-add list-no-style-type" 
                    ng-model="newMenu.pagesQuick">
                    <li class="page" ng-repeat="page in newMenu.pagesQuick | filter:qPagesQuick track by page.id">
                        {{ page.label }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-footer">
            <button ng-if="newMenu.canPut" ng-disabled="newMenu.loading.quickAccess" ng-click="newMenu.save(newMenu.types.quickAccess)" class="btn btn-success btn-lg">
                <i class="fa fa-check"></i>
                {{ newMenu.loading.quickAccess ? 'Salvando ...' : 'Salvar Alterações' }}
            </button>
        </div>
    </div>
</div>