<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">{{ vm.course.name }}</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="#/course">
                            Cursos
                        </a>
                    </li>
                    <li>
                        <a href="#/course">
                            Nível Acadêmico
                        </a>
                    </li>
                    <li>
                        <a href="#/course/list/{{ vm.type }}">
                            {{ vm.type|translate }}
                        </a>
                    </li>
                    <li class="active">
                        <strong>{{ vm.course.name }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row" can-get>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="btn-toolbar">
                <a ng-href="#/course/list/{{ vm.type }}" class="btn btn-gray">
                    <i class="fa fa-angle-left"></i> &nbsp;Voltar para Cursos
                </a>
                <div class="pull-right">
                    <a ng-if="canPut('course_'+vm.type, item.id)" ng-href="#/course/sidebar/{{ vm.type }}/{{ vm.courseId }}" class="btn btn-secondary btn-lg pull-left">
                        Personalizar Sidebar
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-module add-module edition-bg-thumb">
                        <div ng-if="(!vm.course.detail.cover.url && canPut('course_'+vm.type, item.id))" class="add-title add-module" ng-model="vm.course_cover" ng-click="vm.uploadCover()">
                            + Adicionar Capa
                        </div>
                        <div ng-if="(!vm.course.detail.cover.url && !canPut('course_'+vm.type, item.id))" class="add-title add-module">
                            Sem Capa
                        </div>
                        <div>
                            <div class="chosen-cover" ng-if="!viewOnly">
                                <span ng-click="vm.removeImage()" class="label label-danger remove-image" ng-if="vm.course.detail.cover.url">
                                    <i class="fa fa-remove"></i> REMOVER IMAGEM
                                </span>
                            </div>
                            <div class="uploaded-image" ng-if="vm.course.detail.cover.url">
                                <img class="img-responsive" ng-src="{{ vm.course.detail.cover.url }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea class="form-control" cols="50" rows="10" ng-if="canPut('course_'+vm.type, item.id)" ng-model="vm.course.detail.description" redactor="redactorConfig"></textarea>
                        <div ng-if="!canPut('course_'+vm.type, item.id)" data-ng-bind-html="vm.course.detail.description"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nome do Percurso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="item in vm.courses.items | orderBy: item.modality | filter: search" class="odd">
                                <td>
                                    <div class="clearfix">
                                        {{ item.name|titleize }} ( {{ item.shift }} )
                                        {{ item.modality }}
                                        <span class="label label-primary" ng-hide="item.is_active">Desativado</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="vm.courses.items[0] === undefined">
                            <tr>
                                <td>
                                    Nenhum Percurso Cadastro
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12" ng-if="canPut('course_'+vm.type, item.id)">
                    <div class="pull-left">
                        <a class="btn btn-danger pull-left spacer-right" href="#/course/list/{{ vm.type }}">
                            <i class="fa fa-remove"></i> Cancelar
                        </a>
                    </div>
                    <div class="pull-right">
                        <a ng-click="vm.save(true)" class="btn btn-success pull-left">
                            <i class="fa fa-check"></i> Salvar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'components/widget/partials/redactor-templates.html'"></ng-include>