<div class="page-title">
    <div class="row flex-center flex-center-mobile-column">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Nível Acadêmico</h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>

                    <li>
                        <a href="#/course">Cursos</a>
                    </li>

                    <li class="active">
                        <a href="#/course">
                            <strong>Nível Acadêmico</strong>
                        </a>
                    </li>
                </ol>
            </div>
            <!--breadcrumb-env-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-if="canGet('course_graduation')">
        <a href="#/course/list/graduation">
            <div class="panel panel-course">
                <span class="big-letter">G</span> Graduação
                <i class="fa fa-arrow-right pull-right"></i>
            </div>
        </a>
    </div>

    <div class="col-md-6" ng-if="canGet('course_master')">
        <a href="#/course/list/master">
            <div class="panel panel-course">
                <span class="big-letter">M</span> Mestrado
                <i class="fa fa-arrow-right pull-right"></i>
            </div>
        </a>
    </div>

    <div class="col-md-6" ng-if="canGet('course_doctorate')">
        <a href="#/course/list/doctorate">
            <div class="panel panel-course">
                <span class="big-letter">D</span> Doutorado
                <i class="fa fa-arrow-right pull-right"></i>
            </div>
        </a>
    </div>

    <div class="col-md-6" ng-if="canGet('course_specialization')">
        <a href="#/course/list/specialization">
            <div class="panel panel-course">
                <span class="big-letter">E</span> Especialização
                <i class="fa fa-arrow-right pull-right"></i>
            </div>
        </a>
    </div>
</div>
