<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">Editar Curso</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/"><i class="fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#/course">
                            <strong>Cursos</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/course/new">
                            <strong>Editar Curso</strong>
                        </a>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" ng-model="course.subdivision_name" ng-disabled="true" class="form-control">
                    </div>
                </div>
            </div><!--row-->


            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Tags</label>
                        <tags-input ng-model="course.tags"></tags-input>
                    </div>
                </div>
            </div><!--row-->


            <div class="row">
                <div class="col-xs-12">
                    <div class="pages-module pages-module-cover add-module">
                        <div class="chosen-cover">
                            <span ng-show="course.cover_url" ng-click="removeImage()" class="label label-danger remove-image">
                                <span class="fa fa-remove"></span> REMOVER IMAGEM
                            </span>
                        </div>

                        <div class="add-title" ng-show="!course.cover_url" ngf-accept="'image/*'" ngf-select ng-model="course_cover" ngf-multiple="false" class='add-module'>+ Adicionar Capa</div>

                        <div ng-show="course.cover_url" class="uploaded-image">
                            <img ng-src="{{course.cover_url}}">
                        </div>
                    </div>
                </div>
            </div><!--row-->

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea ng-model="course.description" redactor="redactorConfig" cols="50" rows="10"></textarea>
                    </div>

                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <a class="btn btn-danger pull-left spacer-right" href="#/course/list/{{ type }}/{{ courseId }}"><i class="fa fa-remove"></i> Cancelar</a>
                        <a ng-click="publish(course)" class="btn btn-success pull-left"><i class="fa fa-check"></i> Salvar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
