<ul class="menu-sub-chi main" ui-sortable="vm.sortableOptions" ng-model="item.children">
    <li class="list-group-item" ng-repeat="item in item.children track by $index">
        <div class="row">
            <div class="col-md-8 text-left">
                <input type="text" value="{{ item.newTitle }}" class="form-control" ng-show="item.editTitle" ng-model="item.newTitle">
                <span ng-show="!item.editTitle">{{ item.newTitle || item.label }}</span>
                <small ng-show="item.newTitle && !item.editTitle">({{ item.label }})</small>
            </div>
            <div class="col-md-4 text-right">
                <a class="label label-sm label-warning" ng-click="vm.editTitle(item)" ng-show="!item.editTitle" can-put context="menu" context-id="item.id">
                    <i class="fa fa-pencil"></i> Editar
                </a>
                <a ng-if="vm.canDelete" class="label label-sm label-danger" ng-click="vm.removeItem('mainMenu', menuIndex, $parent.$index, $index)"
                    ng-show="!item.editTitle">
                    <i class="fa fa-close"></i> Apagar
                    </a>
                    <a ng-if="vm.canPost" class="label label-sm label-secondary" ng-click="item.editTitle = false" ng-show="item.editTitle">
                        <i class="fa fa-check"></i> Salvar
                    </a>
            </div>
        </div>
    </li>
</ul>
