<div class="pages-module add-module pages-module-cover">
    <div class="chosen-cover">
        <a href="javascript:void(0);" class="label label-danger remove-image" ng-click="$ctrl.removeImage()" ng-show="$ctrl.urlImage">
            <i class="fa fa-remove"></i> REMOVER IMAGEM
        </a>
    </div>
    <div class="add-title" ng-model="page_cover" ng-click="$ctrl.openPickCover()" ng-show=!$ctrl.urlImage>+ Adicionar Capa
    </div>
    <div class="uploaded-image" ng-show="$ctrl.urlImage">
        <img class="img-responsive" src="{{ $ctrl.urlImage }}">
    </div>
</div>