<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">
                    Grade de programação
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                            <i class="fa-home"></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="#/radio">
                            <strong>Radio</strong>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#/radio/new">
                            <strong>Grade</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <section class="container-program col-md-3 col-sm-12 panel panel-default">
        Programações

    </section>
    <section class="container-grade col-md-8 col-sm-12 panel panel-default">
        <div class="side-hour">
            <div class="slot-time" ng-repeat="hour in vm._.range(0, 24)">
                {{ vm.pipeHour(hour, 2) }}
            </div>
        </div>
        <div class="weekdays" ng-repeat="nday in vm._.range(0, 7)">
            <div class="header"> {{ vm.days[nday].label }} </div>
            <div class="column-time">
                <div class="slot-content" ng-repeat="n in vm._.range(0, 48)"></div>
            </div>
        </div>
    </section>
</div>
