<form name="formAccount" ng-submit="submit(formAccount.$valid)">
    <div class="page-title">
        <div class="row flexcenter">
            <div class="col-md-6">
                <div class="title-env">
                    <h1 class="title">Editar perfil</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-env">
                    <ol class="breadcrumb bc-1">
                        <li>
                            <a href="#/"><i class="fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#/profile">
                            Editar perfil
                        </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-5">
                <h5><strong>Suas informações:</strong></h5>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.name.$touched) && (formAccount.name.$error.required)}">
                    <label for="name">Nome:*</label>
                    <input id="name" name="name" type="text" class="form-control" ng-model="account.name" required>
                    <div class="error-message" ng-show="formAccount.$submitted || formAccount.name.$touched">
                        <span ng-show="formAccount.name.$error.required">Campo nome é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.password.$touched) && (formAccount.password.$error.required)}">
                    <label for="password">Senha:</label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="account.password" ng-required="formAccount.password.$touched && account.password === ''">
                    <div class="error-message" ng-show="formAccount.$submitted || formAccount.password.$touched">
                        <span ng-show="formAccount.password.$error.required">Campo nome é obrigatório.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.passwordCheck.$touched) && (formAccount.passwordCheck.$error.required)}">
                    <label for="passwordCheck">Confirmação de senha:*</label>
                    <input id="passwordCheck" name="passwordCheck" type="password" ng-model="passwordCheck" class="form-control" ng-required="formAccount.password.$touched && account.password === ''">
                    <div class="error-message" ng-show="formAccount.$submitted || formAccount.passwordCheck.$touched">
                        <span ng-show="formAccount.passwordCheck.$error.required">Campo nome é obrigatório.</span>
                        <span ng-show="passwordCheck != account.password">Essas senhas não coincidem. Tentar novamente.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.email.$touched) && (formAccount.email.$error.required || formAccount.email.$error.email)}">
                    <label class="control-label" for="email">Email:*</label>
                    <input ng-disabled="true" type="email" class="form-control" ng-model="account.email" name="email" id="email" autocomplete="off"
                        required>
                        <div class="error-message" ng-show="formAccount.$submitted || formAccount.email.$touched">
                            <span ng-show="formAccount.email.$error.required">Campo email é obrigatório.</span>
                            <span ng-show="formAccount.email.$error.email">Este não é um email válido.</span>
                        </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.commercial_phone.$touched) && formAccount.commercial_phone.$error.brPhoneNumber}">
                    <label for="commercial_phone">Telefone comercial:</label>
                    <input id="commercial_phone" name="commercial_phone" type="text" class="form-control" ng-model="account.commercial_phone"
                        ui-br-phone-number>
                        <div class="error-message" ng-show="formAccount.$submitted || formAccount.commercial_phone.$touched">
                            <span ng-show="formAccount.commercial_phone.$error.brPhoneNumber">Telefone inválido.</span>
                        </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.home_phone.$touched) && formAccount.home_phone.$error.brPhoneNumber}">
                    <label for="home_phone">Telefone residencial:</label>
                    <input id="home_phone" name="home_phone" type="text" class="form-control" ng-model="account.home_phone" ui-br-phone-number>
                    <div class="error-message" ng-show="formAccount.$submitted || formAccount.home_phone.$touched">
                        <span ng-show="formAccount.home_phone.$error.brPhoneNumber">Telefone inválido.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':(formAccount.$submitted || formAccount.mobile_phone.$touched) && formAccount.mobile_phone.$error.brPhoneNumber}">
                    <label for="mobile_phone">Telefone celular:</label>
                    <input id="mobile_phone" name="mobile_phone" type="text" class="form-control" ng-model="account.mobile_phone" ui-br-phone-number>
                    <div class="error-message" ng-show="formAccount.$submitted || formAccount.mobile_phone.$touched">
                        <span ng-show="formAccount.mobile_phone.$error.brPhoneNumber">Telefone inválido.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <div class="col-md-2">
                <a ng-click="back()" class="btn btn-danger btn-lg">
                    <i class="fa fa-close"></i> Cancelar
                </a>
            </div>
            <div class="col-md-2 col-md-offset-8">
                <button type="submit" class="btn btn-secondary btn-lg">
                    <i class="fa fa-check"></i> Salvar Usuário
                </button>
            </div>
        </div>
    </div>
</form>
