<panel-navigation show-new="true"></panel-navigation>
<form name="formPub" ng-submit="publish(formPub)" novalidate>
    <div class="panel panel-default publishment-options">
        <h4 class="publishment-title">Opções de Publicação</h4>
        <div class="publishment-body">
            <div class="status">
                <div class="form-group" ng-class="{'has-error':(formPub.$submitted || formPub.pickStatus.$touched) && formPub.pickStatus.$error.required}">
                    <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="A alteração do status influencia na disponibilidade da página no portal."></i>
                    <label>Status: </label>
                    <select class="form-control" ng-model="vm.preSaveStatus" placeholder="Selecione o status da publicação">
                        <option ng-repeat="item in ['draft', 'published', 'scheduled'] track by $index" ng-value="item">{{item | translate}}</option>
                    </select>
                    <div ng-show="formPub.$submitted || formPub.pickStatus.$touched" class="error-message" role="alert">
                        <div ng-show="formPub.pickStatus.$error.required">Campo obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="date">
                <div class="form-group" ng-class="{'has-error':(formPub.$submitted) && formPub.initDatea.$error.required}">
                    <label>Data e horário:</label>
                    <div class="select-date">
                        <div class="form-group select-date-item">
                            <div class="input-group input-group-sm" ng-class="{'has-error':(formPub.$submitted) && (formPub.initDatea.$error.required || errorInvalidDate)}">
                                <label for="initDatea" class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </label>
                                <input id="initDatea" ui-mask="99/99/9999" ng-blur="isDateValid()" ng-change="datePost()" type="text" name="initDatea" class="form-control"
                                    ng-model="obj.scheduled_date" ng-click="datepickerOpt.initDatea.open(vm, $event)" uib-datepicker-popup="{{ datepickerOpt.initDatea.format }}"
                                    datepicker-options="datepickerOpt.initDatea.dateOptions" is-open="datepickerOpt.initDatea.status.opened"
                                    clear-text="Limpar" close-text="Fechar" current-text="Agora" required model-view-value="true"
                                    ng-disabled="isScheduledRetroactive">
                            </div>
                            <div ng-show="formPub.$submitted" class="error-message" role="alert">
                                <div ng-show="formPub.initDatea.$error.required">Campo obrigatório</div>
                                <div ng-show="errorInvalidDate && !formPub.initDatea.$error.required">Data inválida</div>
                            </div>
                        </div>
                        <div class="form-group select-hour-item" ng-class="{'has-error':(formPub.$submitted || formPub.initHour.$touched) && (formPub.initHour.$error.required || errorInvalidHour)}">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                <input type="text" ng-change="datePostValidateHour()" name="initHour" title="Hora" class="form-control" ng-model="obj.scheduled_time"
                                    ui-mask="99:99" model-view-value="true" required ng-disabled="isScheduledRetroactive">
                            </div>
                            <div ng-show="formPub.$submitted || formPub.initHour.$touched" class="error-message" role="alert">
                                <div ng-show="formPub.initHour.$error.required && !formPub.initDatea.$error.required">Campo obrigatório</div>
                                <div ng-show="errorInvalidHour && !formPub.initHour.$error.required">Data inválida</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
