<panel-navigation show-new="true"></panel-navigation>
<form name="formPub" ng-submit="publish(formPub)" novalidate>
    <div class="panel panel-default publishment-options">
        <h4 class="publishment-title">Opções de Publicação</h4>
        <div class="publishment-body">
            <div class="status">
                <div class="form-group" ng-class="{'has-error':(formPub.$submitted || formPub.pickStatus.$touched) && formPub.pickStatus.$error.required}">
                    <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="A alteração do status influencia na disponibilidade da página no portal."></i>
                    <label>Status: </label>
                    <select class="form-control" ng-model="vm.preSaveStatus" placeholder="Selecione o status da publicação">
                        <option ng-repeat="item in ['draft', 'published', 'scheduled'] track by $index" ng-value="item">{{item | translate}}</option>
                    </select>
                    <div ng-show="formPub.$submitted || formPub.pickStatus.$touched" class="error-message" role="alert">
                        <div ng-show="formPub.pickStatus.$error.required">Campo obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="date">
                <select-date-time
                    input-label="Data início:"
                    id-date="initDatea"
                    id-time="initTime"
                    model-date="target.dateInit"
                    model-time="target.timeInit"></select-date-time>
            </div>
        </div>
    </div>
</form>
