<script type="text/x-lodash-template" id="redactor-template-figure-vertical">
    <figure class="figure-removable  vertical figure-image">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
                <small><%= author %></small>
        </figcaption>
    </figure>
</script>

<script type="text/x-lodash-template" id="redactor-template-figure-medium">
    <figure class="figure-removable medium figure-image">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
                <small><%= author %></small>
        </figcaption>
    </figure>
</script>

<script type="text/x-lodash-template" id="redactor-template-audio">
    <figure class="figure-removable figure-audio">
        <audio controls data-url="<%= url %>" data-title="<%= title %>">
            <source src="<%= url %>" type="audio/mpeg">
        </audio>
        <figcaption>
                <%= title %>
            </figcaption>
    </figure>
</script>

<script type="text/x-lodash-template" id="redactor-template-files">

    <% if (isList == true)  { %>
        <figure class="figure-removable figure-files">
            <img class="file-list-img" src="assets/img/file-icon.png" data-file="<%= url %>|<%= type %>|list" title="<%=title %>" alt="<%=title %>">
            <figcaption class="file-list-caption">
                <%= title %> -
                    <%= type %>
            </figcaption>
        </figure>
        <% } %>
            <% if (isIcon == true)   { %>
                <figure class="figure-removable figure-file">
                    <img class="file-icon-img" src="assets/img/file-icon.png" data-file="<%=url %>|<%=type %>|icon" title="<%=title %>" alt="<%=title %>">
                    <figcaption class="file-icon-caption">
                        <%= title %> -
                            <%= type %>
                    </figcaption>
                </figure>
                <% }%>

</script>
