<!-- Figure Templates -->
<script type="text/x-lodash-template" id="redactor-template-figure-vertical">
    <p><br></p>
    <figure class="vertical">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
            <small><%= author %></small>
        </figcaption>
    </figure>
    <p><br></p>
    <p><br></p>
</script>

<script type="text/x-lodash-template" id="redactor-template-figure-medium">
    <p><br></p>
    <figure class="medium">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
            <small><%= author %></small>
        </figcaption>
    </figure>
    <p><br></p>
    <p><br></p>
</script>

<script type="text/x-lodash-template" id="redactor-template-figure-big">
    <p><br></p>
    <section class="widget widget--big">
        <figure class="big">
            <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
            <figcaption>
                <%= legend %>
                <small><%= author %></small>
            </figcaption>
        </figure>
    </section>
    <p><br></p>
    <p><br></p>
</script>

<script type="text/x-lodash-template" id="redactor-template-figure-wide">
    <p><br></p>
    <section class="widget widget--full">
        <figure class="wide">
            <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
            <figcaption>
                <%= legend %>
                <small><%= author %></small>
            </figcaption>
        </figure>
    </section>
    <p><br></p>
    <p><br></p>
</script>

<script type="text/x-lodash-template" id="redactor-template-audio">
    <p><br></p>
    <audio controls>
        <source src="<%= url %>" type="audio/mpeg">
    </audio>
    <label> <%= author %> </label>
    <p><br></p>
    <p><br></p>
</script>

<script type="text/x-lodash-template" id="redactor-template-files">
    <div>
        <p><br></p>
        <div class="file">
            <div class="file__icon"><span class="icon  icon--<%= type %>"></span><span class="icon-value"></span></div>
            <p class="file__title"><%= title %></p>
        </div>
        <p><br></p>
        <p><br></p>
    </div>
</script>
