<!-- Figure Templates -->
<script type="text/x-lodash-template" id="figure-vertical">
    <p>
        <br>
    </p>
    <figure class="vertical">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
            <small><%= author %></small>
        </figcaption>
    </figure>
    <p></p>
    <p></p>
</script>

<script type="text/x-lodash-template" id="figure-medium">
    <p>
        <br>
    </p>
    <figure class="medium">
        <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
        <figcaption>
            <%= legend %>
            <small><%= author %></small>
        </figcaption>
    </figure>
    <p></p>
    <p></p>
</script>

<script type="text/x-lodash-template" id="figure-big">
    <p>
        <br>
    </p>
    <section class="widget widget--big">
        <figure class="big">
            <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
            <figcaption>
                <%= legend %>
                <small><%= author %></small>
            </figcaption>
        </figure>
    </section>
    <p></p>
    <p></p>
</script>

<script type="text/x-lodash-template" id="figure-wide">
    <p>
        <br>
    </p>
    <section class="widget widget--full">
        <figure class="wide">
            <img src="<%= url %>" title="<%= author %>" alt="<%= legend %>">
            <figcaption>
                <%= legend %>
                <small><%= author %></small>
            </figcaption>
        </figure>
    </section>
    <p></p>
    <p></p>
</script>

<script type="text/x-lodash-template" id="audio">
    <p>
        <br>
    </p>
    <audio controls>
        <source src="<%= url %>" type="audio/mpeg">
    </audio>
    <label> <%= author %> </label>
    <p></p>
    <p></p>
</script>
