<div class="page-title">
    <div class="row flex-center">
        <div class="col-md-6">
            <div class="title-env">
                <h1 class="title">
                    <span ng-if="edition.id">
                       <span ng-if="edition.theme">Editar Edição - {{ edition.theme }}</span>
                    <span ng-if="!edition.theme">Editar Edição</span>
                    </span>
                    <span ng-if="!edition.id">
                       <span ng-if="edition.theme">Nova Edição - {{ edition.theme }}</span>
                    <span ng-if="!edition.theme">Nova Edição</span>
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1">
                    <li>
                        <a href="#/">
                           <i class="fa-home"></i>Home
                       </a>
                    </li>

                    <li>
                        <a ng-href="#/periodicals">Publicações Jornalísticas</a>
                    </li>

                    <li>
                        <a ng-href="#/periodicals/{{ periodical.id }}/editions">{{ periodical.name }}</a>
                    </li>

                    <li ng-if=!edition.theme class=active><strong>Nova Edição</strong></li>
                    <li ng-if=edition.theme class=active><strong>{{ edition.theme }}</strong></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 panel panel-default">
        <form class="form" name="formData" novalidate>
            <div class="">
                <div class="row">
                    <div class=col-xs-12>
                        <div class=form-group ng-class="{'has-error': formData.theme.$error.required && !formData.theme.$valid}">
                            <label>Tema:</label>
                            <input type="text" ng-model="edition.theme" class="form-control" name="theme" required>

                            <div ng-show="!formData.theme.$valid" class="error-message" role="alert">
                                <div ng-show="formData.theme.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=col-xs-12>
                        <div class=form-group>
                            <label>Slug:</label>
                            <input type="text" ng-model="edition.slug.slug" class="form-control" name="slug">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=col-xs-12>
                        <div class=form-group ng-class="{'has-error': formData.resume.$error.required && !formData.resume.$valid}">
                            <label>Resumo/Sinopse:</label>

                            <textarea class="form-control" ng-model="edition.resume" rows="5" name="resume" required>
                            {{ edition.resume }}
                        </textarea>

                            <div ng-show="!formData.resume.$valid" class="error-message" role="alert">
                                <div ng-show="formData.resume.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=row>
                    <div class=col-xs-4>
                        <div class="form-group" ng-class="{'has-error': formData.number.$error.required && !formData.number.$valid}">
                            <label>Número:</label>
                            <input type="number" min="1" ng-model="edition.number" value="{{ edition.number }}" class="form-control" name="number" required>

                            <div ng-show="!formData.number.$valid" class="error-message" role="alert">
                                <div ng-show="formData.number.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="form-group" ng-class="{'has-error': formData.initDate.$error.required && !formData.initDate.$valid}">
                            <label>Data da Edição:</label>
                            <div class="input-group input-group-sm form-control remove-padding">
                                <label for="initDate" class="input-group-addon fix-icon">
                                    <span class="fa fa-calendar"></span>
                                </label>
                                <input id="initDate" ng-change="getYear()" type="text" name="initDate" class="form-control remove-border" ng-model="edition.publish_date"
                                    ng-click="datepickerOpt.initDate.open(vm, $event)" uib-datepicker-popup="{{ datepickerOpt.initDate.format }}"
                                    datepicker-options="datepickerOpt.initDate.dateOptions" is-open="datepickerOpt.initDate.status.opened"
                                    clear-text="Limpar" close-text="Fechar" current-text="Hoje" required model-view-value="true">
                            </div>
                            <div ng-show="!formData.initDate.$valid" class="error-message" role="alert">
                                <div ng-show="formData.initDate.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group" ng-class="{'has-error': formData.year.$error.required && !formData.year.$valid}">
                            <label>Ano:</label>
                            <input type="text" ng-model="edition.year" value="edition.year" class="form-control" name="year" required>

                            <div ng-show="!formData.year.$valid" class="error-message" role="alert">
                                <div ng-show="formData.year.$error.required">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pages-module add-module">
                                <div class="chosen-cover">
                                    <a href="javascript:void(0);" class="label label-danger remove-image" ng-click="removeImage('pdf')" ng-show="edition.pdf">
                                <i class="fa fa-remove"></i> REMOVER
                            </a>
                                </div>
                                <div class="add-title" ng-click="uploadPDF()" ng-show=!edition.pdf>
                                    + Adicionar PDF
                                </div>
                                <div class="uploaded-image" ng-show="edition.pdf">
                                    <div class="file-icon file-icon-lg" data-type="pdf"></div>
                                    <label>{{edition.legend}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=row>
                    <div class=col-xs-12>
                        <div class="pages-module add-module edition-bg-thumb">
                            <div class="add-title" ng-show="!edition.background" ng-click="uploadImage('background')">+ Adicionar Imagem de Fundo
                            </div>

                            <div ng-show=edition.background>
                                <div class="chosen-cover">
                                    <span class="label label-danger remove-image" ng-click="removeImage('background')">
                                    <i class="fa fa-remove"></i> REMOVER IMAGEM
                                </span>
                                </div>

                                <div class=uploaded-image>
                                    <img class="img-responsive" ng-src="{{ edition.background_url }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=row>
                    <div class="col-md-8">
                        <div as-sortable=sortableOptions ng-model=edition.articles>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="article in edition.articles" as-sortable-item class=pages-module>
                                        <div class="row flex-center">
                                            <div class="col-md-10">
                                                <div class="article-summary">
                                                    <div class="article-summary-left">
                                                        <div class=wide-arrow></div>
                                                        <div class=article-summary-title>{{ article.title }}</div>
                                                    </div>
                                                    <div class="article-summary-number"><strong>Pág. {{ article.page_number }}</strong></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <span ng-click="openArticle(this, $index, article)" class="label label-warning">
                                                                            <i class="fa fa-pencil"></i> EDITAR
                                                                        </span>
                                                <span ng-click="removeArticle($index, article)" class="label label-danger">
                                                                            <i class="fa fa-remove"></i> REMOVER
                                                                        </span>
                                                <span as-sortable-item-handle class="label label-primary">
                                                                            <i class="fa fa-arrows-v"></i> MOVER
                                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pages-module add-module" ng-click="handleArticle(this)">
                                        <span class="add-title">+ Adicionar Artigo</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=col-xs-4>
                        <div class=edition-cover-container>
                            <div class="pages-module add-module edition-cover-thumb">
                                <div class="add-title" ng-show="!edition.cover" ng-click="uploadImage('cover')">
                                    +
                                    <br>Capa Digitalizada
                                </div>

                                <div ng-show=edition.cover>
                                    <div class=chosen-cover>
                                        <span ng-click="removeImage('cover')" class="label label-danger remove-image">
                                        <i class="fa fa-remove"></i> REMOVER IMAGEM
                                    </span>
                                    </div>

                                    <div class="uploaded-image edition-cover-image">
                                        <img class="img-responsive" ng-src="{{ edition.cover_url }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>

    <div class=col-xs-4>
        <publishment-options route-model="edition" back="periodicals/{{ periodical.id }}/editions"></publishment-options>
    </div>
</div>
