<div class="page-title">
   <div class="row flex-center">
       <div class="col-md-6">
           <div class="title-env">
               <h1 class="title">{{ periodical.name }}</h1>
           </div>
       </div>
       <div class="col-md-6">
           <div class="breadcrumb-env">

               <ol class="breadcrumb bc-1">
                   <li>
                       <a href="#/">
                           <i class="fa-home"></i>Home
                       </a>
                   </li>

                   <li class="">
                       <a href="#/periodicals">
                           Publicações Jornalísticas
                       </a>
                   </li>

                   <li class="active">
                       <a href="#/periodicals/{{ periodical.id }}/editions">
                           <strong>{{ periodical.name }}</strong>
                       </a>
                   </li>
               </ol>
           </div>
       </div>
   </div>
</div>

<div class=row>
    <div class=col-xs-12>
        <div class="panel panel-default">
            <div class="btn-toolbar">
                <a ng-href="#/periodicals" class="btn btn-gray"><i class="fa fa-angle-left"></i> &nbsp;Voltar para Publicações Jornalísticas</a>
                <div class=pull-right>
                    <a ng-href="#/periodicals/{{ periodical.id }}/edition/new"
                       class="btn btn-secondary btn-lg pull-left"><i class="fa fa-plus"></i> NOVA EDIÇÃO</a>
                </div>
            </div>

            <div class="panel-body">
                <table datatable=ng dt-options=dtOptions class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Usuário</th>
                        <th>Data da Publicação</th>
                        <th>Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr role=row ng-repeat="item in editions.items | filter: search | filter: { status: itemStatus } | orderBy: '-number'"
                        class=odd>
                        <td>
                            <a ng-href="#/periodicals/{{ periodical.id }}/edition/edit/{{ item.id }}">
                                <strong>{{ item.number }}</strong> {{ item.theme }}
                            </a>
                        </td>

                        <td>{{ item.author.name }}</td>

                        <td>
                            <strong>{{ convertDate(item.publish_date) }}</strong><br>
                            <small>{{ item.status|translate|titleize }}</small>
                        </td>

                        <td class="table-fit">
                            <a uib-tooltip="Visualizar" class="btn btn-primary"
                               href="{{ item.edition_url }}" target="_blank">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a uib-tooltip="Editar" class="btn btn-warning"
                               ng-href="#/periodicals/{{ periodical.id }}/edition/edit/{{ item.id }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a uib-tooltip="Excluir" ng-click="removeEdition(item.id, item.theme)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
