.week-days {
    display: flex;
    justify-content: space-between;
    float: none;
    border-bottom: 5px solid #757575
}

label {
    color: #000;
}

.btn-add {
    margin-top: 25px;
}

.children {
    display: inline-block;
    padding-left: 30px;
    font-weight: bold;
}

.parent {
    font-weight: bold;
    color: #000;
}

.area-add {
    margin: 30px 0;
}