.modal-time-grid {
    max-height: 40vh;
    overflow: auto;
    .title-child {
        margin: 5% 0;
        overflow-wrap: break-word;
    }
    .helper {
        padding: 15px 0;
    }

    .list-childs {
        margin: 0;
        list-style: none;
        padding: 0;
        color: #737373;
    }
    .list-childs > .item-child {
        border: 1px solid rgba(45, 45, 45, 0.15);
        box-shadow: 0px 2px 5px 0px rgb(134, 132, 132);
        margin: 10px 0;
        padding: 5px;
        label {
            font-size: .9em;
        }
    }
}
