<div class="modal-header">
    <h3 class="modal-title">{{ vm.program.title }}</h3>
    <small>{{ vm.time.timeStart }} às {{ vm.time.timeEnd }}</small>
</div>
<div class="modal-body">
    <div class="row" ng-repeat="child in vm.program.children">
        <div class="col-md-4 title-child">
            <span class="title">{{ child.title }}</span>
        </div>
        <div class="col-md-4 form-group" ng-class="{'has-error': vm.requiredForm && !child.time_start}">
            <label>Ínicio:</label>
            <input ng-model="child.time_start" type="time" class="form-control">
        </div>
        <div class="col-md-4 form-group" ng-class="{'has-error': vm.requiredForm && !child.time_end}">
            <label>Fim:</label>
            <input ng-model="child.time_end" type="time" class="form-control">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.dismiss()"><i class="fa fa-times"></i> Cancelar
    </button>
    <button class="btn btn-success" ng-click="vm.saveItem()"><i class="fa fa-check"></i> Salvar
    </button>
</div>