.modal-time-grid {
    max-height: 40vh;
    overflow: auto;
    .title-child {
        margin: 5% 0;
        overflow-wrap: break-word;
    }
    .helper {
        padding: 15px 0;
    }

    .list-childs {
        margin: 0;
        list-style: none;
        padding: 0;
        color: #737373;
    }
    .list-childs > .item-child {
        border: 1px solid rgba(45, 45, 45, 0.15);
        margin: 10px 0;
        padding: 5px;
        background-color: rgba(204, 204, 204, 0.15);
        label {
            font-size: .9em;
        }
    }
}
